Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

AEA-3088 Update EPSAT to produce primary care format of a create prescription request for secondary care prescriber (#1422)
  packages/tool/e2e-tests/dispense/verifyPrescription.spec.ts
  packages/tool/site/client/src/pages/loadPage.tsx
  packages/tool/site/client/src/services/test-packs/index.ts
  packages/tool/site/client/src/services/test-packs/placeResources.ts
Due: lint-epsat-client, build-epsat

corrects naming conventions
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Prepare-Response-200_OK.json
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

use utf-8 to get certificate string
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

show old key
  azure/azure-release-template.yml
Due: none

get cert another way
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

use base64 encoding to sign
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

change verify to use x509 object
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

fix display
  azure/azure-release-template.yml
Due: none

fix verify
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

revert everything to original
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

branch off int release
  azure/azure-release-template.yml
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

run against dev
  azure/azure-release-template.yml
Due: none

log verify bundle issues
  packages/coordinator/src/routes/prescribe/prepare.ts
Due: lint-coordinator, build-coordinator

Update the validator version to v1.0.107-alpha
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

updates prescriptions to use new organization format
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

spellchecker approved words
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

deploy to qa
  azure/azure-pr-pipeline.yml
Due: none

do not deploy to qa as does not work
  azure/azure-pr-pipeline.yml
Due: none

check certs in internal-dev
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

try with broken cert
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

adds handling for no provided dosage instructions
  packages/coordinator/src/services/translation/common/dosage-instructions.ts
Due: lint-coordinator, build-coordinator

adds unit tests
  packages/coordinator/tests/services/translation/common/dosage-instructions.spec.ts
Due: lint-coordinator, build-coordinator

test against internal-qa
  azure/azure-release-template.yml
Due: none

revert changes for internal-dev
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

get certificate value for e2e tests signing correctly
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

Change the examples variable to operation-outcome-success
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

fix testing against qa
  azure/azure-release-template.yml
Due: none

fixes typo
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

do not override tests
  azure/azure-release-template.yml
Due: none

do not show old cert
  azure/azure-release-template.yml
Due: none

rollback changes from master
  azure/azure-pr-pipeline.yml
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

fix rollback
  azure/azure-release-template.yml
Due: none

Bumps gitpython
  poetry.lock
  pyproject.toml
Due: none

merge from master
  azure/azure-release-template.yml
Due: none

use ignore-scripts for all npm ci commands
  Makefile
  azure/azure-release-template.yml
  packages/e2e-tests/Makefile
  packages/specification/Makefile
  packages/tool/azure/azure-release-template.yml
Due: none

updates concatenation code and handling of discontinuous instructions
  packages/coordinator/src/services/translation/common/dosage-instructions.ts
  packages/coordinator/tests/services/translation/common/dosage-instructions.spec.ts
Due: lint-coordinator, build-coordinator

do not use --ignore-scripts for install-node target
  Makefile
Due: none

Revert "use ignore-scripts for all npm ci commands"
  Makefile
  azure/azure-release-template.yml
  packages/e2e-tests/Makefile
  packages/specification/Makefile
  packages/tool/azure/azure-release-template.yml
Due: none

AEA-3185 add --ignore-scripts to dockerfile npm commands (#1429)
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
