Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Made SDS-role-profile-id optional
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Restore the verifyIdenticalForAllMedicationRequests validation
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Lint fix
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Fix verifyRepeatDispensingPrescription validation
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

fix epsat server so it builds
  Dockerfile.api
  Dockerfile.epsat
  package-lock.json
  packages/tool/site/server/package.json
  packages/tool/site/server/src/app.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
  packages/tool/site/server/tsconfig.json
Due: lint-epsat-server, build-epsat

fix license-checker for epsat
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

refactor makefile
  Makefile
Due: none

fix e2e pact tests on deployment
  Makefile
  azure/azure-release-template.yml
  packages/e2e-tests/tsconfig-deploy.json
Due: none

fix check for smoke tests
  azure/azure-release-template.yml
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

fix publish build artifact
  azure/azure-release-template.yml
Due: none

fix docker-compose
  packages/tool/docker-compose.yml
Due: none

AEA-2848 - Added ReadMe instructions
  packages/bdd-tests/README.md
  packages/bdd-tests/features/dispensenotification.feature
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/src/configs/spec.ts
Due: none

Allowed sds-identifier to not be provided on practitioner role on release.
  packages/coordinator/src/services/translation/response/common.ts
  packages/coordinator/src/services/translation/response/practitioner-role.ts
  packages/models/hl7-v3/agent-person.ts
Due: lint-models, lint-coordinator, build-coordinator

AEA-2848 - Fixed Sonar Security Issue
  packages/bdd-tests/util/genId.ts
Due: none

Change variable values to MedicationRequest.extension
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Lint fix
  packages/coordinator/src/services/translation/response/practitioner-role.ts
Due: lint-coordinator, build-coordinator

reverted changes to switch, changes default behaviour
  packages/coordinator/src/services/translation/response/common.ts
Due: lint-coordinator, build-coordinator

fix get apigee token in e2e tests
  package-lock.json
  packages/e2e-tests/package.json
Due: none

fix epsat testing
  Makefile
  packages/tool/azure/azure-release-template.yml
Due: none

fix epsat release
  Makefile
Due: none

fix getting token correctly
  azure/azure-release-template.yml
Due: none

remove unused file
  packages/tool/site/client/package.json.devDependencies
Due: none

fix epsat
  Dockerfile.epsat
  package-lock.json
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

fix publish test results
  packages/tool/azure/azure-release-template.yml
Due: none

update dependabot to work
  .github/dependabot.yml
Due: none

move dockerfiles
  .github/dependabot.yml
  packages/coordinator/.dockerignore
  packages/coordinator/Dockerfile
  packages/coordinator/ecs-proxies-containers.yml
  packages/tool/docker-compose.yml
  packages/tool/ecs-proxies-containers.yml
  packages/tool/site/.dockerignore
  packages/tool/site/Dockerfile
Due: none

tidy up makefile
  Makefile
  poetry.lock
  pyproject.toml
Due: none

make poetry use a local .venv folder
  .gitignore
  poetry.toml
Due: none

extend clean
  Makefile
Due: none

move common packages to root
  package-lock.json
  package.json
  packages/coordinator/package.json
  packages/models/package.json
  packages/specification/package.json
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Change 1 in README
  README.md
Due: none

more moving modules to common location
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-epsat-client, lint-epsat-server, build-epsat

move typescript to common
  package-lock.json
  packages/coordinator/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

more removing common modules
  package-lock.json
  packages/tool/e2e-tests/package.json
Due: none

fix code smells in dockerfile
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
Due: none

fix workspace install
  Makefile
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
Due: none
