Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Fix: [AEA-0000] - fix enviroment in cloudformation (#3151)
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

use epsat to talk proxygen
  packages/tool/site/client/src/pages/configPage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/server/src/routes/config/config.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

fix comparisson
  packages/tool/site/client/src/pages/configPage.tsx
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

update snapshot
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
Due: none

put logging in better place
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

add a convert path
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

set an epsat request id
  .gitallowed
  packages/tool/site/client/src/requests/axiosInstance.ts
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/claimPage.spec.tsx
  packages/tool/site/client/tests/pages/dispensePage.spec.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

use x-correlation-id
  packages/tool/site/client/src/requests/axiosInstance.ts
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/server/src/routes/api/convert.ts
  packages/tool/site/server/src/routes/api/send.ts
  packages/tool/site/server/src/routes/dispense/claim.ts
  packages/tool/site/server/src/routes/dispense/dispense.ts
  packages/tool/site/server/src/routes/dispense/release.ts
  packages/tool/site/server/src/routes/dispense/return.ts
  packages/tool/site/server/src/routes/dispense/withdraw.ts
  packages/tool/site/server/src/routes/dose-to-text.ts
  packages/tool/site/server/src/routes/prescribe/cancel.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/routes/tracker/tracker.ts
  packages/tool/site/server/src/routes/util.ts
  packages/tool/site/server/src/routes/validate/validator.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

remove more console.logs
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/auth/login.ts
Due: lint-epsat-server, build-epsat

remove convert endpoint from published spec
  .github/scripts/deploy_api.sh
Due: none

show epsat config page in all environments
  .gitallowed
  packages/tool/site/client/src/components/pageHeader.tsx
  packages/tool/site/client/src/pages/configPage.tsx
  packages/tool/site/server/src/app.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

remove unused spaces
  packages/tool/site/client/src/pages/configPage.tsx
Due: lint-epsat-client, build-epsat

no need for a var
  packages/tool/site/client/src/requests/axiosInstance.ts
Due: lint-epsat-client, build-epsat

update snapshots
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

do not need environments to work for epsat deployment
  packages/tool/azure/azure-release-pipeline.yml
Due: none

update snapshots
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

use an enum
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

fix tracker in proxygen epsat
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

Fix: [AEA-0000] - set docker_service_desired_capacity (#3140)
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

Add some extra tests
  packages/coordinator/tests/model/fhir-datatypes-codes.spec.ts
Due: lint-coordinator, build-coordinator

have a default sandbox party key
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/utils/headers.spec.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - fix sandbox deployments (#3158)
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/utils/headers.spec.ts
Due: lint-coordinator, build-coordinator

Add ping endpoint
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, build-coordinator

set default config for dev
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/prescribe/editPrescription.spec.ts
  packages/tool/site/client/src/pages/configPage.tsx
  packages/tool/site/client/src/pages/loginPage.tsx
  packages/tool/site/client/tests/pages/loginPage.spec.tsx
  packages/tool/site/server/src/routes/config/config.ts
  packages/tool/site/server/src/routes/index.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

check config correctly
  packages/tool/site/client/src/pages/configPage.tsx
Due: lint-epsat-client, build-epsat

more tests
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/configPage.spec.tsx
Due: lint-epsat-client, build-epsat

test for header
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/pageHeader.spec.tsx
Due: lint-epsat-client, build-epsat

sonar tweaks
  packages/tool/site/client/src/components/pageHeader.tsx
  packages/tool/site/client/src/pages/configPage.tsx
  packages/tool/site/client/tests/components/pageHeader.spec.tsx
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

lower timeout for api
  packages/tool/e2e-tests/helpers.ts
Due: none

Fix: [AEA-0000] - Retry epsat tests (#3119)
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/jest.config.js
  packages/tool/e2e-tests/jest.setup.tsx
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/prescribe/sendPrescription.spec.ts
  packages/tool/e2e-tests/sandbox.test.ts
Due: none

add new client to int sha1 list
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

Fix: [AEA-4998] - add new client to INT sha1 list (#3163)
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

do not require asid in qa
  azure/azure-release-pipeline.yml
Due: none

Fix: [AEA-0000] - do not require asid in qa apim deployment (#3164)
  azure/azure-release-pipeline.yml
Due: none

use a different function for dispense in epsat
  packages/tool/site/server/src/routes/dispense/dispense.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

Fix: [AEA-5022] - use a different function for dispense in epsat (#3165)
  packages/tool/site/server/src/routes/dispense/dispense.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

Add version field so tests pass
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
