Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

correct sandbox deploy
  .github/scripts/deploy_api.sh
Due: none

correct SHA1EnabledApplicationIds
  .github/workflows/cdk_release_code.yml
Due: none

fix getting pr number
  .github/scripts/deploy_api.sh
Due: none

no regression test for sandbox
  .github/workflows/pull_request.yml
Due: none

do not name the truststore
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

script to set values in cdk.json
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
Due: none

debug in fix_cdk script
  .github/scripts/fix_cdk_json.sh
Due: none

add scaling
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  cdk.json
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

tidy up cdk_release_code
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: none

use cdk everywhere
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

fix fix_cdk_json
  .github/scripts/fix_cdk_json.sh
Due: none

update docs
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  README.md
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  samconfig_package_and_deploy.toml
Due: none

update comment
  .github/scripts/fix_cdk_json.sh
Due: none

correct resource id
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

update validator in correct location
  scripts/update_validator_version.sh
Due: none

log incoming requests on eps hosted
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

pass app name through
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

update gitallowed
  .gitallowed
Due: none

fix security
  packages/coordinator/src/routes/metadata.ts
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

use different method to log payload
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

correct replacement
  .github/scripts/deploy_api.sh
Due: none

more logging improvements
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

return different capability statements based on appliciationb
  packages/coordinator/src/routes/metadata.ts
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

log response for errors
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

buffer to string
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

add missing toString()
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

add gitallowed for cdk branch
  .gitallowed
Due: none

scale up capacity for month end
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

do not need application id for metadata
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

log payload on error or warning response
  .gitallowed
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - Increase capacity for February month end (#3199)
  .gitallowed
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

unit tests for logging
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

log invalid headers correctly
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

fix test
  packages/coordinator/src/server.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

get it working
  packages/coordinator/src/server.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

debug
  packages/coordinator/src/routes/metadata.ts
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

better tests
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

better tests
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

correct header
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
