Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Revert "adds lowercase tests"
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator

Revert "refactors for duplication"
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator

Revert "adds reinbursement validation"
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

Fix: [AEA-4528] - Revert code commit for AEA-4358 (#2808)
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

Fix: [AEA-0000] - add a tag to truststore so remove and add works (#2807)
  SAMtemplates/load_balancer/main.yaml
Due: none

change the title of the api
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Allowed new lines on the end of certificates in signatures.
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignature.xml
Due: lint-coordinator, build-coordinator

Fix: [AEA-4527] - Allowed new lines on the end of certificates in signatures. (#2813)
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignature.xml
Due: lint-coordinator, build-coordinator

Updated Author and Responsible Party
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Updated Author and Responsible Party
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

Updated Author and Responsible Party
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
Due: oas-build-checks

Updated Author and Responsible Party
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
Due: oas-build-checks

Updated Author and Responsible Party
  packages/specification/schemas/components/Provenance/Provenance.yaml
Due: oas-build-checks

Update Author and Responsible Party
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
Due: oas-build-checks

Revert "Fix: [AEA-4528] - Revert code commit for AEA-4358 (#2808)"
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

New: [AEA-4358] - Enable Validate Reimbursement Authority (#2830)
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

Add Spine secrets to container environment variables
  SAMtemplates/load_balancer/main.yaml
Due: none

Add spineClientConfig function with logs
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
Due: lint-coordinator, build-coordinator

Add hardcoded secrets and outputs for testing
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
Due: lint-coordinator, build-coordinator

Amend hardcoded HCSpineCAChainARN output value
  SAMtemplates/main_template.yaml
Due: none

Use the Secrets property in the ECS task definition
  SAMtemplates/load_balancer/main.yaml
Due: none

Use a simple string for ValueFrom
  SAMtemplates/load_balancer/main.yaml
Due: none

Use Sub to dynamically construct the ARN
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Comment out Secrets values
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Use ImportValue to get Secrets
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Cleanup the code
  SAMtemplates/load_balancer/main.yaml
Due: none

Docs: [AEA-4426] - OAS Update - Update Author, Authored and Responsible Party in the 'Mark a prescription as dispensed (#2824)
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
Due: oas-build-checks

Docs: [AEA-4424] - Update Author, Authored and Responsible Party in the 'Create a new prescription' (#2823)
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
Due: oas-build-checks

Add AccessSecretsPolicy and KMSDecryptSecretsPolicy to ECSTaskExecutionRole
  SAMtemplates/load_balancer/main.yaml
Due: none

Amend ManagedPolicyArns imports
  SAMtemplates/load_balancer/main.yaml
Due: none

Remove the unnecessary property
  SAMtemplates/load_balancer/main.yaml
Due: none

Fix import policies values
  SAMtemplates/load_balancer/main.yaml
Due: none

Remove redundant comments
  SAMtemplates/main_template.yaml
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
Due: lint-coordinator, build-coordinator

add suppression
  SAMtemplates/load_balancer/main.yaml
Due: none

Add SPINE_URL env variable for testing
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
