Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Multiline string
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

Populate default at creation with a constructor
  packages/models/fhir/patient.ts
Due: lint-models, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Docs: [AEA-4422] - Include the Reimbursement Authority ODS Codes in the Dispense Notification (#3028)
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

Alter wording in all schemas
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Update enum too
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Update MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Update DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
Due: oas-build-checks

Update ReleaseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Update CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
Due: oas-build-checks

Update Return.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

Update Withdraw.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Update CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
Due: oas-build-checks

Fix: [AEA-4899] - Fix handling of weirdly formatted quantities (#3025)
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
Due: lint-coordinator, build-coordinator

Docs: [AEA-4271] - Info on intent value in schema needs updating (#3047)
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Add unit tests
  packages/coordinator/tests/model/fhir-datatypes-codes.spec.ts
Due: lint-coordinator, build-coordinator

Correct example
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

Fix: [AEA-4443] - Use V81999 when there is no registered GP practice (#3029)
  packages/coordinator/tests/model/fhir-datatypes-codes.spec.ts
  packages/models/fhir/patient.ts
Due: lint-models, lint-coordinator, build-coordinator

fix building sandbox
  .github/workflows/run_package_code_and_api.yml
Due: none

fix scope
  packages/coordinator/src/services/validation/scope-validator.ts
Due: lint-coordinator, build-coordinator

Fix poor wording
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
Due: oas-build-checks

update readme
  packages/e2e-tests/README.md
Due: none

Update wording
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
Due: oas-build-checks

Update wording
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Update: [AEA-4475] - Alter telecom wording (#3041)
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Bump validator version tag
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Bump version tag again
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none
