Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

change order vars evaluated
  .github/workflows/run_pact_tests.yml
Due: none

Fix: [AEA-0000] - fix pact tests (again) (#3103)
  .github/workflows/run_pact_tests.yml
Due: none

getting validator logs
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

set correct log level
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

log request/response in epsat
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

log stuff better in epsat
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

do not reject errors
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

logging on calls to validator
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

really make sure details are passed to validator
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

use old validator
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

remove validator logging
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

exclude epsat server from coverage
  sonar-project.properties
Due: none

really use latest validator
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

pass headers to validator
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

publish bdd results
  azure/templates/run_tests.yml
Due: none

remove : in filename
  packages/bdd-tests/src/configs/api.ts
Due: none

write to seperate error folder
  packages/bdd-tests/src/configs/api.ts
Due: none

New: [AEA-4895] - add validate path to proxygen apis (#3089)
  .github/scripts/deploy_api.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
  packages/specification/combineSpec.mjs
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/tool/site/server/src/services/communication/eps-client.ts
  scripts/run_regression_tests.py
  sonar-project.properties
Due: lint-coordinator, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

correct bdd tests
  packages/bdd-tests/features/createPrescription.feature
Due: none

fix tests
  packages/bdd-tests/features/createPrescription.feature
Due: none

use the new tests
  scripts/run_regression_tests.py
Due: none

use new regression test tag
  scripts/run_regression_tests.py
Due: none

increase cpu in prod ecs
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

Update: [AEA-4443] - Bump FHIR validator version (#3065)
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/src/configs/api.ts
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
  scripts/update_validator_version.sh
Due: none

create empty path for bdd results
  azure/templates/run_tests.yml
Due: none

Fix: [AEA-0000] - create empty path for bdd results (#3112)
  azure/templates/run_tests.yml
Due: none

retry epsat failures
  packages/tool/e2e-tests/jest.config.js
  packages/tool/e2e-tests/jest.setup.tsx
Due: none

only retry 3 times
  packages/tool/e2e-tests/jest.setup.tsx
Due: none

use chrome
  packages/tool/e2e-tests/auth/login.spec.ts
  packages/tool/e2e-tests/auth/logout.spec.ts
  packages/tool/e2e-tests/dispense/amendDispense.spec.ts
  packages/tool/e2e-tests/dispense/claimAmendPrescription.spec.ts
  packages/tool/e2e-tests/dispense/claimPrescription.spec.ts
  packages/tool/e2e-tests/dispense/dispensePrescription.spec.ts
  packages/tool/e2e-tests/dispense/releasePrescription.spec.ts
  packages/tool/e2e-tests/dispense/returnPrescription.spec.ts
  packages/tool/e2e-tests/dispense/withdrawPrescription.spec.ts
  packages/tool/e2e-tests/dose-to-text/doseToText.spec.ts
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/editPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/prescriptionPagination.spec.ts
  packages/tool/e2e-tests/prescribe/sendPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/sendPrescriptionsFromTestPack.spec.ts
  packages/tool/e2e-tests/prescribe/sendRepeatPrescriptionsFromTestPack.spec.ts
  packages/tool/e2e-tests/sandbox.test.ts
  packages/tool/e2e-tests/tracker/searchPrescription.spec.ts
  packages/tool/e2e-tests/validator/validateFhirResource.spec.ts
Due: none

more options
  packages/tool/e2e-tests/live.test.ts
Due: none

remove stuff
  package-lock.json
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/package.json
Due: none

revert changes
  package-lock.json
  packages/tool/e2e-tests/README.md
  packages/tool/e2e-tests/auth/login.spec.ts
  packages/tool/e2e-tests/auth/logout.spec.ts
  packages/tool/e2e-tests/dispense/amendDispense.spec.ts
  packages/tool/e2e-tests/dispense/claimAmendPrescription.spec.ts
  packages/tool/e2e-tests/dispense/claimPrescription.spec.ts
  packages/tool/e2e-tests/dispense/dispensePrescription.spec.ts
  packages/tool/e2e-tests/dispense/releasePrescription.spec.ts
  packages/tool/e2e-tests/dispense/returnPrescription.spec.ts
  packages/tool/e2e-tests/dispense/withdrawPrescription.spec.ts
  packages/tool/e2e-tests/dose-to-text/doseToText.spec.ts
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/package.json
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/editPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/prescriptionPagination.spec.ts
  packages/tool/e2e-tests/prescribe/sendPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/sendPrescriptionsFromTestPack.spec.ts
  packages/tool/e2e-tests/prescribe/sendRepeatPrescriptionsFromTestPack.spec.ts
  packages/tool/e2e-tests/sandbox.test.ts
  packages/tool/e2e-tests/tracker/searchPrescription.spec.ts
  packages/tool/e2e-tests/validator/validateFhirResource.spec.ts
Due: none

tweak things
  packages/tool/e2e-tests/README.md
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/sandbox.test.ts
Due: none

Revert "Update: [AEA-4443] - Bump FHIR validator version (#3065)"
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/src/configs/api.ts
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
  scripts/update_validator_version.sh
Due: none

get latest version
  azure/templates/run_tests.yml
  packages/bdd-tests/src/configs/api.ts
  packages/coordinator/ecs-proxies-deploy-prod.yml
  scripts/update_validator_version.sh
Due: none

Fix: [AEA-0000] - revert "Update: [AEA-4443] - Bump FHIR validator version (#3065)" (#3122)
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: none

version bump
  README.md
Due: none

Fix: [AEA-0000] - force version bump (#3123)
  README.md
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none
