Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

reorders functions
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

adds process-message errors
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Logic to make practitioner optional
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Remove unused
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Added workflow step to trigger test regression tests run for DEV and INT post deployments
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
Due: none

Added examples from Omar, still adding changes to make required fields optional
  examples/spec/prepare/responsible-party-org-example-req.json
  examples/spec/prescribing/prescription-order-update/responsible-party-org-example-req.json
  examples/spec/prescribing/prescription-order/responsible-party-org-example-req.json
Due: oas-build-checks

Added refs to examples in spec
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

Add validation for missing endorsement code in dispense claims
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/2-Claim-Request-400_MISSING_FIELD.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/2-Convert-Response-Claim-400_MISSING_FIELD.xml
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Amend the test data title
  examples/errors/5-Claim-Request-400_Missing_Endorsement_Code.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/2-Convert-Response-Claim-400_MISSING_FIELD.xml
Due: oas-build-checks

Fix unit test for missing endorsement code scenario
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/2-Claim-Request-400_Missing_Endorsement_Code.json
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Changes to make optional, decision to leave hl7 translation blank
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

adds spine system errors to OAS
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reverts some refactoring
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

More optional changes
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Identifier undefined trip-up
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Same optional changes to cancellation endpoint
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
Due: lint-coordinator, build-coordinator

Accounting for the potential lack of agentperson in cancellation
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
Due: lint-coordinator, build-coordinator

Parameter change in case of telecom
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Include the locator for Add Endorsement button in claimPrescriptionUserJourney
  packages/tool/e2e-tests/helpers.ts
Due: none

Revert parameter
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Temporary telecom changes based on Matt response
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

formatting
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

changes pipes to forward slashes
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3334 Review Error Messages Across the EPS FHIR API (#1890)
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

Add the message for missing endorsement code to the Verification Errors table
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

use app for automerge
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use gh action
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use app for automerge (#1906)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

Amend no endorsement code unit test assertion
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator

Add the medicationDispenseEndorsementPresent function
  packages/coordinator/src/services/validation/claim-validator.ts
Due: lint-coordinator, build-coordinator

tok the sign in options out of the prepare responses array
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-server, build-epsat

Feature/anra6 bau 12635 frontend signing options (#1903)
  packages/tool/README.md
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionSummary.tsx
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/prescriptionSummaryView.spec.tsx
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Refactor the code
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/coordinator/src/services/validation/claim-validator.ts
Due: lint-coordinator, build-coordinator

Change medicationDispenseEndorsementPresent return to false
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
Due: lint-coordinator, build-coordinator

Add unit tests for medicationDispenseEndorsementPresent function
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3022 Provide a clear error message when no endorsement code is provided (#1898)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/2-Claim-Request-400_Missing_Endorsement_Code.json
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
  packages/tool/e2e-tests/helpers.ts
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Add signed commits instruction
  README.md
Due: none

Add bdd-tests to the package list
  README.md
  packages/bdd-tests/README.md
Due: none

Add Makefile targets
  README.md
Due: none
