Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

fix makefile
  Makefile
Due: none

test mark_jira_released
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
Due: none

no pull request trigger on mark_jira_released
  .github/workflows/mark_jira_released.yml
Due: none

fix publish-fhir-rc-release-notes-int target
  Makefile
Due: none

AEA-3318 Implementation Information missing on the Prescribing schema / AEA-3686 OAS Page - Prepare eRD Response example is showing a Request instead (#1711)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

fix pipelines
  azure/azure-pr-pipeline.yml
Due: none

another pipeline fix
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
Due: none

only do pre deploy
  azure/azure-pr-pipeline.yml
Due: none

AEA-3666: OAS Dispense - Withdraw page Try button returns 400 Bad Request (#1713)
  examples/spec/dispensing/withdraw/acute-primary-example-req.json
  examples/spec/dispensing/withdraw/eRD-primary-example-req.json
  examples/spec/dispensing/withdraw/repeat-primary-example-req.json
Due: oas-build-checks

run epsat locally (#1717)
  .devcontainer/devcontainer.json
  Makefile
  packages/tool/docker-compose.yml
  packages/tool/site/Dockerfile
Due: none

fix order of testing things
  azure/azure-pr-pipeline.yml
Due: none

test pre and post int
  azure/azure-pr-pipeline.yml
Due: none

do proper pr build
  azure/azure-pr-pipeline.yml
Due: none

release notes targets in makefile should do something
  Makefile
Due: none

update dependabot limit
  .github/dependabot.yml
Due: none

update dependabot pull request limit (#1725)
  .github/dependabot.yml
Due: none

do not deploy pull requests to sandbox
  azure/azure-pr-pipeline.yml
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Remove prescription search tracking information
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3681 Remove prescription search tracking information from API catalogue (#1750)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

removes authoredOn
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Cancel-200_OK.json
  examples/spec/dispensing/release/acute-primary-example-res.json
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
Due: oas-build-checks

linting
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Cancel-200_OK.json
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

edits status of MedicationDispense to accept whenHandedOver
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
Due: oas-build-checks

[AEA-3688] authoredOn value shown in OAS and Example files (#1751)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Cancel-200_OK.json
  examples/spec/dispensing/release/acute-primary-example-res.json
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
Due: oas-build-checks

got front end to contain the new signin options
  package-lock.json
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionSummary.tsx
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

edits the repeat example to contain completed dispense notifications with whenHandedOver field
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

edits examples to remove references of cancelled prescriptions
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

updates examples to have an organization reference
  examples/spec/dispensing/return/acute-primary-example-req.json
  examples/spec/dispensing/return/eRD-primary-example-req.json
  examples/spec/dispensing/return/repeat-primary-example-req.json
Due: oas-build-checks

edits acute primary examples to add whenHandedOver and doseInstruction fields
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
Due: oas-build-checks

edits repeat primary example
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

added nhs auth into headers
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

updates spec to include return organization
  packages/specification/schemas/components/Organization/ReturnOrganization.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

updated snapshots
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

remove comment
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

edits schema to contain proper codes and display
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

upgrade node version
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/azure-release-template.yml
  package-lock.json
  package.json
  packages/bdd-tests/package.json
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

adds enums on code and display for not dispensing Claim
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatusReason.yaml
Due: oas-build-checks

BAU-12575 Force re-deployment
  packages/tool/README.md
Due: none

AEA-3664 OAS Dispense - Return page's Try button returns a 500 Unknown Error (#1794)
  examples/spec/dispensing/return/acute-primary-example-req.json
  examples/spec/dispensing/return/eRD-primary-example-req.json
  examples/spec/dispensing/return/repeat-primary-example-req.json
  packages/specification/schemas/components/Organization/ReturnOrganization.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

AEA- 3691 Update Reason Codes in the schema for 'Not Dispensed' in the Dispense Notification (#1796)
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

AEA-3662 use lambda release notes to create release notes (#1719)
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
  Makefile
  README.md
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/post_prod_deploy.yml
  azure/templates/pre_int_deploy.yml
  azure/templates/run_tests.yml
  packages/e2e-tests/README.md
  packages/tool/azure/azure-pr-pipeline.yml
  scripts/build-coordinator.ps1
  scripts/build-validator.ps1
  scripts/check_language_versions.sh
  scripts/identify_external_release_changes.py
  scripts/run-coordinator.ps1
  scripts/run-validator.ps1
  scripts/set_env_vars.ps1
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
