Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

improve release notes message
  .github/workflows/continuous-integration.yml
Due: none

improve release notes message (#1589)
  .github/workflows/continuous-integration.yml
Due: none

[AEA-2752] removed old examples from swagger doc
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Test to see what causes date to not include time string
  packages/coordinator/src/services/translation/request/prescribe/parent-prescription.ts
Due: lint-coordinator, build-coordinator

Remove required authoredon from the spec
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Remove automatic authoredon from epsat
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
Due: lint-epsat-client, build-epsat

Missed import
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
Due: lint-epsat-client, build-epsat

Updated snapshots
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionLevelDetail.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/props.tsx
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: lint-epsat-client, build-epsat

Revert EPSAT changes and added test to bundle validator to check authoredon is optional
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionLevelDetail.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/props.tsx
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

Changed authoredon descriptions
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Removed authoredOn from release response and made optional in med-request model
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/models/fhir/medication-request.ts
Due: lint-models, lint-coordinator, build-coordinator

Update validator version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

AEA-3603 Update FHIR validator verson in support of Welsh Prescription Type Codes (#1600)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

fix sending back error response when party key is missing
  proxies/live/apiproxy/targets/apim.xml
Due: none

AEA-3424 fix sending back error response when party key is missing (#1601)
  proxies/live/apiproxy/targets/apim.xml
Due: none

use dependabot for python updates
  .github/dependabot.yml
Due: none

use supported action to create release
  .github/workflows/continuous-integration.yml
Due: none

AEA-3556 use support create release (#1603)
  .github/dependabot.yml
  .github/workflows/continuous-integration.yml
Due: none

Revert removingh authoredOn from release to avoid breaking Apotec
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
Due: lint-coordinator, build-coordinator

Revert withdraw and return descs of authoredOn
  packages/specification/schemas/requests/dispensing/Return.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Revert withdraw
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Revert bdd data
  packages/bdd-tests/testData/medicationRequest.json
Due: none

Attempt remove authoredOn from bdd test prepares
  packages/bdd-tests/util/helper.ts
Due: none

missed an authoredon
  packages/bdd-tests/util/helper.ts
Due: none

Missed authoredOn in spec example
  examples/spec/prescribing/prepare/acute-primary-example-req.json
Due: oas-build-checks

Removed from prescribing errors
  examples/errors/1-Process-Request-Send-400_INVALID_CHECKSUM.json
  examples/errors/2-Prepare-Request-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/2-Process-Request-Send-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/3-Process-Request-Dispense-400_Invalid_Value.json
  examples/errors/4-Process-Request-Send-400_invalid_intent.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Request-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Process-Request-Send-400_Bad_Request.json
  examples/spec/errors/example-b-spine-error-patient-deceased/PrepareRequest-FhirMessageUnsigned.json
  examples/spec/errors/example-b-spine-error-patient-deceased/SendRequest-FhirMessageSigned.json
Due: oas-build-checks

[AEA-3500] updated incorrect integer fields to decimal number fields
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Removed telecom from required under patient
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

[AEA-3500] Review and update incorrect integer fields (#1626)
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

[AEA-3516] updates telecom to be optional for patients
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

[AEA-3516] Removes Telecom as a required field for Patients. (#1633)
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Updated Examples to include failedpresc from test EPS on ticket
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

Further updates to example, asked Omar for feedback
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

BAU-12575 Force build
  packages/tool/site/server/src/config.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Updated example with omar feedback
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

Indentation of IDs
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

BAU-12575 Add nhsd-identity-authentication-method header to force IOS auth in RSS
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
