Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Try adding names to request bodies
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3116 - Added more create prescription tests
  packages/bdd-tests/features/createprescription.feature
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/createprescription-steps.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
  packages/bdd-tests/testData/medicationRequest.json
  packages/bdd-tests/testData/misc_json.ts
  packages/bdd-tests/util/helper.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

fix jest disabled workspaces
  .devcontainer/electronic-prescription-service-api.code-workspace
Due: none

AEA-3123 Fixed order of attributes in HL7v3 DN to fit with schema
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

Updated convert examples for reordered DN properties
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-NotDispensed-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-DispenseAmend-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Dispense-200_OK.xml
Due: none

Fix azure-release-template
  azure/azure-release-template.yml
Due: none

Add cd Pipeline.Workspace to 'Check for smoke tests' step
  README.md
  azure/azure-release-template.yml
Due: none

Remove debug variables
  README.md
  azure/azure-release-template.yml
Due: none

Removing check for healthcareService from secondarycare format check
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

AEA-3123 Fixed order of attributes in HL7v3 DN to fit with schema (#1399)
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-NotDispensed-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-DispenseAmend-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Dispense-200_OK.xml
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

Fix incorrect value
  packages/specification/schemas/requests/dispensing/_owner.yaml
Due: oas-build-checks

Fix owner object schema
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
Due: oas-build-checks

Add agent
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

Rename schema element
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Move group-identifier to fragment
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
  packages/specification/schemas/requests/dispensing/_group-identifier.yaml
Due: oas-build-checks

add coverage
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

Change 6 in README
  README.md
  azure/azure-release-template.yml
Due: none

Revert "removes update_prescriptions script as not used"
  Makefile
  scripts/update-prescriptions.ps1
  scripts/update_prescriptions/fileio.py
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/__init__.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
  scripts/update_prescriptions/utils.py
Due: none

remove unused extensions
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/extensions.json
Due: none

exclude e2e tests from jest runner
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

Add pwd to debug variables and comment out the fix
  azure/azure-release-template.yml
Due: none

updates snapshot
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
Due: none

add packages/tool to workspaces
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

AEA-3119 - Description updates to prescribing endpoints
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3119
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Removed test for secondary care format check
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Clean up the code
  azure/azure-release-template.yml
Due: none

update readme
  README.md
Due: none

Removed references to healthcareService in OAS spec
  packages/specification/schemas/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/MedicationRequest/extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

removes update_prescriptions
  Makefile
  scripts/update-prescriptions.ps1
  scripts/update_prescriptions/fileio.py
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/__init__.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
  scripts/update_prescriptions/utils.py
Due: none

more default settings
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: none

Removed healthcareservice yaml dependencies
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

removes reference in readme
  README.md
Due: none
