Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

reraise exception
  scripts/identify_external_release_changes.py
Due: none

AEA-3100 Removed the reliance on courseOfTherapyType on the contained medication request of a DN (#1349)
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
Due: lint-coordinator, build-coordinator

build epsat from root
  .gitignore
  Makefile
  api.ecs-proxies-containers.yml
  api.ecs-proxies-deploy-prod.yml
  api.ecs-proxies-deploy.yml
  azure/azure-build-pipeline.yml
  epsat.ecs-proxies-containers.yml
  epsat.ecs-proxies-deploy-int.yml
  epsat.ecs-proxies-deploy-internal-dev-sandbox.yml
  epsat.ecs-proxies-deploy-internal-qa.yml
  epsat.ecs-proxies-deploy-sandbox.yml
  epsat.ecs-proxies-deploy.yml
  packages/tool/Makefile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/ecs-proxies-containers.yml
Due: none

build epsat from root
  .gitignore
Due: none

fix epsat build
  Makefile
  packages/tool/azure/azure-build-pipeline.yml
Due: none

fix prepare-for-epsat-release
  Makefile
Due: none

different targets for api and epsat build
  Makefile
Due: none

AEA-2644 - dependabot updates (#1360)
  packages/coordinator/package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package-lock.json
  packages/e2e-tests/package.json
  packages/models/package-lock.json
  packages/models/package.json
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/editPrescription.spec.ts
  packages/tool/e2e-tests/sandbox.test.ts
  packages/tool/site/client/package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSearchForm.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

reduces cognitive complexity
  scripts/update_prescriptions.py
Due: none

move manifest_template
  Makefile
  api.manifest_template.yml
  epsat.manifest_template.yml
Due: none

update .gitignore
  .gitignore
Due: none

refactors to remove duplicaton
  packages/coordinator/src/services/communication/sandbox-spine-client.ts
Due: lint-coordinator, build-coordinator

throws error
  packages/coordinator/src/routes/logging.ts
Due: lint-coordinator, build-coordinator

throws an error
  packages/coordinator/src/services/communication/tracker/spine-request-builder.ts
Due: lint-coordinator, build-coordinator

extracts ternary
  packages/coordinator/src/services/communication/tracker/tracker-response-builder.ts
Due: lint-coordinator, build-coordinator

correct build and run epsat
  Makefile
Due: none

remove unused files
  packages/tool/Makefile
  packages/tool/poetry.lock
  packages/tool/pyproject.toml
Due: none

moves sort to seperate statement
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
Due: lint-coordinator, build-coordinator

removes redundant assignment
  packages/coordinator/src/services/translation/response/common.ts
Due: lint-coordinator, build-coordinator

simplifies some regex
  packages/coordinator/src/services/translation/response/identifiers.ts
Due: lint-coordinator, build-coordinator

removes comma
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

simplifies some regex
  packages/coordinator/tests/logging/validation.ts
Due: lint-coordinator, build-coordinator

throws error object
  packages/coordinator/tests/services/translation/request/index.spec.ts
Due: lint-coordinator, build-coordinator

simplifies tests using partials
  packages/tool/site/client/tests/unit_tests/services/test-packs/medicationRequest.spec.tsx
Due: lint-epsat-client, build-epsat

Simplify OAS files hierarchy and build process
  packages/specification/.gitignore
  packages/specification/Makefile
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/examples
  packages/specification/package.json
  packages/specification/schemas/components/CommunicationRequest/CreateCommunicationRequest.yaml
  packages/specification/schemas/components/ErrorCode.yaml
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/components/List/CreateList.yaml
  packages/specification/schemas/components/Location/CreateLocation.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CreateMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/ControlledDrug.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/DM-ResponsiblePractitioner.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/cancelResponseReasons.yaml
  packages/specification/schemas/components/MessageHeader/CancelRequestMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/CancelResponseMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/CreateRequestMessageHeader.yaml
  packages/specification/schemas/components/OperationOutcome.yaml
  packages/specification/schemas/components/Organization/Organization.yaml
  packages/specification/schemas/components/ParametersResponse.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/Practitioner/CancelRequestPractitioner.yaml
  packages/specification/schemas/components/Practitioner/CancelResponsePractitioner.yaml
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/Provenance/CreateProvenance.yaml
  packages/specification/schemas/request/dispense/NominatedRelease.yaml
  packages/specification/schemas/request/dispense/PatientRelease.yaml
Due: oas-build-checks

Add Swagger editor through Docker image
  packages/specification/.dockerignore
  packages/specification/Makefile
  packages/specification/docker-compose.yml
Due: oas-build-checks

Removed verify from OAS.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Rename request schemas dir
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/requests/dispensing/NominatedRelease.yaml
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
Due: oas-build-checks

Amend the validation rule for repeat prescription with no dispenseRequest.validityPeriod
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

update makefile to have targets for all
  Makefile
Due: none

Removed verify from OAS. (#1361)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

wip to build containers
  Dockerfile.api
  Dockerfile.api.dockerignore
  Dockerfile.epsat
  Dockerfile.epsat.dockerignore
  api.ecs-proxies-containers.yml
  epsat.ecs-proxies-containers.yml
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

different make targets for api, epsat and all
  Makefile
Due: none

move api definition files to coordinator or epsat folder
  .gitignore
  Makefile
  packages/coordinator/ecs-proxies-containers.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/manifest_template.yml
  packages/tool/ecs-proxies-containers.yml
  packages/tool/ecs-proxies-deploy-int.yml
  packages/tool/ecs-proxies-deploy-internal-dev-sandbox.yml
  packages/tool/ecs-proxies-deploy-internal-qa.yml
  packages/tool/ecs-proxies-deploy-sandbox.yml
  packages/tool/ecs-proxies-deploy.yml
  packages/tool/manifest_template.yml
Due: none

update gitignore
  .gitignore
Due: none

update gitignore and makefile for temp files
  .gitignore
  Makefile
Due: none

fix targets for all
  Makefile
Due: none

AEA-3112 Build epsat from root directory (#1364)
  .gitignore
  Makefile
  azure/azure-build-pipeline.yml
  packages/coordinator/ecs-proxies-containers.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/manifest_template.yml
  packages/tool/Makefile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/ecs-proxies-containers.yml
  packages/tool/poetry.lock
  packages/tool/pyproject.toml
Due: none
