Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

fix docker build
  packages/coordinator/Dockerfile
Due: none

move more common modules
  package-lock.json
  packages/e2e-tests/package.json
Due: none

use common jest for e2e tests
  package-lock.json
  packages/tool/e2e-tests/package.json
Due: none

removes unused variable
  packages/e2e-tests/auth/src/oauth.ts
Due: none

use common jest in epsat tests
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/selectField.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/createDispenseClaim.spec.ts.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/productSummaryList.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/medicationSummary.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/patientSummaryList.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/practitionerRoleSummaryList.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionLevelDetail.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/homePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/logoutPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/myPrescriptionsPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/verifyPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: lint-epsat-client, build-epsat

update to latest eslint
  package-lock.json
  package.json
  packages/coordinator/src/services/communication/tracker/tracker-client.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/jest.d.ts
  packages/coordinator/tests/logging/validation.ts
  packages/tool/e2e-tests/file-upload-info/upload-info/Fhir-message-info.ts
  packages/tool/e2e-tests/file-upload-info/upload-info/Test-pack-info.ts
  packages/tool/e2e-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/common/longRunningTask.tsx
  packages/tool/site/client/src/components/common/sorter.tsx
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

update jest to latest
  package-lock.json
  package.json
Due: none

change faketimers config
  packages/coordinator/tests/debug/conversions.spec.ts
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
Due: lint-coordinator, build-coordinator

update pipeline to install root dependencies
  azure/azure-release-template.yml
  packages/tool/azure/azure-release-template.yml
Due: none

set mak workers for coordinator tests
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

refactors dosage
  packages/coordinator/src/services/translation/request/dosage.ts
  packages/coordinator/src/services/translation/request/dosage/index.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyAdditionalInstruction.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyAsNeeded.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyBounds.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyCount.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDayOfWeekAndTimeOfDay.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDose.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDuration.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyEvent.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyFrequencyAndPeriod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerAdministration.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerLifetime.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerPeriod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMethod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyOffsetAndWhen.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyPatientInstruction.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyRate.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyRoute.ts
  packages/coordinator/src/services/translation/request/dosage/stringifySite.ts
  packages/coordinator/src/services/translation/request/dosage/utils.ts
Due: lint-coordinator, build-coordinator

specify start location for check-licenses
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/common/fhir-path-reader.ts
  packages/models/hl7-v3/codes.ts
  packages/models/hl7-v3/return.ts
  packages/models/package.json
  packages/specification/package.json
  packages/tool/e2e-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

Revert "refactors dosage"
  packages/coordinator/src/services/translation/request/dosage.ts
  packages/coordinator/src/services/translation/request/dosage/index.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyAdditionalInstruction.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyAsNeeded.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyBounds.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyCount.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDayOfWeekAndTimeOfDay.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDose.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyDuration.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyEvent.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyFrequencyAndPeriod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerAdministration.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerLifetime.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMaxDosePerPeriod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyMethod.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyOffsetAndWhen.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyPatientInstruction.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyRate.ts
  packages/coordinator/src/services/translation/request/dosage/stringifyRoute.ts
  packages/coordinator/src/services/translation/request/dosage/stringifySite.ts
  packages/coordinator/src/services/translation/request/dosage/utils.ts
Due: lint-coordinator, build-coordinator

Define schema for shared properties of release requests
  packages/specification/schemas/requests/dispensing/NominatedRelease.yaml
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
  packages/specification/schemas/requests/dispensing/_ReleaseCommon.yaml
Due: oas-build-checks

removes object-hash, adds crypto-js
  package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

Add Owner to release request schema
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
  packages/specification/schemas/requests/dispensing/_ReleaseCommon.yaml
Due: oas-build-checks

Attempt at abstracting schemas further
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/_fragments/address.yaml
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Fix indentation level
  packages/specification/schemas/components/_fragments/address.yaml
Due: oas-build-checks

Add variables debugging
  azure/azure-release-template.yml
Due: none

Refactor update_prescriptions.py for readability
  Makefile
  scripts/update-prescriptions.ps1
  scripts/update_prescriptions.py
  scripts/update_prescriptions/fileio.py
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/__init__.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
  scripts/update_prescriptions/utils.py
Due: none

Fix update_prescriptions.py paths
  Makefile
  scripts/update_prescriptions/tests/test_update_prescriptions.py
Due: none

Change 2 in README
  README.md
Due: none

Change 3 in README
  README.md
Due: none

Change 4 in README
  README.md
Due: none

Fix incorrect imports
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
Due: none

adds missing imports
  scripts/update_prescriptions/prescriptions.py
Due: none

Add ls -R
  azure/azure-release-template.yml
Due: none

Tidy imports in prescriptions.py
  scripts/update_prescriptions/prescriptions.py
Due: none

updates error message
  scripts/update_prescriptions/prescriptions.py
Due: none

initial files for common dev environment
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/electronic-prescription-service-api.code-workspace
  .gitignore
  .tool-versions
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  README.md
Due: none

removes update_prescriptions script as not used
  Makefile
  scripts/update-prescriptions.ps1
  scripts/update_prescriptions/fileio.py
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/__init__.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
  scripts/update_prescriptions/utils.py
Due: none

install firefox in container
  .devcontainer/Dockerfile
  .devcontainer/electronic-prescription-service-api.code-workspace
Due: none

Remove components from linked schemas
  packages/specification/schemas/requests/dispensing/NominatedRelease.yaml
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
  packages/specification/schemas/requests/dispensing/_ReleaseCommon.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
  packages/specification/schemas/requests/dispensing/_owner.yaml
  packages/specification/schemas/requests/dispensing/_status.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
