Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

temporarily run pact tests against int
  azure/azure-release-template.yml
Due: none

remove INT override
  azure/azure-release-template.yml
Due: none

creates example pack with multiple sequential dosage instructions
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

adds multiple does test pack to test resources
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

fixes issue with undefined arrays
  packages/coordinator/src/utils/dosage-instructions.ts
Due: lint-coordinator, build-coordinator

AEA-3147 get signing certs and keys from AWS secrets (#1428)
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

add --ignore-scripts to dockerfile npm commands
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
Due: none

Update the validator version to 2.8.7-prerelease
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Amend the validator version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Fix the validator version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

AEA-2966 Speccy replacement
  package-lock.json
  packages/specification/Makefile
  packages/specification/docker-compose.yml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/package.json
  scripts/yaml2json.py
Due: oas-build-checks

updates dispense request in example prescription
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

updates expected conversion to pass tests
  examples/secondary-care/homecare/acute/nominated-pharmacy/multiple-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
Due: none

AEA-2886 - added Repeat and eRD dispensing functions
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/src/configs/ap.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
  packages/bdd-tests/testData/misc_json.ts
  packages/bdd-tests/util/helper.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

updates test resources to use mapped array
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/common/getResourcesOfType.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/coordinator/tests/services/translation/request/prescribe/parent-prescription.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/coordinator/tests/services/translation/request/return/return.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

renames test pack
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-dosage-instructions/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

test against int
  azure/azure-release-template.yml
Due: none

fixes path error in run-coordinator command
  Makefile
Due: none

add delay between release and return
  packages/e2e-tests/broker/verify.ts
Due: none

adds test pack of sequential and consecutive instructions
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/sequential-and-consecutive-dosage-instructions/1-Task-Request-Release-200_OK.json
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

try a 2 minute delay
  packages/e2e-tests/broker/verify.ts
Due: none

Fixed missed changes
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-VerifySignature-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Convert-Response-Send-200_OK.xml
Due: oas-build-checks

Added meta.lastUpdated to createOperOut function and examples
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
  examples/errors/2-Prepare-Response-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/2-Process-Response-Send-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/3-Process-Response-Dispense-400_Invalid_Value.json
  examples/sandbox/VerifySignature-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Convert-Response-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Response-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Process-Response-Send-200_OK.json
  packages/coordinator/tests/services/translation/convert.failures.spec.ts
  packages/models/fhir/operation-outcome.ts
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Fixed missed reverted org
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

AEA-2886 - remove items from old repo location
  bdd-tests/services/getJWT.ts
Due: none

AEA-2886 - remove items from old repo location
  packages/bdd-tests/src/configs/ap.ts
Due: none

moves dosage-instructions into common translation directory
  packages/coordinator/src/services/translation/common/dosage-instructions.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/translation/request/line-item.ts
Due: lint-coordinator, build-coordinator

removes redundant await
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

formatting workspace config
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

adds consecutive dosage test
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Task-Request-Release-200_OK.json
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

adds hl7v3 type hints
  packages/coordinator/src/services/translation/request/line-item.ts
Due: lint-coordinator, build-coordinator

restricts logging tests to previously existing test prescriptions
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

use certificate value from x509 object
  packages/e2e-tests/services/update-prescriptions.ts
Due: none
