Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Amend the primary-care acute nominated-pharmacy prescription examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Amend the primary-care acute nominated-pharmacy task request release example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

Amend the dispense body template
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

Revert changes to the dispense body template
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

BAU-12575 Force re-deployment
  packages/tool/README.md
Due: none

fix tests by rolling back @testing-library/react
  package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

fix tests by rolling back @testing-library/react (#1674)
  package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

Reverting changes from number to integer
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Amend the dispense body template
  packages/tool/e2e-tests/utils/dispenseBody.ts
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

Update the dispense body template
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

Change the dispense body template
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

Amend repeat-prescribing examples
  examples/primary-care/repeat-prescribing/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Fix primary-care repeat-prescribing conversion test
  examples/primary-care/repeat-prescribing/1-Convert-Response-Send-200_OK.xml
Due: none

Remove authoredOn from the repeat-prescribing Process-Request-Send example
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Remove authoredOn from the acute nominated-pharmacy Process-Request-Send example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Remove authoredOn from the acute nominated-pharmacy Prepare-Request example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
Due: oas-build-checks

Amend repeat-dispensing din prepare examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Remove unnecessary examples
  examples/spec/prescribing/prescription-order/acute-primary-example-req.json
  examples/spec/prescribing/prescription-order/acute-primary-example-res.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-res.json
  examples/spec/prescribing/prescription-order/repeat-primary-example-req.json
  examples/spec/prescribing/prescription-order/repeat-primary-example-res.json
Due: oas-build-checks

Revert changes to repeat-dispensing din prepare examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
Due: oas-build-checks

AEA-3645-Remove-Decimal-from-Spec (#1680)
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Restore prescription-order repeat-primary-example-req example
  examples/spec/prescribing/prescription-order/repeat-primary-example-req.json
Due: oas-build-checks

Update a successful response to a eRD primary care prepare request
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Restore the additional example path to avoid test failures
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Correct a successful response to an acute primary care prescription order request
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend valid acute primary care prescription order update request and response example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Convert-Response-Cancel-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Response-Cancel-200_OK.json
  examples/spec/prescribing/prescription-order-update/acute-primary-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend valid eRD primary care prepare request
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Revert changes to gmc responsible-party examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Process-Response-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
  examples/spec/prepare/eRD-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Fix valid eRD primary care prepare request
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Remove Primary Care from example summary titles
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

First draft OAS update for shortform ID
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

test do not merge
  azure/azure-build-pipeline.yml
Due: none

AEA-3524 OAS Improvement - Append indication/reason to dosage.text (#1666)
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Consistent wording
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

Add example test placeholders
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend dispensing release examples
  examples/spec/dispensing/release/eRD-primary-example-req.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-req.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend dispensing return examples
  examples/spec/dispensing/return/eRD-primary-example-req.json
  examples/spec/dispensing/return/eRD-primary-example-res.json
  examples/spec/dispensing/return/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend dispense notification examples
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-res.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
