Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

update readme
  packages/e2e-tests/README.md
Due: none

fix vars
  .github/workflows/run_pact_tests.yml
Due: none

fix combine
  packages/specification/combineSpec.mjs
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

fix combine
  packages/specification/combineSpec.mjs
Due: none

fix spec
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

update .gitallowed
  .gitallowed
Due: none

remove unused vars
  .github/workflows/run_pact_tests.yml
Due: none

run regression tests
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

add sha1 app id
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

run sha1 tests
  scripts/run_regression_tests.py
Due: none

correct passing boolean to test
  scripts/run_regression_tests.py
Due: none

log what hashing algorithim being used
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

fix logging
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

Added prod app ids as SHA1
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

add testing application ids for sha1
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

increase timeout on bdd tests
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

set correct tag on regression test
  scripts/run_regression_tests.py
Due: none

correct tag
  scripts/run_regression_tests.py
Due: none

upload pact tests
  .github/workflows/run_pact_tests.yml
Due: none

fix bdd
  packages/bdd-tests/util/helper.ts
Due: none

remove unneeded space
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

Update DispensingMedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
Due: oas-build-checks

fix signing pact tests
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

Fix: [AEA-000] - fix signing pact tests (#3017)
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

treat 500 pollling response as 202
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

better test
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

even better test
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

fix response
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Docs: [AEA-4409] - Update Review Date field to Optional in OAS (#3015)
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
Due: oas-build-checks

fix test
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

update statusText on 202 response
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-4898] - treat 500 pollling response as 202 (#3020)
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

fix handling of weirdly formatted quantities
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
Due: lint-coordinator, build-coordinator

Update MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Update ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

Use a default GP practice as V81999
  packages/models/fhir/patient.ts
Due: lint-models, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
