Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Correct SPINE_URL values
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Print SPINE_ENDPOINT for testing
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Debug SPINE_ENDPOINT
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Debug SPINE_URL value
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Rename SPINE_URL to TARGET_SPINE_SERVER
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Use hardcoded TARGET_SPINE_SERVER in SPINE_ENDPOINT
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Rename parameter SpineUrl to TargetSpineServer
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Use Spine secrets when they are present
  SAMtemplates/load_balancer/main.yaml
Due: none

Define secrets in the main template
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Fix UseSpineSecrets condition
  SAMtemplates/load_balancer/main.yaml
Due: none

Use TARGET_SPINE_SERVER value if UseSpineSecrets
  SAMtemplates/load_balancer/main.yaml
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Refactor the code
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Add a log with SPINE_ENDPOINT value
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Remove unnecessary conditions
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Pass TargetSpineServer from main_template
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Test new logs in live-spine-client
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Add MTLS_SPINE_CLIENT environment variable
  SAMtemplates/load_balancer/main.yaml
Due: none

Migrate to communal SBOM
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  README.md
Due: none

Remove old QC
  .github/workflows/quality_checks.yml
Due: none

Use main QC branch
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Remove unnecessary logs
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Add the MtlsSpineClient class
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
Due: lint-coordinator, build-coordinator

Integrate mTLS into live-spine-client and add tests for mTLS integration
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Clean up the code
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

Separate mTLS from live-spine-client
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Clean up the code
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

Add test for error for unsupported status response
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Add test for logs error for polling failure
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Add Spine Client Factory unit tests
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/tests/services/communication/spine-client-factory.spec.ts
Due: lint-coordinator, build-coordinator

Add readFileAsString helper function
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Lint script
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

Use encodeURIComponent in getSpineEndpoint and getSpineUrlForPolling
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

Associate the custom NACL with each public subnet
  SAMtemplates/load_balancer/main.yaml
Due: none

Associate the custom NACL with each private subnet
  SAMtemplates/load_balancer/main.yaml
Due: none

Add DependsOn to subnets resources
  SAMtemplates/load_balancer/main.yaml
Due: none

Modify the wording in the schema
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
Due: oas-build-checks

Modify the wording in the schema
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
Due: oas-build-checks

Move to fixed QC version
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

Modify the existing Custom Network ACL resource to make it a default ACL
  SAMtemplates/load_balancer/main.yaml
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
