Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

really fix path
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
Due: lint-epsat-client, build-epsat

debug e2e test
  packages/tool/e2e-tests/validator/validateFhirResource.spec.ts
Due: none

wait for validatePayload to appear
  packages/tool/e2e-tests/validator/validateFhirResource.spec.ts
Due: none

fix finding validatePayload
  packages/tool/e2e-tests/validator/validateFhirResource.spec.ts
Due: none

hard code tag for validator version in epsat
  packages/tool/azure/azure-build-pipeline.yml
  scripts/check_language_versions.sh
Due: none

APM-000-AMP-2748-URL change
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

first attempt at re-routing
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat

references telecom in spec
  packages/specification/schemas/components/Organization/Organization.yaml
Due: oas-build-checks

refactors medication request verification
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

adds unit tests for rejecting incomplete telecoms
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

adds telecom fetching method
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
Due: lint-coordinator, build-coordinator

adds telecom validator
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

force build
  packages/bdd-tests/README.md
Due: none

Update validator version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

fix linter
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat

Update validator version 08/05/24 (#2338)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

fix for pact tests
  packages/e2e-tests/specs/live/prepare.successes.spec.ts
Due: none

makes change
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

excluded failing BDD test
  packages/bdd-tests/features/releasePrescription.feature
Due: none

fix redirects
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat

BAU-13556 Force build and deploy
  packages/tool/README.md
Due: none

force build
  README.md
Due: none

updates tests to global paths
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

uses global paths
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

refactors path typing
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

changed to RS256 from RS1
  packages/coordinator/ecs-proxies-deploy.yml
  packages/e2e-tests/specs/live/prepare.successes.spec.ts
Due: none

AEA-4043 Update the FHIR API Schema (#2342)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reverse SHA256 change
  packages/coordinator/ecs-proxies-deploy.yml
  packages/e2e-tests/specs/live/prepare.successes.spec.ts
Due: none

BAU-13556 Log CONFIG.subject
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

fixed routing issue
  packages/tool/site/server/src/app.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

AEA-4014 Issue with subsequent cancellation (#2337)
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/specification/schemas/components/Organization/Organization.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

BAU-13556 Force build
  packages/tool/README.md
Due: none

moved log
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat

fixed pr redirect
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat

added logging
  packages/tool/site/server/src/app.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

added logging
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

added logging
  packages/tool/site/server/src/app.ts
Due: lint-epsat-server, build-epsat
