Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

makes scripts executable
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/get_instance.sh
  .github/scripts/publish_containers.sh
Due: none

calls scripts from calculated directory, fixes docker typo
  .github/scripts/deploy_api.sh
  .github/scripts/publish_containers.sh
Due: none

removes debug ls
  .github/workflows/deploy_api.yml
Due: none

adds debug info to github scripts
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/get_instance.sh
  .github/scripts/publish_containers.sh
Due: none

debug formatting
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/get_instance.sh
  .github/scripts/publish_containers.sh
Due: none

updates instance names
  .github/scripts/get_instance.sh
  .github/workflows/continuous-integration.yml
  .github/workflows/pull_request.yml
Due: none

removes debug info from get_instance
  .github/scripts/get_instance.sh
Due: none

formatting
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/publish_containers.sh
Due: none

parameterises spec path
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/workflows/deploy_api.yml
Due: none

sets spec download path
  .github/workflows/deploy_api.yml
Due: none

printf invalid option
  .github/scripts/config/configure_spec.sh
Due: none

formatting
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
Due: none

specify proxygen path
  .github/scripts/publish_containers.sh
Due: none

formatting
  .github/scripts/publish_containers.sh
Due: none

names job
  .github/workflows/deploy_api.yml
Due: none

formatting
  .github/scripts/deploy_api.sh
Due: none

changes callouts to use bash
  .github/scripts/deploy_api.sh
  .github/scripts/get_instance.sh
Due: none

formatting
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/publish_containers.sh
Due: none

typos
  .github/scripts/deploy_api.sh
  .github/scripts/publish_containers.sh
Due: none

updates version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Updates validator version (#2315)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

adds -e flags to scripts
  .github/scripts/config/configure_mtls.sh
  .github/scripts/config/configure_proxygen.sh
  .github/scripts/config/configure_spec.sh
  .github/scripts/deploy_api.sh
  .github/scripts/publish_containers.sh
Due: none

updates proxygen error handling
  .github/scripts/config/configure_proxygen.sh
Due: none

updates cache action version
  .github/workflows/build_api.yml
  .github/workflows/deploy_api.yml
Due: none

debug
  .github/scripts/config/configure_proxygen.sh
Due: none

assumes aws role
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy_api.yml
  .github/workflows/pull_request.yml
Due: none

updates snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

adds id-token permissions
  .github/workflows/deploy_api.yml
Due: none

client info
  .github/scripts/config/configure_proxygen.sh
Due: none

upgrade react dependencies
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/common/backButton.tsx
  packages/tool/site/client/src/components/page.tsx
  packages/tool/site/client/src/components/pageContainer.tsx
  packages/tool/site/client/src/components/pageFullWidth.tsx
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/viewPrescriptionPage.tsx
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/claimForm.spec.tsx
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/dispenseForm.spec.tsx
  packages/tool/site/client/tests/components/longRunningTask.spec.tsx
  packages/tool/site/client/tests/components/release/releaseForm.spec.tsx
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/claimPage.spec.tsx
  packages/tool/site/client/tests/pages/configPage.spec.tsx
  packages/tool/site/client/tests/pages/dispensePage.spec.tsx
  packages/tool/site/client/tests/pages/doseToTextPage.spec.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/releasePage.spec.tsx
  packages/tool/site/client/tests/pages/returnPage.spec.tsx
  packages/tool/site/client/tests/pages/sendPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/client/tests/pages/validatePage.spec.tsx
  packages/tool/site/client/tests/pages/viewPrescriptionPage.spec.tsx
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-epsat-client, build-epsat

include source map
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client, build-epsat

update snapshot
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
Due: none

update to use act
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/messageExpanders.tsx
  packages/tool/site/client/src/pages/comparePage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/dispensePage.spec.tsx
  packages/tool/site/client/tests/pages/sendPage.spec.tsx
Due: lint-epsat-client, build-epsat

fix
  packages/tool/site/client/src/index.tsx
Due: lint-epsat-client, build-epsat

add dependency
  package-lock.json
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

really include source maps
  packages/tool/site/Dockerfile
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client, build-epsat

fix route
  packages/tool/site/client/src/index.tsx
Due: lint-epsat-client, build-epsat

update snapshot
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
Due: none

fix path
  packages/tool/site/client/src/index.tsx
Due: lint-epsat-client, build-epsat
