Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

The Great Find & Replace V - OAS spec.
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/ReleaseResponsePractitionerRole.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

The Great Find & Replace IV - A few more leftover examples.
  examples/sandbox/Release-Response-200_OK.json
  examples/spec/errors/prescription-order-update/R-0006-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0006-Prescription.json
  examples/spec/errors/prescription-order-update/R-0008-Cancellation.json
  examples/spec/errors/prescription-order-update/bundle-error.json
  examples/spec/errors/prescription-order-update/bundle-success.json
Due: oas-build-checks

The Great Find & Replace III - EPSAT.
  packages/tool/e2e-tests/messages/Non-ASCII Dosage Instructions.json
  packages/tool/e2e-tests/messages/Non-ASCII Note to dispenser.json
  packages/tool/e2e-tests/messages/Non-ASCII Patient additional Instructions.json
  packages/tool/e2e-tests/messages/XML tag Dosage Instructions.json
  packages/tool/e2e-tests/messages/XML tag Note to dispenser.json
  packages/tool/e2e-tests/messages/XML tag Patient additional Instructions.json
  packages/tool/e2e-tests/messages/prescriptionOrder.json
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
  packages/tool/site/client/src/components/cancel/cancelForm.tsx
  packages/tool/site/client/src/components/dispense/createDispenseNotification.ts
  packages/tool/site/client/src/pages/cancelPage.tsx
  packages/tool/site/client/src/pages/releasePage.tsx
  packages/tool/site/client/src/pages/returnPage.tsx
  packages/tool/site/client/src/pages/withdrawPage.tsx
  packages/tool/site/client/src/services/test-packs/practitionerRoles.ts
  packages/tool/site/client/src/services/test-packs/xls.ts
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
  packages/tool/site/client/tests/messages/prescriptionOrder.json
  packages/tool/site/client/tests/messages/releaseResponse.json
Due: lint-epsat-client, build-epsat

Extra unit test.
  packages/coordinator/tests/services/translation/request/job-role-code.spec.ts
Due: lint-coordinator, build-coordinator

Updates to test pack excel files.
  packages/tool/e2e-tests/test-packs/Prescription Types Test Pack.xlsx
  packages/tool/e2e-tests/test-packs/Repeat Prescriptions Test Pack.xlsx
  packages/tool/e2e-tests/test-packs/eRD Prescriptions Test Pack.xlsx
Due: none

AEA-3002 Add error message for Resource Not Found error at Release endpoint.
  coordinator/src/services/translation/response/spine-response-handler.ts
  examples/spec-errors/release/not-found-error.json
  specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3002 Add error message for Resource Not Found error at Release endpoint.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-2882 - Added return tests for repeat
  packages/bdd-tests/features/dispenseclaim.feature
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Toggled to use SHA256 on prepare.
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

AEA-2803 update ref for claim
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend the dosageInstruction descriptions in the sequence and text properties
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Change the additionalInstruction type to array and add items
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

AEA-3002 Release-Rejection-Reason-for-OAS (#1483)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Added missing operation outcome schema to 4XX response
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Enabled dispensing feature flag in production
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

AEA-3257 Enabled dispensing feature flag in production (#1487)
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

Back to SHA1 in the json files.
  examples/primary-care/acute-and-repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/unknown/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/no-nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/medication-reference/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/multiple-medications/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/professional-code/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/paramedic/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/non-prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
Due: oas-build-checks

AEA-2821-Withdraw-Response-Schema (#1486)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Python version specified.
  .github/workflows/pr.yml
Due: none

Started on GitHub PR pipeline.
  .github/workflows/pr.yml
Due: none

Added comment.
  .github/workflows/pr.yml
Due: none

Added java dependency. Running more tests.
  .github/workflows/pr.yml
Due: none

nrlf changed to prescriptions.
  ci/README.md
  ci/prescriptions.sh
  ci/pyproject.toml
  ci/scripts/_aws.sh
  ci/scripts/_constants.sh
  ci/scripts/_make.sh
  ci/scripts/_terraform.sh
  ci/scripts/clear_runners.py
  ci/terraform/iam__ci-pipeline.tf
  ci/terraform/iam__prod-deploy.tf
  ci/terraform/launch_config_user_data.sh.tpl
  ci/terraform/locals.tf
  ci/terraform/main.tf
Due: none

Moved file over to prescriptions-api repo.
  .github/workflows/pr.yml
Due: none

Less specific python version specified.
  .github/workflows/pr.yml
Due: none

Latest version of runner binary and checksum.
  ci/packer/scripts/builder/install-github-runner.sh
Due: none

Same job.
  .github/workflows/pr.yml
Due: none

Set-up node and run unit tests.
  .github/workflows/pr.yml
Due: none

Installing dependencies to run tests.
  .github/workflows/pr.yml
Due: none

Python and poetry installation.
  .github/workflows/pr.yml
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
