Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

End of first MedicationDispense.
  packages/specification/schemas/components/MedicationDispense/Identifier.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationDispense/PrescriptionStatus.yaml
  packages/specification/schemas/components/MedicationDispense/extensions/EPSTaskBusinessStatus.yaml
Due: oas-build-checks

Descriptions from Service Overview page.
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

Added DispenseNotificationPractitionerRole.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
Due: oas-build-checks

OK, now it really matches the example.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/extensions/DMPerformerSiteType.yaml
  packages/specification/schemas/components/extensions/DMPrescriptionStatusHistory.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Changes following Ameya's review.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/DMPrescriptionId.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Moved extensions to _extensions.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MessageHeader/DispenseNotificationMessageHeader.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
  packages/specification/schemas/components/_extensions/DM-ResponsiblePractitioner.yaml
  packages/specification/schemas/components/_extensions/DMPerformerSiteType.yaml
  packages/specification/schemas/components/_extensions/DMPrescriptionId.yaml
  packages/specification/schemas/components/_extensions/DMPrescriptionStatusHistory.yaml
  packages/specification/schemas/components/_extensions/DispensingInformation.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/_extensions/SpineSupportingInfoPrescription.yaml
  packages/specification/schemas/components/_extensions/cancelResponseReasons.yaml
  packages/specification/schemas/components/_extensions/replacementOf.yaml
Due: oas-build-checks

DN schema
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationDispense/PrescriptionStatus.yaml
  packages/specification/schemas/components/omars.json
Due: oas-build-checks

Added DispenseNotificationOrganization and type fragment.
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/Organization/extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_fragments/type.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Removed unused properties from MedicationDispense.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

Extensions consolidated. References updated.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/extensions/ControlledDrug.yaml
  packages/specification/schemas/components/extensions/DM-ResponsiblePractitioner.yaml
  packages/specification/schemas/components/extensions/DMPrescriptionId.yaml
  packages/specification/schemas/components/extensions/DispensingInformation.yaml
  packages/specification/schemas/components/extensions/EPSTaskBusinessStatus.yaml
  packages/specification/schemas/components/extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/components/extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/extensions/cancelResponseReasons.yaml
Due: oas-build-checks

DispenseNotification corrections/additions and DispenseNotificationMessageHeader.
  packages/specification/schemas/components/MessageHeader/DispenseNotificationMessageHeader.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

DispenseNotificationOrganization aligns with example.
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
Due: oas-build-checks

End of second MedicationDispense.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

End of fourth and final MedicationDispense.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

WIP
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

DN schema
  packages/specification/schemas/components/MedicationDispense/Identifier.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationDispense/PrescriptionStatus.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

First round of changes.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationDispense/PrescriptionStatus.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Example file removed.
  packages/specification/schemas/components/omars.json
Due: oas-build-checks

Corrected main reference in top-level oas.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Removed unnecessary Identifier file.
  packages/specification/schemas/components/MedicationDispense/Identifier.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Refined against Service Overview page.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MessageHeader/DispenseNotificationMessageHeader.yaml
  packages/specification/schemas/components/Organization/extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/extensions/DMPrescriptionId.yaml
  packages/specification/schemas/components/extensions/DMPrescriptionStatusHistory.yaml
  packages/specification/schemas/components/extensions/replacementOf.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

Spec now valid.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MessageHeader/DispenseNotificationMessageHeader.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/_fragments/type.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

End of third MedicationDispense.
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

AEA-2787 Dispense Notification request schema
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MessageHeader/DispenseNotificationMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
  packages/specification/schemas/components/_extensions/DM-ResponsiblePractitioner.yaml
  packages/specification/schemas/components/_extensions/DMPerformerSiteType.yaml
  packages/specification/schemas/components/_extensions/DMPrescriptionId.yaml
  packages/specification/schemas/components/_extensions/DMPrescriptionStatusHistory.yaml
  packages/specification/schemas/components/_extensions/DispensingInformation.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/_extensions/SpineSupportingInfoPrescription.yaml
  packages/specification/schemas/components/_extensions/cancelResponseReasons.yaml
  packages/specification/schemas/components/_extensions/replacementOf.yaml
  packages/specification/schemas/components/_fragments/type.yaml
  packages/specification/schemas/requests/dispensing/DispenseNotification.yaml
Due: oas-build-checks

AEA-3148 APOTEC - EPSAT - Failed non-nominated test pack (#1440)
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
Due: lint-epsat-client, build-epsat

Removed test for NominatedRelease as no conversion examples.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Withdraw replaced.
  packages/coordinator/tests/services/translation/schema/Withdraw.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT136001UK31.xsd
Due: none

Using LocalDirectory for openjdk source.
  Makefile
  README.md
  azure/azure-build-pipeline.yml
Due: none

Using dir for which we should have access.
  azure/azure-build-pipeline.yml
Due: none

Attempt at passing full test case to validate. I am still confused.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Corrections to imported NominatedRelease schema.
  packages/coordinator/tests/services/translation/schema/NominatedRelease.xsd
Due: none

DispenseNotifications all running and passing convert validations.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Less rudimentary java installations to build and dev containers.
  .devcontainer/Dockerfile
  .tool-versions
  Makefile
  azure/azure-build-pipeline.yml
Due: none

Rudimentary java installation.
  Makefile
  azure/azure-build-pipeline.yml
Due: none

Removed unnecessary test setup.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Return all running and passing convert validations.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Removed unused NominatedRelease schema.
  packages/coordinator/tests/services/translation/schema/NominatedRelease.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121001UK30.xsd
Due: none

Removed schemas no longer referenced.
  packages/coordinator/tests/services/translation/schema/mim/COCT_MT050012UK05.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_IN080101UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK04.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK02.xsd
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
