Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

removed logging line
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

foce build
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

BAU-0000 Force build
  packages/tool/README.md
Due: none

reverted change
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

force build
  packages/coordinator/README.md
Due: none

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
Due: none

reverted snapshot changes
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
Due: none

reverted snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
Due: none

fixed snapshot tests
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

snapshot test
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

Amend the dispensing dispense-notification examples
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

added brackets to headers
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

AEA-3665 OAS Dispense - Notification page Try button returns 400 Bad Request (#1831)
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

remove redundant code and logs
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

fix releaase notes role
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
Due: none

fix releaase notes role (#1835)
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
Due: none

update snapshots
  Makefile
  README.md
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

exclude flakey test
  packages/bdd-tests/features/createPrescription.feature
Due: none

remove unused type
  package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

eject interceptors
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/util/helper.ts
Due: none

use common interceptor
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/util/helper.ts
Due: none

fix tests
  packages/bdd-tests/cucumber.js
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/genId.ts
  packages/bdd-tests/util/helper.ts
Due: none

pushed change
  packages/coordinator/README.md
Due: none

changes descriptions in the error codes table of release
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

updated snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

removes whitespace
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3320 Update Error Response Table in the OAS for the Release Endpoint (#1871)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Made practitioner role values optional after validating they are optional
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

BAU-12635 Force build
  packages/tool/README.md
Due: none

Added optional practitioner ref for practitoner role in validator
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

update snapshot
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

updates api error table
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reorders function call
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

adds descriptive value for HashingAlgorithm enum
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
Due: lint-coordinator, build-coordinator

fixes typo
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

removes duplicate reference checks
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
