Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

fix makefile
  Makefile
Due: none

AEA-3662 fix makefile for release notes (#1803)
  Makefile
Due: none

AEA-3692 Update Reason Codes in the schema for 'Not Dispensed' in the Claim Message (#1801)
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatusReason.yaml
Due: oas-build-checks

fix rc release notes
  .github/workflows/create_rc_int_release_notes.yml
  Makefile
  azure/templates/pre_int_deploy.yml
Due: none

fix current tag
  Makefile
Due: none

Amend MessageHeader.source.endpoint data type in primary-care examples ods A83008
  examples/primary-care/acute-and-repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/acute-and-repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/unknown/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/unknown/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/1-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/2-Process-Response-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/3-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/4-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/4-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/5-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/5-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/6-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/6-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/7-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/7-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/8-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/8-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/9-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/cancellations/9-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/spurious-code/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/spurious-code/1-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

added new nhsd-identity header to signing service
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/components/prescription-summary/prescriptionSummaryView.spec.tsx
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

changes repeat example
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
  package-lock.json
Due: oas-build-checks

changes eRD example
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
Due: oas-build-checks

removed debug line
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server, build-epsat

adds numberOfRepeatsAllowed in repeats
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

Amend data type in the errors examples for ods codes RBA and FH542
  examples/errors/1-Process-Request-Send-400_INVALID_CHECKSUM.json
  examples/errors/4-Process-Request-Send-400_invalid_intent.json
Due: oas-build-checks

Amend data type in the errors examples for ods code A83008
  examples/errors/2-Prepare-Request-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/2-Process-Request-Send-400_Invalid_Course_of_Therapy_mixed.json
Due: oas-build-checks

Amend data type in the errors examples for ods code VNCEL
  examples/errors/3-Process-Request-Dispense-400_Invalid_Value.json
Due: oas-build-checks

fix rc release notes (#1804)
  .github/workflows/create_rc_int_release_notes.yml
  Makefile
  azure/templates/pre_int_deploy.yml
Due: none

test apigee variable
  packages/tool/docker-compose.yml
Due: none

Amend data type in secondary-care no-nominated-pharmacy examples
  examples/secondary-care/community/acute/no-nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/no-nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Amend data type in secondary-care nominated-pharmacy examples
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Cancel-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-VerifySignature-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/prescription-refactor/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Process-Request-Cancel-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/medication-reference/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/medication-reference/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/multiple-medications/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/multiple-medications/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Process-Request-Cancel-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/professional-code/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/professional-code/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/paramedic/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/paramedic/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Process-Request-Send-200_OK.json
Due: oas-build-checks

Amend data type in secondary-care repeat-dispensing nominated-pharmacy examples
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/non-prescriber-endorsed/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/non-prescriber-endorsed/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-VerifySignature-Request-200_OK.json
Due: oas-build-checks

Amend data type in secondary-care homecare examples
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Process-Request-DispenseAmend-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Amend data type in the rest of the spec examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-VerifySignature-Request-200_OK.json
  examples/sandbox/Release-Response-200_OK.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
  examples/spec/dispensing/release/acute-primary-example-res.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
  examples/spec/errors/example-b-spine-error-patient-deceased/PrepareRequest-FhirMessageUnsigned.json
  examples/spec/errors/example-b-spine-error-patient-deceased/SendRequest-FhirMessageSigned.json
  examples/spec/errors/prescription-order-update/R-0006-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0006-Prescription.json
  examples/spec/errors/prescription-order-update/R-0008-Cancellation.json
  examples/spec/errors/prescription-order-update/bundle-error.json
  examples/spec/errors/prescription-order-update/bundle-success.json
  examples/spec/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order-update/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order-update/eRD-primary-example-res.json
  examples/spec/prescribing/prescription-order-update/repeat-primary-example-req.json
  examples/spec/prescribing/prescription-order-update/repeat-primary-example-res.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order/repeat-primary-example-req.json
Due: oas-build-checks

Amend data type in the package coordingator examples
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Has-StatusReasonCodableConcept-200_OK.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Multiple-Brands.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Expired.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Inconsistent.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-No-Reasons.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-acute-with-review-date.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
Due: lint-coordinator, build-coordinator

Amend data type in the package tool examples
  packages/tool/e2e-tests/messages/Non-ASCII Dosage Instructions.json
  packages/tool/e2e-tests/messages/Non-ASCII Note to dispenser.json
  packages/tool/e2e-tests/messages/Non-ASCII Patient additional Instructions.json
  packages/tool/e2e-tests/messages/XML tag Dosage Instructions.json
  packages/tool/e2e-tests/messages/XML tag Note to dispenser.json
  packages/tool/e2e-tests/messages/XML tag Patient additional Instructions.json
  packages/tool/e2e-tests/messages/prescriptionOrder.json
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
  packages/tool/site/client/tests/messages/dispenseNotification.json
  packages/tool/site/client/tests/messages/dispenseNotificationPartial.json
  packages/tool/site/client/tests/messages/prescriptionOrder.json
  packages/tool/site/client/tests/messages/releaseResponse.json
Due: lint-epsat-client, build-epsat

Amend data type in the package bdd-test example
  packages/bdd-tests/testData/epsPrepare.json
Due: none

AEA-3717 upgrade node version to latest LTS (#1800)
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  package-lock.json
  package.json
  packages/bdd-tests/package.json
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

revert test change
  packages/tool/docker-compose.yml
Due: none

fix package-lock.json
  package-lock.json
Due: none

update snapshots
  packages/tool/site/client/src/components/common/selectField.tsx
  packages/tool/site/client/src/components/prescription-tracker/dateRangeField.tsx
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/homePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/logoutPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/myPrescriptionsPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: lint-epsat-client, build-epsat

remove old types
  package-lock.json
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

fix logger
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/src/services/translation/response/spine-return-handler.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

update snapshots
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
Due: none

Amend data type in the MessageHeader schema
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
Due: oas-build-checks

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
Due: none

Revert "update snapshots"
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
Due: none

BAU-12575 Force re-deployment
  packages/tool/README.md
Due: none

kick off build again
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server, build-epsat

force reload
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server, build-epsat

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
