Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

fix passing in ENVIRONMENT to ecs container
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

New: [AEA-5049] - use cdk (#3186)
  .github/scripts/deploy_api.sh
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/electronic-prescription-service-api.code-workspace
  Makefile
  README.md
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/sandbox_template.yaml
  cdk.context.json
  cdk.json
  package-lock.json
  package.json
  packages/cdk/.gitignore
  packages/cdk/bin/PrescribeDispenseApp.ts
  packages/cdk/jest.config.ts
  packages/cdk/jest.debug.confi.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/cdk/tests/cdk-nag.test.ts
  packages/cdk/tsconfig.json
  packages/coordinator/Dockerfile
  samconfig_package_and_deploy.toml
  scripts/run_cfn_guard.sh
  scripts/update_validator_version.sh
  sonar-project.properties
Due: none

remove splunk subscription role policy
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

use l1 construct
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

Fix: [AEA-0000] - change subscription filter to be an L1 construct (#3218)
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

no mutual tls on pr
  .github/workflows/pull_request.yml
Due: none

check old and new sandbox
  .github/scripts/delete_stacks.sh
Due: none

fix regex
  .github/scripts/delete_stacks.sh
Due: none

another regex tweak
  .github/scripts/delete_stacks.sh
Due: none

fix sandbox stack name
  .github/scripts/delete_stacks.sh
  .github/workflows/pull_request.yml
Due: none

Fix: [AEA-0000] - no mutual tls on pull requests (#3219)
  .github/workflows/pull_request.yml
Due: none

increase grace
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

Fix: [AEA-0000] - increase health check grace period (#3220)
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

fix merge
  packages/cdk/resources/LogGroups.ts
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

use tagged tests
  scripts/run_regression_tests.py
Due: none

change sha1 enbaled app in PTL
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

Fix: [AEA-5072] - change sha1 enbaled app in PTL (#3231)
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

more merge fixes
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

fix
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: none

do not log body in apigee
  .gitallowed
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/Factory/dispenseProposalReturn.spec.ts
  packages/coordinator/tests/app.test.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunk.xml
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunkRequestContentBody.xml
  proxies/live/apiproxy/proxies/default.xml
Due: lint-coordinator, build-coordinator

log request response
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

debug response
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

skip test
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

remove debug
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

already checking type
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

Merge both node version bumps
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

Bump version in tool-versions and pipeline templates
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
Due: none

Fix webpack import
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client, build-epsat

use new validator version
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/coordinator/src/routes/health/get-status.ts
  packages/tool/azure/azure-build-pipeline.yml
Due: lint-coordinator, build-coordinator

revert validator upgrade
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Fix: [AEA-0000] - include version number in status endpoint (#3249)
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, build-coordinator

Remove odd comments
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

Upgrade: [AEA-0000] - Bump node version (#3245)
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/coordinator/Dockerfile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client, build-epsat

update to latest validator
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Fix: [AEA-0000] - do not log body in apigee (#3237)
  .gitallowed
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/Factory/dispenseProposalReturn.spec.ts
  packages/coordinator/tests/app.test.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunk.xml
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunkRequestContentBody.xml
  proxies/live/apiproxy/proxies/default.xml
Due: lint-coordinator, build-coordinator

update on comments
  packages/coordinator/src/utils/metadata.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-4896] - add metadata route (#3094)
  .github/scripts/deploy_api.sh
  packages/coordinator/src/routes/metadata.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/src/utils/metadata.ts
  packages/coordinator/tests/utils/headers.spec.ts
  packages/coordinator/tests/utils/metadata.spec.ts
  packages/specification/combineSpec.mjs
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  scripts/run_regression_tests.py
Due: lint-coordinator, oas-build-checks, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
