Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Example prepare ran through EPSAT
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Send-200_OK.json
Due: oas-build-checks

Starting fresh, Omars examples in, run prepare and conversion spec
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Send-200_OK.json
Due: oas-build-checks

refactorred script
  scripts/run_regression_tests.py
Due: none

adds doc string
  scripts/run_regression_tests.py
Due: none

Cancellation updates
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Convert-Response-Cancel-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Process-Request-Cancel-200_OK.json
Due: oas-build-checks

renames definition
  scripts/run_regression_tests.py
Due: none

Run Conversion spec
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Convert-Response-Cancel-200_OK.xml
Due: none

Moving examples back to responsibleparty org folder
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Response-Send-200_OK.json
Due: oas-build-checks

switched ref to "main"
  scripts/run_regression_tests.py
Due: none

adds n/a to not returned fields
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

changes claim endpoint case in OAS error table
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reorders endorsement code error
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

further refactoring and added assertions
  scripts/run_regression_tests.py
Due: none

Removed old examples, changed examples used in spec
  examples/spec/prepare/responsible-party-org-example-req.json
  examples/spec/prescribing/prescription-order-update/responsible-party-org-example-req.json
  examples/spec/prescribing/prescription-order/responsible-party-org-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Updated for optional agentPerson
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
Due: lint-coordinator, build-coordinator

[AEA-3774] Review Error Messages Across the EPS FHIR API - Add N/A (#1936)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3153-Allow-ResponsibleParty-to-be-Org (#1875)
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Response-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Convert-Response-Cancel-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Process-Request-Cancel-200_OK.json
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/debug/prepare.spec.ts
  packages/e2e-tests/services/update-prescriptions.ts
  packages/models/fhir/practitioner-role.ts
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

AEA-3622 Added github actionlint to dev container.
  .devcontainer/Dockerfile
  .tool-versions
Due: none

AEA-3622 Added github actionlint to Makefile and pre-commit hooks.
  .pre-commit-config.yaml
  Makefile
Due: none

AEA-3622 Fixed issues in workflow files.
  .github/workflows/continuous-integration.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

fix issue template
  .github/pull_request_template.md
Due: none

remove unused details from pull request template (#1949)
  .github/pull_request_template.md
Due: none

use new headless mode for epsat tests
  packages/tool/e2e-tests/live.test.ts
Due: none

adds pr argument
  scripts/run_regression_tests.py
Due: none

correct flag for headless
  packages/tool/e2e-tests/live.test.ts
Due: none

quit driver
  packages/tool/e2e-tests/live.test.ts
Due: none

just use quit
  packages/tool/e2e-tests/live.test.ts
Due: none

AEA-3781 use new headless mode for epsat tests (#1955)
  packages/tool/e2e-tests/live.test.ts
Due: none

Added new arguemnt "--pr_id" to run_regression_tests.py. Added call to run_regression_tests.py script in run_tests.yml
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

Changed --env=DEV to --env=INTERNAL-DEV in run_tests.yml
  scripts/generate_prescription_ids.py
Due: none

Changed --env=DEV to --env=INTERNAL-DEV in post_dev_deploy.yml
  .editorconfig
  azure/templates/post_dev_deploy.yml
  azure/templates/run_tests.yml
Due: none

Reverted unwanted changes
  .editorconfig
  scripts/generate_prescription_ids.py
Due: none

Renamed GITHUB_API_BASE_URL to GITHUB_API_URL in run_regression_tests.py
  scripts/run_regression_tests.py
Due: none

fix headless tests for sandbox
  packages/tool/e2e-tests/sandbox.test.ts
Due: none

changed branch back to main
  scripts/run_regression_tests.py
Due: none

fix headless tests for sandbox epsat (#1968)
  packages/tool/e2e-tests/sandbox.test.ts
Due: none

swapped the deployment steps order for Trigger regression tests and run bdd tests slight formatting of these names to include capital letters
  azure/templates/run_tests.yml
Due: none

changed perms on run_regression_tests.py
  scripts/run_regression_tests.py
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
