Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

adds error message in bundle validator
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Ods-Value-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Value-Identifier-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

tidies up
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Value-Identifier-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

checks how errors are thrown for when valueIdentifier is missing
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

reverts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

addresses review comments
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

AEA-2962 Adds error in diagnostics for missing ODS code of reimbursement Authority (#2037)
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

handle missing int tag
  azure/templates/pre_int_deploy.yml
Due: none

handle missing int tag (#2059)
  azure/templates/pre_int_deploy.yml
Due: none

rollback hard code version in pre_deploy int
  azure/templates/pre_int_deploy.yml
Due: none

adds validation for organization.extension
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

checks impact of removing second check
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

comments out test
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

rollback hard code version in pre_deploy int (#2060)
  azure/templates/pre_int_deploy.yml
Due: none

edits error messages
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-ODS-Code-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

adds index
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

edits index in path to match main file
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

edits extention path in error message
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

adds unit tests
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

fix getting tag post prod deploy as we are not in beta anymore
  azure/templates/post_prod_deploy.yml
Due: none

fix getting tag post prod deploy as we are not in beta anymore (#2077)
  azure/templates/post_prod_deploy.yml
Due: none

adds errors in validation errors
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

refactored functions and tests, now debugging why tests fialing
  .devcontainer/devcontainer.json
  Makefile
  package-lock.json
  package.json
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

remove max line
  packages/models/errors/validation-errors.ts
Due: lint-models, build-coordinator

edit documentation
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

AEA3844 - Provide a clear error message when the reimbursement authority is missing (#2061)
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-ODS-Code-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

refactored tests, now need to look at decodeRevokedCertificate function
  Makefile
  packages/coordinator/package.json
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

edits documentation
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds error file
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/spec/errors/example-a-validation-error-missing-field/Missing-DosageSequence.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reverts 200 request example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

removes example
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

adds validation
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

remove validation function
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

edits dosageInstruction validation for MedicationRequest in bundle
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

changes pushed error
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

comments out validation
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

enables check for testing
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

tidies up
  examples/spec/errors/example-a-validation-error-missing-field/Missing-DosageSequence.json
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

removes dash
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

tidies up
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator
