Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

adding date-time string to validityperiod end dates
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-VerifySignature-Request-200_OK.json
Due: oas-build-checks

adding date-time string to validityperiod end dates
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
Due: oas-build-checks

adding date-time string to validityperiod end dates
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
Due: oas-build-checks

adding date-time string to validityperiod end dates
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
Due: oas-build-checks

adding date-time string to validityperiod end dates
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  packages/bdd-tests/testData/epsDispense.json
Due: oas-build-checks

adding date-time string to validityperiod end dates
  packages/bdd-tests/testData/epsPrepare.json
  packages/bdd-tests/testData/medicationDispense.json
Due: none

adding date-time string to validityperiod end dates
  packages/bdd-tests/testData/medicationRequest.json
Due: none

adding date-time string to validityperiod end dates
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
Due: lint-coordinator, build-coordinator

adding date-time string to validityperiod end dates
  packages/tool/e2e-tests/messages/prescriptionOrder.json
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
Due: none

adding date-time string to validityperiod end dates
  packages/tool/site/client/tests/messages/dispenseNotification.json
  packages/tool/site/client/tests/messages/dispenseNotificationPartial.json
  packages/tool/site/client/tests/messages/prescriptionOrder.json
Due: lint-epsat-client, build-epsat

use main for regression tests
  scripts/run_regression_tests.py
Due: none

Fix: [AEA-0000] - fix examples for latest validator, pin to old validator, and create job to upgrade validator (#2885)
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  .github/workflows/update_validator_version.yml
  azure/azure-build-pipeline.yml
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  packages/tool/azure/azure-build-pipeline.yml
  scripts/update_validator_version.sh
Due: oas-build-checks

update to latest validator
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

tewak auto validator upgrade
  .github/workflows/update_validator_version.yml
Due: none

remove publishing coverage to azure as its handled by sonar now
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Fix: [AEA-0000] - tweak auto validator upgrade (#2901)
  .github/workflows/update_validator_version.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Add fhir-prescribing and fhir-dispensing oas
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/specification/package.json
Due: oas-build-checks

Change OAS versions to 0.0.1
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Add fhir-prescribing and fhir-dispensing oas to the specification_code artifact
  .github/workflows/run_package_code_and_api.yml
  Makefile
Due: none

Add a step and script to deploy fhir-prescribing API
  .github/scripts/deploy_api.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
Due: none

Grant execute permissions to the deploy_api script
  .github/scripts/deploy_api.sh
Due: none

Remove unnecessary variable from the script
  .github/scripts/deploy_api.sh
Due: none

Obtain mtls secrets
  .github/workflows/run_release_code_and_api.yml
Due: none

recommented devcontainer feature
  .devcontainer/devcontainer.json
Due: none

remove unused
  package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
Due: lint-coordinator, build-coordinator

add ts-expect-error
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/serialisation/xml.ts
Due: lint-coordinator, build-coordinator

work with latest xmldom
  packages/coordinator/src/services/serialisation/xml.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-4404] - ecs logs to splunk (#2712)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

update snapshots
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

upgrade to latest fhir
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

use correct test pakc
  scripts/run_regression_tests.py
Due: none

Deploy fhir-prescribing API
  .github/scripts/deploy_api.sh
  .github/workflows/run_release_code_and_api.yml
Due: none

Amend the target environment variable
  .github/scripts/deploy_api.sh
Due: none

Change is_pull_request to false after storing the secret used for mutual TLS
  .github/scripts/deploy_api.sh
Due: none

Deploy fhir-dispensing API
  .github/workflows/run_release_code_and_api.yml
Due: none
