Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Add thePrescriptionIsMarkedAs shared step
  packages/bdd-tests/step_definitions/shared-steps.ts
Due: none

Cleanup the releaseprescription steps
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Add the releasePrescriptionSharedSteps function
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Remove some releaseprescription steps
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Restore releasePrescriptionSharedSteps function
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Restore releaseprescription steps
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2881 - moved some common steps to shared-steps.ts to reduce duplication
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
Due: none

AEA-2881 - removed unused import
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
Due: none

Cleanup the code
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
Due: none

AEA-3002 Modify display for resource not found.
  coordinator/src/services/translation/response/spine-response-handler.ts
  examples/spec-errors/release/not-found-error.json
Due: oas-build-checks

Testing changes by adding to pr pipelines.
  azure/azure-pr-pipeline.yml
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added unused manual approval stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added depends_on to one stage, for one of the manual approval stages.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Re-ordered to align with provided diagram.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Empty depends_ons removed.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Rename internal-dev to internal_dev.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Manual approvals renamed.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Stripped down a bit.
  azure/azure-pr-pipeline.yml
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Changed internal-dev to internal_dev in the depends_on.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

All depends_ons as defined on the ticket.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Added another unused manual approval stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

ptl_manual_approval for sandbox and int.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Fine. One at a time.
  azure/azure-pr-pipeline.yml
Due: none

Removed empty depends_on from the other manual step.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added to depends_ons of same stage, for the other proper stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Underscore changed back to hyphen in environment name.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Removed empty depends_on from a manual step.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Reverted epsat pr pipeline to master.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

AEA-3186 Simplify Azure Pipeline approval steps
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Fixed SignatureFragments test.
  packages/coordinator/tests/resources/signature-fragments/PrepareIntermediate-Hl7V3SignatureFragments.xml
Due: none

Fixed tests for request/index.ts
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-NotDispensed-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Claim-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
Due: none

Pulled changes over from old branch to fix failing EPSAT smoke test.
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/tests/resources/message-fragments/practitionerRole.ts
  packages/coordinator/tests/resources/spine-responses/cancel_error_dispensed.xml
  packages/coordinator/tests/resources/spine-responses/cancel_success.xml
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-response.spec.ts
  packages/coordinator/tests/services/translation/response/practitioner-role.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

First implementation.
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Moved into own file for re-use.
  packages/coordinator/src/services/translation/request/job-role-code.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/job-role-code.spec.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Using in cancellation.
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
Due: lint-coordinator, build-coordinator

Using in agent-person.
  packages/coordinator/src/services/translation/request/agent-person.ts
Due: lint-coordinator, build-coordinator

New digests.
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Missed a digest.
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Fixed xml test.
  packages/coordinator/tests/resources/signature-fragments/PrepareIntermediate-Hl7V3SignatureFragmentsCanonicalized.txt
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
