Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Fixed SonarCloud issues
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

Fixed prescription translation when signature is null
  packages/coordinator/src/services/translation/common/response-bundles.ts
Due: lint-coordinator, build-coordinator

Fixed null check when translating provenance
  packages/coordinator/src/services/translation/common/response-bundles.ts
Due: lint-coordinator, build-coordinator

Removed hardcoded date
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

Testing with timestamp from HL7V3
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

Fix one pact test expecting hard coded date
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Attempt to change expected pact test datetime
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Fix the releaseprescription step
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Fix the createprescription step
  packages/bdd-tests/util/genId.ts
Due: none

New digests.
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Fixed tests for request/index.ts
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-NotDispensed-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Claim-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
Due: none

AEA-3208 Fixed digest creation when medication names contain ampersands
  .vscode/electronic-prescription-service-api.code-workspace
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/tracker/prescription.ts
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/src/services/translation/common/response-bundles.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/translation/request/signature.ts
  packages/coordinator/src/services/translation/response/provenance.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/coordinator/tests/services/translation/request/signing.spec.ts
  packages/coordinator/tests/services/translation/response/provenance.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tests/services/translation/reversibility.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

Added pact.like to test if ignores the specific value
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: lint-coordinator, build-coordinator

Fixed SignatureFragments test.
  packages/coordinator/tests/resources/signature-fragments/PrepareIntermediate-Hl7V3SignatureFragments.xml
Due: none

Fixed xml test.
  packages/coordinator/tests/resources/signature-fragments/PrepareIntermediate-Hl7V3SignatureFragmentsCanonicalized.txt
Due: none

Missed a digest.
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Added like to 2nd failing pact test, tried to find a clever way to break up the date but couldn't, trying this
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Can't use a function in pact.like
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Ternary to make sure like isn't applied to an undefined
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

AEA-2881 - Added return feature to tests AEA-3004 - Added fix to include timestamp in provenance
  bdd-tests/src/configs/api.ts
Due: none

Add setup for debugging jest-cucumber tests
  .vscode/launch.json
  packages/bdd-tests/package.json
Due: none

Added more specific time matcher for lastUpdated
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Broken down the stringify body in the pact test to separate out the test which contains the meta.lastupdated
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

First implementation.
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Using in cancellation.
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
Due: lint-coordinator, build-coordinator

Moved into own file for re-use.
  packages/coordinator/src/services/translation/request/job-role-code.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/job-role-code.spec.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Using in agent-person.
  packages/coordinator/src/services/translation/request/agent-person.ts
Due: lint-coordinator, build-coordinator

The Great Find & Replace IV - A few more leftover examples.
  examples/sandbox/Release-Response-200_OK.json
  examples/spec/errors/prescription-order-update/R-0006-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0006-Prescription.json
  examples/spec/errors/prescription-order-update/R-0008-Cancellation.json
  examples/spec/errors/prescription-order-update/bundle-error.json
  examples/spec/errors/prescription-order-update/bundle-success.json
Due: oas-build-checks

The Great Find & Replace III - EPSAT.
  packages/tool/e2e-tests/messages/Non-ASCII Dosage Instructions.json
  packages/tool/e2e-tests/messages/Non-ASCII Note to dispenser.json
  packages/tool/e2e-tests/messages/Non-ASCII Patient additional Instructions.json
  packages/tool/e2e-tests/messages/XML tag Dosage Instructions.json
  packages/tool/e2e-tests/messages/XML tag Note to dispenser.json
  packages/tool/e2e-tests/messages/XML tag Patient additional Instructions.json
  packages/tool/e2e-tests/messages/prescriptionOrder.json
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
  packages/tool/site/client/src/components/cancel/cancelForm.tsx
  packages/tool/site/client/src/components/dispense/createDispenseNotification.ts
  packages/tool/site/client/src/pages/cancelPage.tsx
  packages/tool/site/client/src/pages/releasePage.tsx
  packages/tool/site/client/src/pages/returnPage.tsx
  packages/tool/site/client/src/pages/withdrawPage.tsx
  packages/tool/site/client/src/services/test-packs/practitionerRoles.ts
  packages/tool/site/client/src/services/test-packs/xls.ts
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
  packages/tool/site/client/tests/messages/prescriptionOrder.json
  packages/tool/site/client/tests/messages/releaseResponse.json
Due: lint-epsat-client, build-epsat

Pulled changes over from old branch to fix failing EPSAT smoke test.
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/tests/resources/message-fragments/practitionerRole.ts
  packages/coordinator/tests/resources/spine-responses/cancel_error_dispensed.xml
  packages/coordinator/tests/resources/spine-responses/cancel_success.xml
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-response.spec.ts
  packages/coordinator/tests/services/translation/response/practitioner-role.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
