Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

AEA-3339 disable selenium tests for internal-qa (#1505)
  packages/tool/azure/azure-release-template.yml
Due: none

fix readme
  README.md
Due: none

fix release notes instructions in readme
  README.md
Due: none

fix release notes instructions in readme (#1512)
  README.md
Due: none

AEA-3343 Fell back to raw when additional instruction elements are invalid XML.
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3343 Fell back to raw when additional instruction elements are invalid XML. (#1513)
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3353 Fixed issues with new lines in additional instructions
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3353 Fixed issues with new lines in additional instructions (#1516)
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

working prepare
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/step_definitions/createPrescriptionSteps.ts
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/tsconfig.json
  packages/bdd-tests/util/helper.ts
Due: none

working create
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

next working test
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

AEA-3361 Fixed validation of DN when acute prescription has expiry date
  .devcontainer/devcontainer.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Task-Request-Release-200_OK.json
  packages/coordinator/src/services/translation/request/dispense/dispense-common.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

fix create tests
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/templates.ts
Due: none

Fixed capitalisation in convert test ids
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Send-200_OK.xml
Due: none

Removed unnecessary broken prepare example
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Prepare-Response-200_OK.json
Due: oas-build-checks

working release
  .vscode/launch.json
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

working signing
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/util/helper.ts
Due: none

Removed broken pact test and added unit tests instead
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/acute-with-review-date/1-Task-Request-Release-200_OK.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-acute-with-review-date.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

fix sigining
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/package.json
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

AEA-3361 Fixed validation of DN when acute prescription has expiry date (#1518)
  .devcontainer/devcontainer.json
  packages/coordinator/src/services/translation/request/dispense/dispense-common.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-acute-with-review-date.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

setup cucumber extension
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/extensions.json
  packages/bdd-tests/features/createPrescription.feature
Due: none

tidy code
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/util/helper.ts
Due: none

working tests
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/package.json
  packages/bdd-tests/step_definitions/sharedSteps.ts
Due: none

add extra test
  packages/bdd-tests/features/dispenseNotification.feature
Due: none

AEA-3372 Handled responsible party not having a code or id on release
  packages/coordinator/src/services/translation/common/response-bundles.ts
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

test name fix
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

more valid environments for bdd tests
  packages/bdd-tests/services/getaccessToken.ts
Due: none

AEA-3372 Handled responsible party not having a code or id on release (#1519)
  packages/coordinator/src/services/translation/common/response-bundles.ts
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

do not run bdd tests in sandbox
  azure/azure-release-template.yml
  packages/bdd-tests/services/getaccessToken.ts
Due: none

rename file to getAccessToken
  packages/bdd-tests/services/getAccessToken.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
Due: none

added comment about spliting helper.ts into smaller files
  packages/bdd-tests/util/helper.ts
Due: none

AEA-3385 Made practitioner have properly null identifier when spurious code is provided
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/src/services/translation/response/practitioner.ts
  packages/coordinator/tests/services/translation/response/practitioner-role.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3385 Made practitioner have properly null identifier when spurious code is provided (#1523)
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/src/services/translation/response/practitioner.ts
  packages/coordinator/tests/services/translation/response/practitioner-role.spec.ts
Due: lint-coordinator, build-coordinator

update validator version
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

AEA-3410 update validator version (#1526)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

AEA-3417 Made rate limits consistent between environments
  packages/coordinator/manifest_template.yml
Due: none

AEA-3417 Made rate limits consistent between environments (#1530)
  packages/coordinator/manifest_template.yml
Due: none

Start of changing redirect to calling credential manager
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
