Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

removes reference in make
  make.ps1
Due: none

fixes sonarlint warnings in readme
  README.md
Due: none

Removed more healthcareService refs
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3124 Remove Unused update_prescription Script (#1401)
  Makefile
  README.md
  make.ps1
  scripts/update-prescriptions.ps1
  scripts/update_prescriptions/fileio.py
  scripts/update_prescriptions/main.py
  scripts/update_prescriptions/paths.py
  scripts/update_prescriptions/prescriptions.py
  scripts/update_prescriptions/resources.py
  scripts/update_prescriptions/tests/__init__.py
  scripts/update_prescriptions/tests/test_update_prescriptions.py
  scripts/update_prescriptions/utils.py
Due: none

more recomended extensions
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/extensions.json
Due: none

check consistent language version
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .vscode/electronic-prescription-service-api.code-workspace
  azure/azure-build-pipeline.yml
  azure/azure-release-template.yml
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  scripts/check_language_versions.sh
Due: none

update readme
  README.md
Due: none

AEA-3116 - Addressed the PR comments made on AEA-2848-NEW PR Removed sensitive data from files to be committed in git
  packages/bdd-tests/.env.dev
  packages/bdd-tests/.env.qa
  packages/bdd-tests/.gitignore
  packages/bdd-tests/README.md
  packages/bdd-tests/features/createprescription.feature
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/services/getaccessToken.ts
  packages/bdd-tests/src/configs/ap.ts
Due: none

Add cd Pipeline.Workspace to the EPSAT Run smoke tests step
  packages/tool/azure/azure-release-template.yml
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

fix linting on shell script
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/extensions.json
  scripts/check_language_versions.sh
Due: none

AEA-3116 - Addressed the PR comments made on AEA-2848-NEW PR Removed sensitive data from files to be committed in git
  bdd-tests/services/getJWT.ts
Due: none

check consistent language version in build pipeline
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

Add pwd to debug
  packages/tool/azure/azure-release-template.yml
Due: none

Remove unnecessary fragments
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/requests/dispensing/NominatedRelease.yaml
  packages/specification/schemas/requests/dispensing/PatientRelease.yaml
  packages/specification/schemas/requests/dispensing/Release.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
  packages/specification/schemas/requests/dispensing/_group-identifier.yaml
  packages/specification/schemas/requests/dispensing/_owner.yaml
  packages/specification/schemas/requests/dispensing/_status.yaml
Due: oas-build-checks

Clean up the code
  packages/tool/azure/azure-release-template.yml
Due: none

Add cd Pipeline.Workspace to the Run smoke tests step
  azure/azure-release-template.yml
Due: none

corrected asdf plugin add
  .devcontainer/Dockerfile
Due: none

fix readme
  README.md
Due: none

corrected asdf plugin add in readme
  README.md
Due: none

fix targets in readme
  README.md
Due: none

3077 Investigate incorrect artifact download on CI (#1390)
  azure/azure-release-template.yml
  packages/tool/azure/azure-release-template.yml
Due: none

Bumped various node dependencies
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/utils/status.ts
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/models/spine/client.ts
  packages/tool/e2e-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryView.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/verifyPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

bump github actions versions
  .github/workflows/continuous-integration.yml
Due: none

AEA-3119- indentifying required fields on creating endpoints
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/MedicationRequest/CreateMedicationRequest.yaml
  packages/specification/schemas/MessageHeader/CreateRequestMessageHeader.yaml
  packages/specification/schemas/Patient/Patient.yaml
  packages/specification/schemas/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

in packages/e2e-tests
  package-lock.json
  packages/e2e-tests/package.json
Due: none

fix api docker build
  packages/coordinator/Dockerfile
Due: none

Update endpoint description
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3122 Common dev environment (#1402)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  README.md
  azure/azure-build-pipeline.yml
  azure/azure-release-template.yml
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/client/package.json
  scripts/check_language_versions.sh
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

wip update hapi
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/communication/ebxml-request-builder.ts
  packages/coordinator/src/services/communication/tracker111/index.ts
  packages/coordinator/src/services/communication/tracker111/live.ts
  packages/coordinator/src/services/translation/request/payload/factory.ts
  packages/coordinator/src/services/translation/request/payload/index.ts
  packages/coordinator/src/services/translation/request/payload/message.ts
  packages/coordinator/src/services/translation/request/return/payload/return-payload-factory.ts
  packages/coordinator/src/services/translation/response/index.ts
  packages/coordinator/src/services/translation/response/spine-return-handler.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/app.test.ts
  packages/coordinator/tests/logging/helpers.ts
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/routes/util.spec.ts
  packages/e2e-tests/package.json
  packages/tool/site/server/package.json
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/tsconfig.json
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

fix tests
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/server.ts
  packages/coordinator/tests/logging/helpers.ts
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

add joi to specifications
  package-lock.json
  packages/specification/package.json
Due: oas-build-checks

fix building api
  package-lock.json
  packages/coordinator/package.json
  packages/specification/package.json
Due: lint-coordinator, oas-build-checks, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
