Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

In search of the missing pyproject.toml file.
  .github/workflows/pr.yml
Due: none

First attempt at Withdraw Request schema creation, will check PR spec and adjust as needed
  packages/specification/schemas/components/PractitionerRole/TaskPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/ProvenanceAgent.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-2882 - Modify code and added PR review changes
  packages/bdd-tests/README.md
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/dispenseClaim.feature
  packages/bdd-tests/features/dispenseNotification.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/jest.config.json
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/step_definitions/createPrescriptionSteps.ts
  packages/bdd-tests/step_definitions/dispenseClaimSteps.ts
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/testData/epsClaim.json
  packages/bdd-tests/testData/epsDispense.json
  packages/bdd-tests/testData/epsPrepare.json
  packages/bdd-tests/testData/epsRelease.json
  packages/bdd-tests/testData/epsReturn.json
  packages/bdd-tests/testData/epsWithdrawDispenseNotification.json
  packages/bdd-tests/testData/eps_process_prepare.json
  packages/bdd-tests/testData/miscJSON.ts
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/signature.txt
  packages/bdd-tests/util/templates.ts
Due: none

Add Withdraw request schema to the spec
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-2882 - Reverted some changes made for testing
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/step_definitions/sharedSteps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Missed Org resource and removed test description
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Allof to anyof
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-3257 Enabled dispensing feature flag in production (#1487)
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

change for pipeline trigger test
  packages/tool/azure/azure-release-pipeline.yml
Due: none

APM-4153 Add fullstop to read me just to trigger pr
  README.md
Due: none

APM-4153 Add fullstop to read me just to trigger pr (#1494)
  README.md
Due: none

AEA-2803 Claim Endpoint - Response Schema (#1485)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3004 Create a prescription - Generate a signature (#1473)
  .vscode/launch.json
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  packages/bdd-tests/package.json
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
  packages/bdd-tests/util/genId.ts
  packages/bdd-tests/util/helper.ts
Due: none

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Update electronic-prescription-service-api.yaml (#1495)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Changes discussed in first half of review
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/TaskPractitionerRole.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Update MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

AEA-3267 - Fixed reliance on meta.lastupdated when generating validation responses. Plus async fixes in selenium tests.
  packages/coordinator/src/routes/debug/convert.ts
  packages/coordinator/src/routes/debug/dose-to-text.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/tool/e2e-tests/dispense/verifyPrescription.spec.ts
  packages/tool/e2e-tests/dose-to-text/doseToText.spec.ts
  packages/tool/e2e-tests/helpers.ts
Due: lint-coordinator, build-coordinator

Changes based on simplifier link from Omar, added reasonCode
  packages/specification/schemas/components/PractitionerRole/TaskPractitionerRole.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-2882 - Added lint to BDD repo
  .pre-commit-config.yaml
  package.json
  packages/bdd-tests/.eslintrc
  packages/bdd-tests/package.json
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/services/getaccessToken.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/src/configs/spec.ts
  packages/bdd-tests/step_definitions/createPrescriptionSteps.ts
  packages/bdd-tests/step_definitions/dispenseClaimSteps.ts
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/genId.ts
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/templates.ts
Due: none

Deduped dosage instruction docs and clarified how text is combined
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

Fixed up auto-linting
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
Due: oas-build-checks

More suitable reference example
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-3034 Provide a clear schema for how dosage instructions should be populated (#1449)
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

AEA-2882 - Refactored code around directory creation
  packages/bdd-tests/src/configs/api.ts
Due: none

Fixed many of the OAS linting errors rendering this schema invalid
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

removes /$verify-signature endpoint
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/index.ts
Due: lint-coordinator, build-coordinator

removes /Tracker endpoint
  packages/coordinator/src/routes/index.ts
  packages/coordinator/src/routes/tracker/index.ts
  packages/coordinator/src/routes/tracker/prescription.ts
Due: lint-coordinator, build-coordinator

removes /$verify-signature tests
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

removes /$verify-signature e2e tests and references in epsat server
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/resources/common.ts
  packages/e2e-tests/specs/live/verify-signature.spec.ts
  packages/e2e-tests/specs/sandbox/verify-signature.spec.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat
