Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2794 do not publish pacts (#1451)
  Makefile
  azure/azure-release-template.yml
  packages/e2e-tests/Makefile
  packages/e2e-tests/broker/publish.ts
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/package.json
Due: none

Static certs added for dependent tests. Happy path passing. Unhappy path in progress.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
  packages/coordinator/tests/resources/certificates/staticCaCert.pem
  packages/coordinator/tests/resources/certificates/staticRevokedCaCert.pem
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaNotOnArl.xml
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaOnArl.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Proper progress. New ParentPrescription added with cert that has matching CA. Happy path passing test.
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/resources/certificates/openssl-ca.conf
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertNotOnArl.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Moxios fix.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

CRL test cases reunited.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Handy openssl command added as comment.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

More bleating from SonarCloud.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

CRL distribution point added to the CA cert.
  packages/coordinator/tests/resources/certificates/openssl-ca.conf
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Using ID instead of serial.
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Additions to utils.
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

Added static crl. Ready to regenerate certs.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
  packages/coordinator/tests/resources/certificates/staticCaCrl.crl
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

SonarCloud complaining about unnecessary assertion. Removed.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Making use of test-helpers.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Only perform ARL check when an available sub-CA cert matches that on the prescription.
  packages/coordinator/src/services/verification/certificate-revocation/index.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Unit test fix.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Tests passing.
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaOnArl.xml
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Moved into static dir. Fully regenerated and replaced certs and crl.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
  packages/coordinator/tests/resources/certificates/static/ca.crl
  packages/coordinator/tests/resources/certificates/static/ca.pem
  packages/coordinator/tests/resources/certificates/static/caRevoked.pem
  packages/coordinator/tests/resources/certificates/static/revokedCa.pem
  packages/coordinator/tests/resources/certificates/static/validSmartcard.pem
  packages/coordinator/tests/resources/certificates/staticCaCert.pem
  packages/coordinator/tests/resources/certificates/staticCaCrl.crl
  packages/coordinator/tests/resources/certificates/staticRevokedCaCert.pem
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaNotOnArl.xml
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaOnArl.xml
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Progress. Unit test for filtering sub-Ca certs.
  packages/coordinator/src/services/verification/certificate-revocation/index.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Resilience in getSubCaCert.
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

And another unit test fix. All good now.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

CA cert present in process.env for tests that require it.
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Getting CA cert into test environment variable.
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Removed unnecessary function in generate_mock_certs.sh file.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
Due: none

Review changes.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
  packages/coordinator/tests/resources/certificates/static/README.md
  packages/coordinator/tests/resources/certificates/static/caRevoked.pem
  packages/coordinator/tests/resources/certificates/static/validSmartcard.pem
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaNotOnArl.xml
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaOnArl.xml
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Removed unused variable.
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
Due: none

Fixed async in request tests
  packages/coordinator/tests/services/translation/request/index.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3215 use forEach instead of map in test (#1467)
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

fix another test
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3028 publish code coverage (#1408)
  azure/azure-build-pipeline.yml
  packages/coordinator/package.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/site/client/package.json
Due: lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

Fixed update prescriptions script for new canonicalization
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

AEA-2965 Verify sub-CA for cert is not revoked
  packages/coordinator/src/services/verification/certificate-revocation/index.ts
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/certificates/generate_mock_certs.sh
  packages/coordinator/tests/resources/certificates/openssl-ca.conf
  packages/coordinator/tests/resources/certificates/static/README.md
  packages/coordinator/tests/resources/certificates/static/ca.crl
  packages/coordinator/tests/resources/certificates/static/ca.pem
  packages/coordinator/tests/resources/certificates/static/revokedCa.pem
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaNotOnArl.xml
  packages/coordinator/tests/resources/signed-prescriptions/SignatureCertCaOnArl.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

Added tests and comments for ampersand encoding logic
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

Update the validator version to v1.0.113-alpha
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

AEA-3205 eRD Prescription gives a response of 400 due to constraint (#1468)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

First implementation.
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Moved into own file for re-use.
  packages/coordinator/src/services/translation/request/job-role-code.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/job-role-code.spec.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Using in agent-person.
  packages/coordinator/src/services/translation/request/agent-person.ts
Due: lint-coordinator, build-coordinator

Using in cancellation.
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
Due: lint-coordinator, build-coordinator

Fell back to the default canonicalization method if not present
  packages/coordinator/src/services/translation/response/provenance.ts
  packages/coordinator/tests/services/translation/response/provenance.spec.ts
Due: lint-coordinator, build-coordinator
