Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

set random session key if not set
  packages/tool/site/server/src/config.ts
Due: lint-epsat-server, build-epsat

fix default key
  package-lock.json
  packages/coordinator/package.json
  packages/tool/site/server/src/config.ts
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

remove unused dependencies
  package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

add pino-pretty
  package-lock.json
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

fix logging startup
  packages/tool/site/server/src/app.ts
  packages/tool/site/server/src/config.ts
Due: lint-epsat-server, build-epsat

more version bumps
  package-lock.json
  packages/e2e-tests/package.json
Due: none

dont upgrade query-string
  package-lock.json
  packages/e2e-tests/package.json
Due: none

Updated tests to better reflect checks for message formats in prescription types
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

publish code coverage
  azure/azure-build-pipeline.yml
Due: none

fix coverage path
  azure/azure-build-pipeline.yml
Due: none

fix name of coverage report
  azure/azure-build-pipeline.yml
Due: none

Reverted changes to EPSAT, possibly broken build
  packages/tool/e2e-tests/messages/prescriptionOrder.json
  packages/tool/site/client/tests/messages/prescriptionOrder.json
Due: lint-epsat-client, build-epsat

force streetAddressLine to always be an array
  packages/coordinator/package.json
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/tests/Factory/dispenseProposalReturn.spec.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/response/release/full_successful_release.xml
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3139 force streetAddressLine to always be an array (#1409)
  packages/coordinator/package.json
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/tests/Factory/dispenseProposalReturn.spec.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/response/release/full_successful_release.xml
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

Reverting pact failures
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Request-200_OK.json
Due: oas-build-checks

AEA-3119 - Required fields signposting for Cancel endpoints
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/MessageHeader/CancelRequestMessageHeader.yaml
  packages/specification/schemas/MessageHeader/CancelResponseMessageHeader.yaml
  packages/specification/schemas/Practitioner/CancelRequestPractitioner.yaml
  packages/specification/schemas/Practitioner/CancelResponsePractitioner.yaml
  packages/specification/schemas/PractitionerRole/CancelPractitionerRole.yaml
Due: oas-build-checks

Update description
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Updated prepare request
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Request-200_OK.json
Due: oas-build-checks

Make identifier fragment reusable
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

Add validation rules to agent code
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

Add required properties
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
Due: oas-build-checks

put repeat info in correct location in dispense notifications
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Dispense-200_OK.xml
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/models/hl7-v3/dispense-notification.ts
Due: lint-models, lint-coordinator, build-coordinator

Replace SDSJobRoleCode with SDSJobRoleName
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

Fix telecom element
  packages/specification/schemas/components/_fragments/telecom.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

AEA-3140 put repeat info in correct location in dispense notifications (#1410)
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Dispense-200_OK.xml
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/models/hl7-v3/dispense-notification.ts
Due: lint-models, lint-coordinator, build-coordinator

Make attribute optional
  packages/specification/schemas/components/_fragments/telecom.yaml
Due: oas-build-checks

Simplify schema and reuse fragments
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/_fragments/address.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/requests/dispensing/Release.yaml
Due: oas-build-checks

Add release request examples
  examples/spec/dispense/Nominated-Pharmacy-Request-Release-200_OK.json
  examples/spec/dispense/Patient-Request-Release-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Move spec-errors directory to spec/errors
  examples/spec/errors/example-a-validation-error-missing-field/Response-FhirError.json
  examples/spec/errors/example-b-spine-error-patient-deceased/PrepareRequest-FhirMessageUnsigned.json
  examples/spec/errors/example-b-spine-error-patient-deceased/SendRequest-FhirMessageSigned.json
  examples/spec/errors/operation-outcome-success.json
  examples/spec/errors/prescription-order-update/R-0006-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0006-Prescription.json
  examples/spec/errors/prescription-order-update/R-0008-Cancellation.json
  examples/spec/errors/prescription-order-update/bundle-error.json
  examples/spec/errors/prescription-order-update/bundle-success.json
  examples/spec/errors/release/not-found-error.json
  examples/spec/errors/release/with-another-dispenser-error.json
  examples/spec/errors/task/query-error.json
  examples/spec/errors/task/success.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Update Makefile rules for swagger-editor
  packages/specification/Makefile
Due: none

AMP-941 API Specs - add Errors section (#1037)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

use PublishCodeCoverageResults@1
  azure/azure-build-pipeline.yml
Due: none

add cobertura coverage report
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

fix path
  azure/azure-build-pipeline.yml
Due: none

try using different report directory
  azure/azure-build-pipeline.yml
Due: none

disable create report
  azure/azure-build-pipeline.yml
Due: none

use secret_file_ids for int cert and key
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
Due: none
