Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

AEA-3109 Updated validator to pick up new changes to claim endorsement codes
  azure/azure-build-pipeline.yml
Due: none

refactoring
  packages/models/hl7-v3/cancellation-request.ts
  packages/models/hl7-v3/return.ts
  packages/tool/site/Dockerfile
  scripts/calculate_version.py
Due: lint-models, build-coordinator

removes array index from keys
  packages/tool/site/client/src/components/claim/claimForm.tsx
  packages/tool/site/client/src/components/claim/endorsementArray.tsx
  packages/tool/site/client/src/components/claim/productArray.tsx
  packages/tool/site/client/tests/components/claim/claimForm.spec.tsx
Due: lint-epsat-client, build-epsat

removes array index from key
  packages/tool/site/client/package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/common/newLineFormatter.tsx
Due: lint-epsat-client, build-epsat

removes duplication
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/coordinator/tests/services/translation/response/spine-response-handler.spec.ts
Due: lint-coordinator, build-coordinator

adds id field to radio buttons to remove array index from keys
  packages/tool/site/client/src/components/cancel/cancelForm.tsx
  packages/tool/site/client/src/components/common/pharmacies.tsx
  packages/tool/site/client/src/components/common/radioField.tsx
  packages/tool/site/client/src/components/common/selectField.tsx
  packages/tool/site/client/src/components/dispense/dispenseType.tsx
  packages/tool/site/client/src/components/release/releaseType.tsx
  packages/tool/site/client/src/pages/loadPage.tsx
  packages/tool/site/client/tests/components/selectField.spec.tsx
Due: lint-epsat-client, build-epsat

fixes broken regex
  packages/coordinator/src/services/translation/response/identifiers.ts
Due: lint-coordinator, build-coordinator

removes array index from keys
  packages/tool/site/client/src/components/dispense/lineItemArray.tsx
  packages/tool/site/client/src/components/dispenseEventsTable/dispenseEventTable.tsx
  packages/tool/site/client/src/components/dispenseEventsTable/lineItemTable.tsx
Due: lint-epsat-client, build-epsat

AEA-3109 Updated validator to pick up new changes to claim endorsement codes (#1384)
  azure/azure-build-pipeline.yml
Due: none

Amend the validation rule for repeat prescription with no extension
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Remove unnecessary validation conditions
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Remove inconsistentValueErrors from verifyRepeatDispensingPrescription
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Amend the validation rule for repeat prescription with no dispenseRequest.validityPeriod
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

changes function name for test of SonarCloud functionality
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

adds test comment
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
Due: lint-coordinator, build-coordinator

removes duplicate import
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

restructures to default import, reformats switch
  packages/tool/site/client/src/fhir/helpers.ts
Due: lint-epsat-client, build-epsat

removes array index from keys
  packages/tool/site/client/src/components/claim/productArray.tsx
Due: lint-epsat-client, build-epsat

removes array index from keys, updates hashing package
  packages/tool/site/client/src/components/common/newLineFormatter.tsx
  packages/tool/site/client/src/components/dispenseEventsTable/lineItemTable.tsx
  packages/tool/site/client/src/components/my-prescriptions/prescriptionGroupTable.tsx
  packages/tool/site/client/src/components/prescription-summary/fragments/MedicationSummaryTable.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionItemTable.tsx
  packages/tool/site/client/src/pages/loadPage.tsx
Due: lint-epsat-client, build-epsat

adds crypto-js and types
  packages/tool/site/client/package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

updates key
  packages/tool/site/client/src/components/common/radioField.tsx
Due: lint-epsat-client, build-epsat

removes array index from keys
  packages/tool/site/client/src/components/sessionTimer.tsx
Due: lint-epsat-client, build-epsat

removes array index from keys
  packages/tool/site/client/src/components/pagination.tsx
Due: lint-epsat-client, build-epsat

refactors to remove required
  packages/tool/site/client/src/components/dispenseEventsTable/dispenseEventTable.tsx
  packages/tool/site/client/src/components/dispenseEventsTable/lineItemTable.tsx
Due: lint-epsat-client, build-epsat

updates key
  packages/tool/site/client/src/components/claim/endorsementArray.tsx
Due: lint-epsat-client, build-epsat

updates hash
  packages/tool/site/client/src/components/common/newLineFormatter.tsx
Due: lint-epsat-client, build-epsat

breaks ternary into components
  packages/tool/site/client/src/pages/comparePage.tsx
Due: lint-epsat-client, build-epsat

Restore the repeat prescription test with no dispenseRequest.validityPeriod
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Restore the validation rule for dispenseRequest.validityPeriod
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Fix the dispenseRequest.validityPeriod test
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

extracts duplicated code
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/sorter.spec.tsx
Due: lint-epsat-client, build-epsat

renames function
  scripts/generate_prescription_ids.py
Due: none

removed unused array
  packages/tool/site/server/src/routes/prescribe/edit.ts
Due: lint-epsat-server, build-epsat

linting
  packages/e2e-tests/services/update-prescriptions.ts
  scripts/update_prescriptions.py
  scripts/yaml2json.py
Due: none

Add test for repeat prescription with no authorisationExpiryDate
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

Rename the extension variable
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

installs uuid types
  packages/e2e-tests/package-lock.json
Due: none
