Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Fix resources pagination
  SAMtemplates/load_balancer/main.yaml
Due: none

Comment out PrivateSubnetAclAssociation resources
  SAMtemplates/load_balancer/main.yaml
Due: none

Associate the default NACL with each subnet
  SAMtemplates/load_balancer/main.yaml
Due: none

Build: [AEA-4506] - Migrate to communal qc (#2844)
  .github/scripts/check_ecr_image_scan_results.sh
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/quality_checks.yml
  .github/workflows/release.yml
  README.md
Due: none

Fix: [AEA-4557] - Author and Responsible Party referenced in the Schema (#2860)
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
Due: oas-build-checks

fix LogRetentionInDays
  SAMtemplates/main_template.yaml
Due: none

fix stream prefix
  SAMtemplates/load_balancer/main.yaml
Due: none

Fix: [AEA-4558] - Author referenced in the 'Mark a prescription as dispensed - Dispensing' schema (#2861)
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
Due: oas-build-checks

Remove the word 'default' from the naming
  SAMtemplates/load_balancer/main.yaml
Due: none

New: [AEA-4401] - Configure docker container to connect to Spine (#2835)
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/coordinator/tests/services/communication/spine-client-factory.spec.ts
Due: lint-coordinator, build-coordinator

fix examples
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

fix first test
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
Due: none

fix tests
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

fix id
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
Due: oas-build-checks

run tests with new test pack
  scripts/run_regression_tests.py
Due: none

fix test
  packages/bdd-tests/features/createPrescription.feature
Due: none

escape |
  packages/bdd-tests/features/createPrescription.feature
Due: none

update examples
  azure/azure-build-pipeline.yml
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
  scripts/run_regression_tests.py
Due: oas-build-checks

another escape |
  packages/bdd-tests/features/createPrescription.feature
Due: none

check for correct error message
  packages/bdd-tests/features/createPrescription.feature
Due: none

Amend export specification path
  .github/workflows/sam_release_code.yml
Due: none

Amend contributing file path
  .github/workflows/pr_title_check.yml
Due: none

use fixed validator version
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/update_validator_version.sh
Due: none

create script to update validator
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/update_validator_version.sh
Due: none

github action to update validator version
  .github/workflows/update_validator_version.yml
Due: none

fix script
  .github/workflows/update_validator_version.yml
Due: none

get latest validator version
  scripts/update_validator_version.sh
Due: none

output versions to github env
  scripts/update_validator_version.sh
Due: none

upgrade action script
  .github/workflows/update_validator_version.yml
Due: none

debug on script
  scripts/update_validator_version.sh
Due: none

fix script
  .github/workflows/update_validator_version.yml
  scripts/update_validator_version.sh
Due: none

fix action
  .github/workflows/update_validator_version.yml
Due: none

fix branch name
  .github/workflows/update_validator_version.yml
Due: none

use var
  .github/workflows/update_validator_version.yml
Due: none

try different way
  .github/workflows/update_validator_version.yml
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
