Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

rollback user change
  packages/e2e-tests/auth/src/oauth.ts
Due: none

fix verify
  packages/e2e-tests/broker/verify.ts
Due: none

Fixed incorrect usages of same extension.
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  packages/coordinator/src/services/translation/request/dispense/dispense-common.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
Due: lint-coordinator, oas-build-checks, build-coordinator

Added UnsignedIntExtension to accepted extension types.
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/tests/services/translation/response/release/release-medication-request.spec.ts
  packages/models/fhir/extension.ts
Due: lint-models, lint-coordinator, build-coordinator

Test fix.
  packages/coordinator/tests/services/translation/response/release/release-medication-request.spec.ts
Due: lint-coordinator, build-coordinator

DispensingInformation. Changed DateExtension to DateTimeExtension. New dateTime utility functions. Test adjustments.
  examples/spec/errors/task/success.json
  packages/coordinator/src/services/translation/common/dateTime.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
  packages/coordinator/tests/services/translation/common/dateTime.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/models/fhir/extension.ts
  packages/tool/site/client/tests/messages/detailSearchResult.json
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
Due: lint-models, lint-coordinator, lint-epsat-client, oas-build-checks, build-coordinator, build-epsat

Added fullUrl to entry containing OperationOutcome.
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

Typing and imports fixed.
  packages/coordinator/src/services/translation/request/dispense/dispense-common.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

Further typing corrections for repeat extensions.
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/models/fhir/extension.ts
  packages/models/fhir/task.ts
Due: lint-models, lint-coordinator, build-coordinator

adds reference to operation outcome for invalid request response
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds words to spellcheck list
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

Reverting digest changes
  examples/primary-care/acute-and-repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/no-nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/medication-reference/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/multiple-medications/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/professional-code/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/paramedic/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/non-prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
Due: oas-build-checks

AEA-3019 FHIR signature invalid response
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  examples/spec/errors/task/success.json
  packages/coordinator/src/services/translation/common/dateTime.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-common.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
  packages/coordinator/tests/services/translation/common/dateTime.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-medication-request.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/models/fhir/extension.ts
  packages/models/fhir/task.ts
  packages/tool/site/client/tests/messages/detailSearchResult.json
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
Due: lint-models, lint-coordinator, lint-epsat-client, oas-build-checks, build-coordinator, build-epsat

Reverting more digests
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/unknown/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Response-200_OK.json
Due: oas-build-checks

Missed HcService removal
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Release-200_OK.xml
Due: oas-build-checks

Missed HcService removal
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Release-200_OK.xml
Due: oas-build-checks

Another missed HcService removal
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Release-200_OK.xml
Due: oas-build-checks

Updated digest
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
Due: oas-build-checks

AEA-2934 - Added Communication Request AEA-2888 - Added Dispense Claims Tests Refactored code to reuse existing step definitions
  packages/bdd-tests/features/createprescription.feature
  packages/bdd-tests/features/dispenseclaim.feature
  packages/bdd-tests/features/dispensenotification.feature
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/src/configs/ap.ts
  packages/bdd-tests/step_definitions/createprescription-steps.ts
  packages/bdd-tests/step_definitions/dispenseclaim-steps.ts
  packages/bdd-tests/step_definitions/dispensenotification-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
  packages/bdd-tests/testData/communicationRequest.json
  packages/bdd-tests/testData/eps_claim.json
  packages/bdd-tests/testData/medicationClaim.json
  packages/bdd-tests/testData/medicationDispense.json
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/helpercont.ts
  packages/bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2934 - removed code from unused location
  bdd-tests/services/getJWT.ts
Due: none

Hopefully last few remaining changes I missed
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Convert-Response-Send-200_OK.xml
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Release-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Convert-Response-Release-200_OK.xml
Due: oas-build-checks

Missed references to old resources
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Request-200_OK.json
Due: oas-build-checks

adds spellchecker words
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/tests/services/translation/request/dosage.spec.ts
Due: lint-coordinator, build-coordinator

Addressing pact failures, missed references
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Process-Request-Send-200_OK.json
Due: oas-build-checks

updates getDosageInstruction to concatenate instructions
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

spellchecker bits
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

removes investigation mark
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

refactors
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

adds type definitions for readability
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

linting
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

adds error handling for parsing number
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

Remove resourceType for the Secondary Care
  packages/tool/site/client/src/services/test-packs/index.ts
  packages/tool/site/client/src/services/test-packs/placeResources.ts
Due: lint-epsat-client, build-epsat

moves dosage instructions functions to own file
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/utils/dosage-instructions.ts
Due: lint-coordinator, build-coordinator

breaks out getDosageInstruction Medication Dispense extraction
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/utils/dosage-instructions.ts
Due: lint-coordinator, build-coordinator
