Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

hardcodes conversion table and adds reference. Restructures into separate directory
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/src/services/translation/response/practitioner-role/role-names.ts
Due: lint-coordinator, build-coordinator

AEA-3147 get correct certificate for signing e2e tests (#1433)
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

adds test and linting
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

adds spellchecker approved words
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

removes todo comment
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
Due: lint-coordinator, build-coordinator

fixes typos
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

moves role-names to a json
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/src/services/translation/response/practitioner-role/role-names.json
  packages/coordinator/src/services/translation/response/practitioner-role/role-names.ts
  packages/coordinator/tsconfig.json
Due: lint-coordinator, build-coordinator

reorders tests
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

adds beforeAll callback generator
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

reuses afterAll callback, refactors beforeAll
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

collects common tests to reduce code duplication
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

Add the Return response 4XX Error codes and the operation-outcome schema
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Remove the version field from the schema
  examples/spec/errors/example-a-validation-error-missing-field/Response-FhirError.json
  packages/specification/schemas/components/ErrorCode.yaml
Due: oas-build-checks

Update the validator version to v1.0.428-alpha
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Fix the typo.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

reduces code duplication
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

AEA-2819 Return Endpoint - Response Schema (#1435)
  examples/spec/errors/example-a-validation-error-missing-field/Response-FhirError.json
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/ErrorCode.yaml
Due: oas-build-checks

Updated tool snapshots for pact tests
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, oas-build-checks, build-epsat

Missed spec errors
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
  examples/spec/errors/example-a-validation-error-missing-field/Response-FhirError.json
  examples/spec/errors/operation-outcome-success.json
  examples/spec/errors/release/not-found-error.json
  examples/spec/errors/release/with-another-dispenser-error.json
  examples/spec/errors/task/query-error.json
Due: oas-build-checks

Missed opoutcome resource in pact tests
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Updated validator version again
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

updates uuids
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

updates prescription order numbers
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

Updated validator version again again
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Update the validator version to v1.0.112-alpha
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Mismatched lastUpdated
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
Due: oas-build-checks

AEA-3146 Extend support for obsolete prescription types (#1430)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

updates uuids to be unique
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

Reverted checksum date, issues with using current datetime in pact tests
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
  packages/models/fhir/operation-outcome.ts
Due: lint-models, oas-build-checks, build-coordinator

Trying lastUpdated hardcoded to 2022 date
  packages/models/fhir/operation-outcome.ts
Due: lint-models, build-coordinator

updates uuids
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

updates uuids
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

removes apostrophe
  packages/coordinator/tests/services/translation/request/dosage.spec.ts
Due: lint-coordinator, build-coordinator

updates references to examplePrescription1
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/routes/util.spec.ts
  packages/coordinator/tests/services/translation/common/getResourcesOfType.spec.ts
  packages/coordinator/tests/services/translation/common/index.spec.ts
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
  packages/coordinator/tests/services/translation/request/course-of-therapy-type.spec.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/coordinator/tests/services/translation/request/line-item.spec.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/coordinator/tests/services/translation/request/signing.spec.ts
  packages/coordinator/tests/services/translation/response/provenance.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/coordinator/tests/services/validation/fhir-path.spec.ts
Due: lint-coordinator, build-coordinator

fixes sonarcloud bug
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/tests/services/translation/request/line-item.spec.ts
Due: lint-coordinator, build-coordinator

Change the default value of nominatedOds to None
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
  packages/tool/site/client/tests/components/prescription-summary/props.tsx
Due: lint-epsat-client, build-epsat

AEA 3008 Fhir Release Response Capture Role Name (#1436)
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/src/services/translation/response/practitioner-role/index.ts
  packages/coordinator/src/services/translation/response/practitioner-role/role-names.json
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tsconfig.json
Due: lint-coordinator, build-coordinator

Removed pact failure metas
  examples/errors/2-Process-Response-Send-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/3-Process-Response-Dispense-400_Invalid_Value.json
Due: oas-build-checks

Lint to fix pipeline
  examples/errors/2-Process-Response-Send-400_Invalid_Course_of_Therapy_mixed.json
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
