Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Directly use values in the ECSTaskDefinition for the fhir-facade-repo and validator-repo
  .github/scripts/release_code.sh
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
Due: none

Remove unnecessary parameters from main template
  SAMtemplates/main_template.yaml
Due: none

Restore the CommitId parameter in the main load balancer template
  SAMtemplates/load_balancer/main.yaml
Due: none

get validator version correctly
  azure/azure-build-pipeline.yml
Due: none

fix variable
  azure/azure-build-pipeline.yml
Due: none

correct variable again
  azure/azure-build-pipeline.yml
Due: none

Updated DesiredCount for ECSService to match Azure Pipelines values
  SAMtemplates/load_balancer/main.yaml
Due: none

Specify a default value for the Environment parameter
  SAMtemplates/load_balancer/main.yaml
Due: none

Add the HealthCheckGracePeriodSeconds property to ECSService resource
  SAMtemplates/load_balancer/main.yaml
Due: none

Remove unnecessary conditions
  SAMtemplates/load_balancer/main.yaml
Due: none

Remove direct access from the Load Balancer to the Validator container
  SAMtemplates/load_balancer/main.yaml
Due: none

Fix: [AEA-4416] - update dockerfile to fix security issues (#2693)
  .devcontainer/Dockerfile
  .github/scripts/check_ecr_image_scan_results.sh
  .github/workflows/sam_release_code.yml
  azure/azure-build-pipeline.yml
  packages/coordinator/Dockerfile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/site/Dockerfile
  scripts/check_language_versions.sh
Due: none

fix sonar coverage
  sonar-project.properties
Due: none

Fix: [AEA-0000] - fix sonar coverage (#2700)
  sonar-project.properties
Due: none

Move Docker image push steps before the release_code.sh script execution
  .github/workflows/sam_release_code.yml
Due: none

New: [AEA-4277] - Deploy docker container from ECR to ECS Fargate (#2652)
  .github/workflows/sam_release_code.yml
  .vscode/electronic-prescription-service-api.code-workspace
  SAMtemplates/load_balancer/main.yaml
  packages/coordinator/Dockerfile
Due: none

ecs logs to splunk
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

updates default create message and default dispense org
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  packages/tool/site/client/src/components/dispense/createDispenseNotification.ts
  packages/tool/site/client/src/pages/loadPage.tsx
Due: lint-epsat-client, oas-build-checks, build-epsat

updates examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

updates snapshots
  packages/tool/site/client/src/components/dispense/createDispenseNotification.ts
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
Due: lint-epsat-client, build-epsat

Fix: [AEA-3936] - Updates default pharmacies in EPSAT (#2713)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  packages/tool/site/client/src/components/dispense/createDispenseNotification.ts
  packages/tool/site/client/src/pages/loadPage.tsx
  packages/tool/site/client/tests/components/dispense/__snapshots__/createDispenseNotification.spec.ts.snap
Due: lint-epsat-client, oas-build-checks, build-epsat

ADDED NEW LINE TO README SO THERE'S SOMETHING DIFFERENT
  README.md
Due: none

adds reinbursement validation
  packages/coordinator/src/services/validation/claim-validator.ts
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

refactors for duplication
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator

updates default nhs number
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Uncomment ENABLE_MUTUAL_TLS variable and set to true
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
Due: none

Update README.md
  README.md
Due: none

adds lowercase tests
  packages/coordinator/tests/services/validation/claim-validator.spec.ts
Due: lint-coordinator, build-coordinator

updates OAS
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

updates template dispense body for epsat tests
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

updates oas
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

updates examples
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Request-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Process-Request-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Process-Request-Cancel-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Docs: [AEA-4410] - OAS Update - Patient Address Requirements (#2735)
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

updates nhs number in dispense request template
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

Fix: [AEA-3936] - Updates default pharmacies in EPSAT (#2728)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: oas-build-checks

Docs: [AEA-4411] - OAS Update - Patient Name Requirements (#2736)
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Request-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Process-Request-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Process-Request-Cancel-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Process-Request-Send-200_OK.json
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
