Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Made patient match between prescription and DN
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

Fixed line item ids in prescription -> DN
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

Aligned item count between prescription and DN
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Removed broken references
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Send-200_OK.xml
Due: none

Reverted send case and updated DN to match
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Added release
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Task-Request-Release-200_OK.json
Due: oas-build-checks

Fixed DN type to eRD
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

AEA-3315 Capture Non-Dispensing Reasons in a Schema-Valid Way (#1500)
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-NotDispensed-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Task-Request-Release-200_OK.json
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

updates xpath reference for check prescription status
  packages/tool/e2e-tests/locators.ts
Due: none

removes view prescription option from My Prescriptions
  packages/tool/e2e-tests/locators.ts
  packages/tool/site/client/src/components/common/prescriptionActions.tsx
  packages/tool/site/client/tests/pages/__snapshots__/myPrescriptionsPage.spec.tsx.snap
Due: lint-epsat-client, build-epsat

removes tracker reference from e2e tests
  packages/e2e-tests/resources/common.ts
Due: none

AEA-2786-Withdraw-Request-Schema (#1489)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/TaskPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/ProvenanceAgent.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

AEA-2807 Remove Reliance on Preconfigured ASID (#1498)
  .vscode/electronic-prescription-service-api.code-workspace
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/index.ts
  packages/coordinator/src/routes/tracker/index.ts
  packages/coordinator/src/routes/tracker/prescription.ts
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/resources/common.ts
  packages/e2e-tests/specs/live/tracker.spec.ts
  packages/e2e-tests/specs/live/verify-signature.spec.ts
  packages/e2e-tests/specs/sandbox/tracker.spec.ts
  packages/e2e-tests/specs/sandbox/verify-signature.spec.ts
  packages/tool/e2e-tests/dispense/verifyPrescription.spec.ts
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/locators.ts
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/site/client/src/components/common/prescriptionActions.tsx
  packages/tool/site/client/src/components/my-prescriptions/myPrescriptions.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/homePage.tsx
  packages/tool/site/client/src/pages/releasePage.tsx
  packages/tool/site/client/src/pages/trackerViewPrescription.tsx
  packages/tool/site/client/src/pages/verifyPage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/homePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/myPrescriptionsPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/verifyPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/verifyPage.spec.tsx
  packages/tool/site/server/src/routes/dispense/verify.ts
  packages/tool/site/server/src/routes/index.ts
  packages/tool/site/server/src/routes/tracker/tracker.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

Upgraded xmldom.
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/serialisation/xml.ts
Due: lint-coordinator, build-coordinator

Upgraded xlsx.
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-epsat-client, lint-epsat-server, build-epsat

AEA-3260 EPSAT Secure Code Review upgrades
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/serialisation/xml.ts
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

Added example to test the bundle validator code in PACT
  examples/errors/4-Process-Request-Send-400_invalid_intent.json
  examples/errors/4-Process-Response-Send-400_invalid_intent.json
Due: oas-build-checks

Removed hard coded response from failure pact tests
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Fixed error in preparing pact tests
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Fixed format of validation error example
  examples/errors/4-Process-Response-Send-400_invalid_intent.json
Due: oas-build-checks

AEA-3267 - Fixed reliance on meta.lastupdated when generating validation responses. (#1496)
  examples/errors/4-Process-Request-Send-400_invalid_intent.json
  examples/errors/4-Process-Response-Send-400_invalid_intent.json
  packages/coordinator/src/routes/debug/convert.ts
  packages/coordinator/src/routes/debug/dose-to-text.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
  packages/tool/e2e-tests/dose-to-text/doseToText.spec.ts
  packages/tool/e2e-tests/helpers.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

AEA-3331 Consolidated splunk logging to fix missing response information
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunk.xml
  proxies/live/apiproxy/proxies/default.xml
  proxies/live/apiproxy/targets/apim.xml
  proxies/live/apiproxy/targets/sync-wrap.xml
Due: none

AEA-3331 Consolidated splunk logging to fix missing response information (#1502)
  proxies/live/apiproxy/policies/FlowCallout.LogToSplunk.xml
  proxies/live/apiproxy/proxies/default.xml
  proxies/live/apiproxy/targets/apim.xml
  proxies/live/apiproxy/targets/sync-wrap.xml
Due: none

AEA-2847- Added Dispense notification for ERD prescription Refactor Dispense request to use Prepare medication request
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/dispenseNotification.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/testData/epsDispense.json
  packages/bdd-tests/testData/medicationDispense.json
  packages/bdd-tests/testData/miscJSON.ts
  packages/bdd-tests/util/helper.ts
Due: none

AEA-2847- Added Dispense notification for ERD prescription Multi-line items also included
  packages/bdd-tests/features/dispenseNotification.feature
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/helper.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

WIP move bdd tests to cucumberjs
  .vscode/electronic-prescription-service-api.code-workspace
  .vscode/launch.json
  Makefile
  cucumber.js
  package-lock.json
  package.json
  packages/bdd-tests/.env.dev.ignore
  packages/bdd-tests/.env.qa.ignore
  packages/bdd-tests/.gitignore
  packages/bdd-tests/cucumber.js
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/package-lock.json
  packages/bdd-tests/package.json
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/services/getaccessToken.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/src/configs/spec.ts
  packages/bdd-tests/step_definitions/createPrescriptionSteps.ts
  packages/bdd-tests/step_definitions/dispenseClaimSteps.ts
  packages/bdd-tests/step_definitions/dispenseNotificationSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
  packages/bdd-tests/step_definitions/sharedSteps.ts
  packages/bdd-tests/util/genId.ts
  packages/bdd-tests/util/helper.ts
Due: none

disable selenium tests for internal-qa
  packages/tool/azure/azure-release-template.yml
Due: none

run bdd tests in pipeline
  Makefile
  azure/azure-release-template.yml
  packages/bdd-tests/.env.dev.ignore
  packages/bdd-tests/.env.qa.ignore
  packages/bdd-tests/.env.sandbox
  packages/bdd-tests/features/createPrescription.feature
  packages/bdd-tests/features/dispenseClaim.feature
  packages/bdd-tests/features/dispenseNotification.feature
  packages/bdd-tests/features/releasePrescription.feature
  packages/bdd-tests/keymaterial/README.md
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  packages/bdd-tests/keymaterial/certificate.crt
  packages/bdd-tests/keymaterial/certificate.pem
  packages/bdd-tests/keymaterial/certificate.pem.bare
  packages/bdd-tests/keymaterial/pubkey.pem
  packages/bdd-tests/keymaterial/publicKey.pem
  packages/bdd-tests/package.json
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/util/helper.ts
Due: none

fix release pipeline
  azure/azure-release-template.yml
Due: none

do not use make to run bdd tests as it needs environment variables
  Makefile
  azure/azure-release-template.yml
Due: none

Test commit 03.
  .devcontainer/devcontainer.json
  packages/coordinator/src/services/translation/response/organization.ts
Due: lint-coordinator, build-coordinator

AEA-3340 Fixed egress proxy location for CRLs for prod
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

Fix for occasional issues of GPG not accessible by devcontainer.
  .devcontainer/devcontainer.json
Due: none

Fix for occasional issues of GPG not accessible by devcontainer. (#1508)
  .devcontainer/devcontainer.json
Due: none

AEA-3340 Fixed egress proxy location for CRLs for prod (#1509)
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none
