Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Add folder descriptions
  README.md
Due: none

Add test-bdd Makefile target
  Makefile
  README.md
  packages/bdd-tests/README.md
Due: none

Update speccy link
  README.md
Due: none

Add links to README files
  README.md
Due: none

Amend README repo links
  README.md
Due: none

Add GitHub action descriptions
  README.md
Due: none

Add descriptions for issue templates
  README.md
Due: none

Add descriptions for the Azure folder
  README.md
Due: none

Add a description about viewing the OAS specification
  README.md
Due: none

Add descriptions for the proxies folder
  README.md
Due: none

Telecom updates as telecom shouldn't be required
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/models/fhir/practitioner-role.ts
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Undefined fix
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Added examples to be picked up by e2e
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Response-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Convert-Response-Cancel-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Updated conversion snapshot
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Convert-Response-Cancel-200_OK.xml
Due: none

created script file and pointed to it in post deployment steps
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  scripts/run_regression_tests.py
Due: none

Updated digest for e2e tests
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Conversion update
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
Due: none

Missed digest update
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

edits the script
  scripts/run_regression_tests.py
Due: none

changes branch to correct script
  scripts/run_regression_tests.py
Due: none

Updated digest to reflect other cancellations
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Updated convert response
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
Due: none

Ok ran conversion for convert response
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
Due: none

looks for job status
  scripts/run_regression_tests.py
Due: none

checks if other jobs are returned
  scripts/run_regression_tests.py
Due: none

AEA-3721 Improve README in fhir api repo (#1921)
  Makefile
  README.md
  packages/bdd-tests/README.md
Due: none

Debugging since locally works fine
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

remove atlassian-python-api
  poetry.lock
  pyproject.toml
Due: none

remove atlassian-python-api as no longer needed (#1930)
  poetry.lock
  pyproject.toml
Due: none

Changing shortform ID to match other examples
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Change for prepare.spec still skipped, updated calculated digest
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Response-200_OK.json
  packages/coordinator/tests/debug/prepare.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

Whoops forgot to put skip back in
  packages/coordinator/tests/debug/prepare.spec.ts
Due: lint-coordinator, build-coordinator

works
  scripts/run_regression_tests.py
Due: none

switched to using failed test branch added message to final assertion step to say tests have likely failed
  scripts/run_regression_tests.py
Due: none

Updated post dev/int deploy workflows to call the script
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
Due: none

Updated examples to match timestamps
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Cancel-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Moved to known examples folder
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Response-Send-200_OK.json
Due: oas-build-checks

Updated new folder
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/1-Process-Response-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Convert-Response-Cancel-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/3-Process-Request-Cancel-200_OK.json
Due: oas-build-checks

Example time updates
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/cancellations/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Forgot to run conversion spec
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Convert-Response-Send-200_OK.xml
Due: none
