Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

reverts logging hashing algorithm to SHA256
  packages/coordinator/src/routes/create-hash.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/tests/logging/expectations.ts
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

reverts linting change
  packages/coordinator/src/routes/dispense/release.ts
Due: lint-coordinator, build-coordinator

reverts linting
  packages/coordinator/src/routes/prescribe/prepare.ts
Due: lint-coordinator, build-coordinator

reverts linting
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

reverts linting
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

resets default hashing algorithm to SHA1
  packages/coordinator/src/routes/create-hash.ts
Due: lint-coordinator, build-coordinator

adds default SHA256 hashing algorithm for endpoints
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

updates signature root hashing algorithm to pull from digest method
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
Due: lint-coordinator, build-coordinator

updates digest algorithm references
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
Due: lint-coordinator, build-coordinator

AEA-2885 - Added dispense notification for a repeat prescription
  packages/bdd-tests/features/dispensenotification.feature
  packages/bdd-tests/step_definitions/dispensenotification-steps.ts
  packages/bdd-tests/testData/misc_json.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-3000 Allow Prepare to Generate SHA2 Digests (#1446)
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .vscode/electronic-prescription-service-api.code-workspace
  README.md
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/src/routes/create-hash.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/src/utils/feature-flags.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

Aea 2884 (#1456)
  package-lock.json
  packages/bdd-tests/features/dispensenotification.feature
  packages/bdd-tests/step_definitions/createprescription-steps.ts
  packages/bdd-tests/step_definitions/dispenseclaim-steps.ts
  packages/bdd-tests/step_definitions/dispensenotification-steps.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/testData/eps_withdraw_dispense_notification.json
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/templates.ts
Due: none

use secrets only in non prod
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
Due: none

pass secret files to release template
  azure/azure-release-template.yml
Due: none

Add test data that references not SHA-256 or SHA-1
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignatureRsa1NotSha.xml
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

use secrets in pr pipeline
  azure/azure-pr-pipeline.yml
  azure/azure-release-template.yml
Due: none

Add the extractSignatureMethodFromSignatureRoot function
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

use secrets in ref deployment
  azure/azure-release-pipeline.yml
Due: none

pull in changes from only get secrets in non prod
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
Due: none

AEA-3214 use secrets only in non prod (#1462)
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
Due: none

Amend SignatureMethod and DigestMethod values with extractSignatureMethodFromSignatureRoot function
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

Add signature method algorithm tests
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

Remove unnecessary test data
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignatureRsa1NotSha.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

Add a test that fails for the sha-224 signature method algorithm
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

rename step
  azure/azure-release-template.yml
Due: none

Fixed digest creation when medication names contain ampersands
  .vscode/electronic-prescription-service-api.code-workspace
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/tracker/prescription.ts
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/src/services/translation/common/response-bundles.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/translation/request/signature.ts
  packages/coordinator/src/services/translation/response/provenance.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/services/translation/request/signing.spec.ts
  packages/coordinator/tests/services/translation/response/provenance.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tests/services/translation/reversibility.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

Amend test descriptions as per the code review
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

AEA-2885 (#1460)
  packages/bdd-tests/features/dispensenotification.feature
  packages/bdd-tests/step_definitions/dispensenotification-steps.ts
  packages/bdd-tests/testData/misc_json.ts
Due: none

no need to add coverage to epsat server tests
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

use forEach instead of map in test
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

fix code smell
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

AEA-2990 Support more signing algorithms (SHA256) during signature verification (#1457)
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/SignatureAlgorithmSha256.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator
