Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Revert lint
  examples/errors/2-Process-Response-Send-400_Invalid_Course_of_Therapy_mixed.json
Due: oas-build-checks

updates uuids
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Convert-Response-Send-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Task-Request-Release-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
Due: oas-build-checks

bypass sonarcloud smell
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
Due: lint-coordinator, build-coordinator

Update README.md
  README.md
Due: none

Fix the snapshot tests
  packages/tool/site/client/tests/components/prescription-summary/props.tsx
Due: lint-epsat-client, build-epsat

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Revert "Update electronic-prescription-service-api.yaml"
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Revert changes to examples
  examples/errors/2-Prepare-Response-400_Invalid_Course_of_Therapy_mixed.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Response-400_Bad_Request.json
Due: oas-build-checks

Trying momenttodatetime again
  packages/models/fhir/operation-outcome.ts
Due: lint-models, build-coordinator

Back to hardcoded
  packages/models/fhir/operation-outcome.ts
Due: lint-models, build-coordinator

Apply the fix to Download Exception Report
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
Due: lint-epsat-client, build-epsat

updates uuids
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

updates uuid
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

Add the nominatedPharmacy condition
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
Due: lint-epsat-client, build-epsat

Revert the change to nominatedOds
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
Due: lint-epsat-client, build-epsat

Remove performer if non-nominated pharmacy
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
Due: lint-epsat-client, build-epsat

Clean up the code
  packages/tool/site/client/src/services/test-packs/medicationRequests.ts
Due: lint-epsat-client, build-epsat

Added new lastupdated to existing createopoutcomes from prescriptions
  packages/coordinator/src/routes/debug/convert.ts
  packages/coordinator/src/routes/debug/dose-to-text.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/models/fhir/operation-outcome.ts
  packages/models/tsconfig.json
Due: lint-models, lint-coordinator, build-coordinator

Added ternary for lastupdated
  packages/models/fhir/operation-outcome.ts
Due: lint-models, build-coordinator

Fixed unresolvable references in OAS
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
Due: oas-build-checks

Fixed stray quote
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
Due: oas-build-checks

AEA-2787 (#1442)
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
Due: oas-build-checks

Default to momentutc if no lastupdated included
  packages/models/fhir/operation-outcome.ts
Due: lint-models, build-coordinator

Added missing meta.lastUpdated to the request to try fix pact tests
  examples/errors/1-Process-Request-Send-400_INVALID_CHECKSUM.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Missed metalastupdated
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Request-200_OK.json
Due: oas-build-checks

Janky testing to find dates
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
Due: lint-coordinator, build-coordinator

AEA-2886 - Amended based on Review comments. Refactored where necessary
  packages/bdd-tests/.env.dev
  packages/bdd-tests/.env.qa
  packages/bdd-tests/.gitignore
  packages/bdd-tests/features/createprescription.feature
  packages/bdd-tests/features/dispenseclaim.feature
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/jest
  packages/bdd-tests/npm
  packages/bdd-tests/npm@1.0.0
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/services/getaccessToken.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/src/configs/spec.ts
  packages/bdd-tests/step_definitions/createprescription-steps.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/step_definitions/shared-steps.ts
  packages/bdd-tests/tsconfig.json
  packages/bdd-tests/util/genId.ts
  packages/bdd-tests/util/helper.ts
  packages/bdd-tests/util/helpercont.ts
  packages/bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2886 - Removing files not needed in git
  packages/bdd-tests/jest
  packages/bdd-tests/npm
  packages/bdd-tests/npm@1.0.0
  packages/bdd-tests/src/configs/ap.ts
Due: none

AEA-2886 - Removing files not needed in git
  bdd-tests/services/getJWT.ts
Due: none

Reverted janky changes, set a hardcoded lastUpdated for failing pact tests
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
Due: lint-coordinator, build-coordinator

do not specify report directory
  azure/azure-build-pipeline.yml
Due: none

enable publishing report
  azure/azure-build-pipeline.yml
Due: none

use .net 3.1
  azure/azure-build-pipeline.yml
Due: none

AEA-3016-Release-Rejection-Message-FHIR-Standards (#1434)
  examples/errors/1-Process-Request-Send-400_INVALID_CHECKSUM.json
  examples/errors/1-Process-Response-Send-400_INVALID_CHECKSUM.json
  examples/errors/2-Prepare-Response-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/2-Process-Response-Send-400_Invalid_Course_of_Therapy_mixed.json
  examples/errors/3-Process-Response-Dispense-400_Invalid_Value.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Process-Request-Send-200_OK.json
  examples/sandbox/VerifySignature-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Convert-Response-Send-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/bulk-translation/1-Prepare-Response-400_Bad_Request.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Process-Response-Send-200_OK.json
  examples/spec/errors/example-a-validation-error-missing-field/Response-FhirError.json
  examples/spec/errors/operation-outcome-success.json
  examples/spec/errors/release/not-found-error.json
  examples/spec/errors/release/with-another-dispenser-error.json
  examples/spec/errors/task/query-error.json
  packages/coordinator/src/routes/debug/convert.ts
  packages/coordinator/src/routes/debug/dose-to-text.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/tests/services/translation/convert.failures.spec.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
  packages/models/fhir/operation-outcome.ts
  packages/models/tsconfig.json
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-models, lint-coordinator, lint-epsat-client, oas-build-checks, build-coordinator, build-epsat
