Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Run linter on models package
  packages/models/examples/fetchers/example-files-fetcher.ts
  packages/models/hl7-v3/dispense-claim.ts
  packages/models/hl7-v3/dispense-common.ts
  packages/models/hl7-v3/dispense-notification.ts
  packages/models/hl7-v3/index.ts
  packages/models/hl7-v3/return.ts
Due: lint-models, build-coordinator

Remove pre-commit hook step
  .pre-commit-config.yaml
Due: none

updates template body as json, adds json module compiler option
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/tsconfig.json
  packages/tool/e2e-tests/utils/dispenseBody.ts
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.ts
Due: none

Remove empty comment lines
  packages/models/hl7-v3/dispense-claim.ts
Due: lint-models, build-coordinator

nests templateBody to remove default element
  packages/tool/e2e-tests/utils/dispenseBody.ts
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.json
Due: none

removes pr variable extension
  packages/tool/e2e-tests/helpers.ts
Due: none

removes templateBody ts
  packages/tool/e2e-tests/utils/templateBodies/templateDispenseBody.ts
Due: none

AEA-2644 Fix pre-commit hook steps (#1352)
  .pre-commit-config.yaml
  packages/models/examples/fetchers/example-files-fetcher.ts
  packages/models/hl7-v3/dispense-claim.ts
  packages/models/hl7-v3/dispense-common.ts
  packages/models/hl7-v3/dispense-notification.ts
  packages/models/hl7-v3/index.ts
  packages/models/hl7-v3/return.ts
Due: lint-models, build-coordinator

fixes 22 bugs
  .pre-commit-config.yaml
  packages/coordinator/tests/services/translation/common/getResourcesOfType.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/coordinator/tests/services/translation/request/line-item.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
  packages/coordinator/tests/services/validation/fhir-path.spec.ts
  packages/e2e-tests/auth/tests/authorize.html
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/tests/components/dispense/createDispenseNotification.spec.ts
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
  scripts/yaml2json.py
Due: lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

AEA-3103 Corrected repeat instance info on withdraw and return messages
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Withdraw-200_OK.xml
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/tests/services/translation/request/return/return.spec.ts
  packages/coordinator/tests/services/translation/request/withdraw/withdraw.spec.ts
  packages/models/hl7-v3/return.ts
  packages/models/hl7-v3/withdraw.ts
Due: lint-models, lint-coordinator, build-coordinator

make jest runner work
  electronic-prescription-service-api.code-workspace
  packages/e2e-tests/package-lock.json
  packages/e2e-tests/package.json
Due: none

Removed incorrect repeat number on withdraw request expample
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
Due: oas-build-checks

reduces cognitive complexity
  packages/coordinator/src/services/translation/request/dosage.ts
Due: lint-coordinator, build-coordinator

reduces cognitive complexity
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Removed repeat number from convert withdraw example
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Withdraw-200_OK.xml
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
Due: lint-coordinator, build-coordinator

fix check_licence
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/specification/package.json
Due: lint-coordinator, oas-build-checks, build-coordinator

fix app test
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

fix install
  Makefile
  packages/specification/package-lock.json
Due: oas-build-checks

Removed hard coded repeat number from epsat withdraw request
  packages/tool/site/client/src/pages/withdrawPage.tsx
Due: lint-epsat-client, build-epsat

fix epsat build
  packages/tool/Makefile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/poetry.lock
  packages/tool/pyproject.toml
Due: none

fix api build
  azure/azure-build-pipeline.yml
Due: none

fix epsat build
  packages/tool/azure/azure-build-pipeline.yml
Due: none

another attempt at fixing epsat build
  packages/tool/azure/azure-build-pipeline.yml
Due: none

fix package.json for epsat build
  packages/tool/azure/azure-build-pipeline.yml
Due: none

set node version before install
  packages/tool/azure/azure-build-pipeline.yml
Due: none

fix sed
  packages/tool/azure/azure-build-pipeline.yml
Due: none

fix package-lock.json on epsat build
  packages/tool/azure/azure-build-pipeline.yml
Due: none

use workspack in npm commands
  packages/tool/Makefile
  packages/tool/azure/azure-build-pipeline.yml
Due: none

linting fixes
  packages/tool/e2e-tests/live.test.ts
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/e2e-tests/prescribe/editPrescription.spec.ts
  packages/tool/e2e-tests/sandbox.test.ts
Due: none

remove nhsuk-react-components-extensions
  packages/tool/site/client/package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSearchForm.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
Due: lint-epsat-client, build-epsat

AEA-3103 Corrected repeat instance info on withdraw and return messages (#1354)
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Withdraw-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
  packages/coordinator/tests/services/translation/request/return/return.spec.ts
  packages/coordinator/tests/services/translation/request/withdraw/withdraw.spec.ts
  packages/models/hl7-v3/return.ts
  packages/models/hl7-v3/withdraw.ts
  packages/tool/site/client/src/pages/withdrawPage.tsx
Due: lint-models, lint-coordinator, lint-epsat-client, oas-build-checks, build-coordinator, build-epsat

add jest-junit dev dependency
  packages/e2e-tests/package-lock.json
  packages/e2e-tests/package.json
Due: none

(wip) Add initial examples for release requests
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/request/dispense/NominatedRelease.yaml
  packages/specification/schemas/request/dispense/PatientRelease.yaml
Due: oas-build-checks

implements return early pattern to reduce cognitive complexity
  packages/tool/site/server/src/routes/dispense/release.ts
Due: lint-epsat-server, build-epsat

removes await, comments out unused variable, throws errors not strings
  packages/e2e-tests/auth/src/oauth.ts
Due: none

adds uuid types, breaks out foreach functions
  packages/e2e-tests/package.json
  packages/e2e-tests/services/update-prescriptions.ts
Due: none
