Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Amend dispensing withdraw examples
  examples/spec/dispensing/withdraw/eRD-primary-example-req.json
  examples/spec/dispensing/withdraw/eRD-primary-example-res.json
  examples/spec/dispensing/withdraw/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Amend dispensing claim examples
  examples/spec/dispensing/claim/eRD-primary-example-req.json
  examples/spec/dispensing/claim/eRD-primary-example-res.json
  examples/spec/dispensing/claim/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Fix eRD primary care return request example
  examples/spec/dispensing/return/eRD-primary-example-req.json
Due: oas-build-checks

Amend eRD primary care claim request
  examples/spec/dispensing/claim/eRD-primary-example-req.json
Due: oas-build-checks

AEA-3269-OAS-Prescription-Shortform-ID-Update (#1685)
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

replace moxios with axios-mock-adapter
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/routes/util.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
  packages/tool/site/client/package.json
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/claimPage.spec.tsx
  packages/tool/site/client/tests/pages/configPage.spec.tsx
  packages/tool/site/client/tests/pages/dispensePage.spec.tsx
  packages/tool/site/client/tests/pages/doseToTextPage.spec.tsx
  packages/tool/site/client/tests/pages/homePage.spec.tsx
  packages/tool/site/client/tests/pages/loginPage.spec.tsx
  packages/tool/site/client/tests/pages/logoutPage.spec.tsx
  packages/tool/site/client/tests/pages/myPrescriptionsPage.spec.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/releasePage.spec.tsx
  packages/tool/site/client/tests/pages/returnPage.spec.tsx
  packages/tool/site/client/tests/pages/sendPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/client/tests/pages/validatePage.spec.tsx
  packages/tool/site/client/tests/pages/viewPrescriptionPage.spec.tsx
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

AEA-3667 replace moxios with axios-mock-adapter (#1701)
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/routes/util.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
  packages/tool/site/client/package.json
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/claimPage.spec.tsx
  packages/tool/site/client/tests/pages/configPage.spec.tsx
  packages/tool/site/client/tests/pages/dispensePage.spec.tsx
  packages/tool/site/client/tests/pages/doseToTextPage.spec.tsx
  packages/tool/site/client/tests/pages/homePage.spec.tsx
  packages/tool/site/client/tests/pages/loginPage.spec.tsx
  packages/tool/site/client/tests/pages/logoutPage.spec.tsx
  packages/tool/site/client/tests/pages/myPrescriptionsPage.spec.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  packages/tool/site/client/tests/pages/releasePage.spec.tsx
  packages/tool/site/client/tests/pages/returnPage.spec.tsx
  packages/tool/site/client/tests/pages/sendPage.spec.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/client/tests/pages/validatePage.spec.tsx
  packages/tool/site/client/tests/pages/viewPrescriptionPage.spec.tsx
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-coordinator, lint-epsat-client, build-coordinator, build-epsat

upgrade pact to force axios upgrade
  package-lock.json
  packages/e2e-tests/package.json
Due: none

upgrade pact to force axios upgrade (#1703)
  package-lock.json
  packages/e2e-tests/package.json
Due: none

Updated to include newlines which I missed originally
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

AEA-3269-Updated-to-include-newlines (#1704)
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

Change to bullet points, nicer formatting
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

Added hyperlink and rearranged order
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

Adds asNeededCodeableConcept in asNeeded section
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds doseRange within doseAndRate section
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds dose section of doseAndRate
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

tries without dose section in doseAndRate
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds dose in doseAndRate
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

AEA-3269-Changed to bullet points from newlines (#1705)
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
Due: oas-build-checks

remove unused file
  make.ps1
Due: none

AEA-3703 test release notes (#1708)
  make.ps1
Due: none

adds oneof in array
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

edits type object
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

edits coding
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds text
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds text
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
  packages/specification/schemas/components/_fragments/dose.yaml
Due: oas-build-checks

changes req to res on examples
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds dose section - 1
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
  packages/specification/schemas/components/_fragments/dose.yaml
Due: oas-build-checks

adds doseQuantity
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds rateRatio in rate
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

adds rateQuantity in ratio
  packages/specification/schemas/components/_fragments/dosageInstruction.yaml
Due: oas-build-checks

BAU-12575 Force re-deployment
  packages/tool/README.md
Due: none

changes value of status to in progress
  examples/spec/dispensing/withdraw/acute-primary-example-req.json
  examples/spec/dispensing/withdraw/eRD-primary-example-req.json
  examples/spec/dispensing/withdraw/repeat-primary-example-req.json
Due: oas-build-checks

run epsat locally
  .devcontainer/devcontainer.json
  packages/tool/docker-compose.yml
  packages/tool/site/Dockerfile
Due: none

fix run epsat
  Makefile
Due: none

fix language check
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
  Makefile
  azure/azure-pr-pipeline.yml
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/post_prod_deploy.yml
  azure/templates/pre_int_deploy.yml
  azure/templates/run_tests.yml
  scripts/check_language_versions.sh
Due: none

remove powershell files
  Makefile
  README.md
  packages/e2e-tests/README.md
  scripts/build-coordinator.ps1
  scripts/build-validator.ps1
  scripts/identify_external_release_changes.py
  scripts/run-coordinator.ps1
  scripts/run-validator.ps1
  scripts/set_env_vars.ps1
Due: none

test workflows
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
  Makefile
  azure/azure-pr-pipeline.yml
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
