Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

AEA-3889 - On OAS the error code should say 'invalid' not 'MISSING_DOSAGE_SEQUENCE' when multiple dosages are present (#2153)
  packages/models/errors/validation-errors.ts
Due: lint-models, build-coordinator

got certificates to decode. now looking at iscertificaterevoked function
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

adds multiple dosages example to prepare endpoint
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Process-Request-Send-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

updates practitioner identifier OAS
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
Due: oas-build-checks

adds OAS disclaimer
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

renames example for response
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Response-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

updates practitioner validation
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/src/utils/type-guards.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

corrects the name example for response
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Request-Send-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

updates practitionerRole identifier and description
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

updates practitioner identifier
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
Due: oas-build-checks

moves error to spine
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

applies review comments
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Request-Send-Multiple-Dosages-200_OK.json
Due: oas-build-checks

attempts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

AEA3882 - Adds example of "Mupltiple Dosages" to the "$prepare" endpoint (#2164)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Request-Send-Multiple-Dosages-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Response-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

restructures telecom sourcing
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

Added signature.when source in description, clarifying the only difference in create overview, and added link to signature.data
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
Due: oas-build-checks

reorders agentPerson telecom setting
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

Clearer wording
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3870 Releasing with Responsible Practitioner causes 500 error (#2141)
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Process-Response-Send-200_OK.json
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/src/utils/type-guards.ts
  packages/coordinator/tests/resources/message-fragments/messageHeader.ts
  packages/coordinator/tests/resources/message-fragments/organization.ts
  packages/coordinator/tests/resources/message-fragments/practitionerRole.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

Update 3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
Due: oas-build-checks

changes error message
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
Due: lint-coordinator, build-coordinator

changes error message
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-models, oas-build-checks, build-coordinator

AEA-3853-Include-Provenance-References-in-spec (#2146)
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Response-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
Due: oas-build-checks

AEA-3889 - error code should be 400-'MISSING_DOSAGE_SEQUENCE' not 'invalid' (#2174)
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-models, oas-build-checks, build-coordinator

pushing to check previous code
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

all tests passing
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

removed obsolete code and reverted names of functions back to not all have the new- prefix
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

passing all tests and ready to be PRd
  package-lock.json
  package.json
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

added back in packages and removed another unncessary one
  package-lock.json
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

change for pr
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

renamed some consts and functions
  package-lock.json
  package.json
  packages/coordinator/package.json
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3985 renamed example to fix pact tests
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Request-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3985 renamed example to fix pact tests (#2214)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/4-Prepare-Request-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

removed unused package
  package.json
Due: none

ran npm install
  package-lock.json
Due: none
