Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Work on test code.
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

NominatedRelease replaced.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
  packages/coordinator/tests/services/translation/schema/NominatedRelease.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121001UK30.xsd
Due: lint-coordinator, build-coordinator

Includes added to NominatedRelease referenced schema.
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121001UK30.xsd
Due: none

Added schema-files-fetcher.
  packages/coordinator/tests/resources/test-resources.ts
  packages/models/examples/fetchers/index.ts
  packages/models/examples/fetchers/schema-files-fetcher.ts
Due: lint-models, lint-coordinator, build-coordinator

PatientRelease replaced. Required reference schema added.
  packages/coordinator/tests/services/translation/schema/PatientRelease.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121002UK30.xsd
Due: none

Schema include tidying.
  packages/coordinator/tests/services/translation/schema/Claim.xsd
  packages/coordinator/tests/services/translation/schema/Nominated-Release.xsd
  packages/coordinator/tests/services/translation/schema/Notification.xsd
  packages/coordinator/tests/services/translation/schema/Patient-Release.xsd
  packages/coordinator/tests/services/translation/schema/Release-Response.xsd
  packages/coordinator/tests/services/translation/schema/Return.xsd
  packages/coordinator/tests/services/translation/schema/Withdraw.xsd
  packages/coordinator/tests/services/translation/schema/mim/COCT_MT050012UK05.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK04.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120301UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK02.xsd
Due: none

New Claim schema. More schema includes tidying.
  packages/coordinator/tests/services/translation/schema/Claim.xsd
  packages/coordinator/tests/services/translation/schema/NominatedRelease.xsd
  packages/coordinator/tests/services/translation/schema/PatientRelease.xsd
  packages/coordinator/tests/services/translation/schema/ReleaseResponse.xsd
  packages/coordinator/tests/services/translation/schema/mim/COCT_MT050012UK05.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCAI_MT040101UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCCI_MT010101UK12.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_IN080101UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT142001UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK04.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120301UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120401UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120901UK01.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT121001UK01.xsd
  packages/coordinator/tests/services/translation/schema/w3/datatypes-base.xsd
Due: none

Schema fun happy time.
  packages/coordinator/tests/services/translation/schema/Claim.xsd
  packages/coordinator/tests/services/translation/schema/Nominated-Release.xsd
  packages/coordinator/tests/services/translation/schema/Notification.xsd
  packages/coordinator/tests/services/translation/schema/Patient-Release.xsd
  packages/coordinator/tests/services/translation/schema/Release-Response.xsd
  packages/coordinator/tests/services/translation/schema/Return.xsd
  packages/coordinator/tests/services/translation/schema/Withdraw.xsd
  packages/coordinator/tests/services/translation/schema/mim/COCT_MT050012UK05.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK04.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120401UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK02.xsd
  packages/coordinator/tests/services/translation/schema/w3/datatypes-base.xsd
  packages/coordinator/tests/services/translation/schema/w3/datatypes.xsd
  packages/coordinator/tests/services/translation/schema/w3/voc.xsd
Due: none

Another attempt at a directory.
  azure/azure-build-pipeline.yml
Due: none

New voc.xsd from Martin Hagan.
  packages/coordinator/tests/services/translation/schema/w3/voc.xsd
Due: none

Correction to openjdk curl command.
  Makefile
Due: none

Display name improved for install-java step.
  azure/azure-build-pipeline.yml
Due: none

New test file for validations. Some test-resources additions.
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

ReleaseResponse removed as not used in conversions.
  packages/coordinator/tests/services/translation/schema/ReleaseResponse.xsd
Due: none

Throwing the error for visibility.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Review changes to validate existing output files.
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
  packages/models/examples/cases/convert-case.ts
Due: lint-models, lint-coordinator, build-coordinator

Claims passing conversion successes. Utility test for xml tinkering.
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Claim-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Claim-200_OK.xml
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

Back to async and sleep. Stuck now.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Withdraw passing convert successes.
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Withdraw-200_OK.xml
Due: none

Removed temp utility test.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Return replaced.
  packages/coordinator/tests/services/translation/schema/Return.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121301UK31.xsd
Due: none

Replaced Notification schema.
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
  packages/coordinator/tests/services/translation/schema/DispenseNotification.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCAI_MT040101UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCCI_MT010101UK12.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_IN080101UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT024001UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120901UK01.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT121001UK01.xsd
Due: lint-coordinator, build-coordinator

PatientRelease all running and passing convert validations.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

ID in PatientRelease changed from UK to SM.
  packages/coordinator/tests/services/translation/schema/PatientRelease.xsd
Due: none

Formatting.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Fixed ordering in Withdraw message.
  packages/coordinator/src/services/translation/request/withdraw/withdraw.ts
Due: lint-coordinator, build-coordinator

A start on the testing.
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/convert.successes.spec.ts
Due: lint-coordinator, build-coordinator

Tweak to filter dispense notifications.
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

Matt is my hero IDST.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Additional schema from Martin.
  packages/coordinator/tests/services/translation/schema/w3/NarrativeBlock.xsd
  packages/coordinator/tests/services/translation/schema/w3/xhtmlNPfITPresentationText.xsd
Due: none

Tidy after failed foray into unwrapping.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Make voc.xsd happy.
  packages/coordinator/tests/services/translation/schema/w3/voc.xsd
Due: none

All withdraw passing convert validations.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

New datatypes.xsd from Martin Hagan. Removed datatypes-base.xsd as no longer needed.
  packages/coordinator/tests/services/translation/schema/w3/datatypes-base.xsd
  packages/coordinator/tests/services/translation/schema/w3/datatypes.xsd
Due: none

Attempt at async-ing validate. I am confused.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Invalidated xml failing test.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Tests running with single cases. Nominated and Withdraw failing.
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

Some missed identifier consolidation.
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
Due: oas-build-checks

Some changes to offending file and references.
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
Due: oas-build-checks

Made OAS dereference to fix weird paths in references
  packages/specification/package.json
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
