Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

Add maxDosePerLifetime to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add maxDosePerPeriod to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add dosageInstruction properties to the process-message#prescription-order endpoint
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

Add dosageInstruction properties to the process-message#prescription-order-update endpoint
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
Due: oas-build-checks

Add dosageInstruction properties to the process-message#dispense-notification endpoint
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
Due: oas-build-checks

do not publish pacts
  Makefile
  azure/azure-release-template.yml
  packages/e2e-tests/Makefile
  packages/e2e-tests/broker/publish.ts
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/package.json
Due: none

working directory not needed for publish build artifacts
  azure/azure-release-template.yml
Due: none

backdates package-lock
  package-lock.json
Due: none

code coverage for epsat client
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/site/client/package.json
Due: lint-epsat-client, build-epsat

code coverage for epsat server
  packages/tool/site/server/package.json
Due: lint-epsat-server, build-epsat

fix path to coverage report
  azure/azure-build-pipeline.yml
Due: none

fix path
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

AEA-3202 avoid dos in regex (#1445)
  scripts/identify_external_release_changes.py
Due: none

refactors to break circular dependency
  packages/coordinator/src/routes/create-hash.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Review comments addressed.
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

Add sample SHA256 signature algorithm response
  packages/coordinator/tests/resources/signed-prescriptions/SignatureAlgorithmSha256.xml
Due: none

Agent parameter now optional depending on if group identifier present
  packages/coordinator/src/services/translation/common/index.ts
  packages/coordinator/src/services/validation/parameters-validator.ts
  packages/coordinator/tests/services/validation/parameters-validator.spec.ts
Due: lint-coordinator, build-coordinator

updates endpoints to use enum hashing algorithm and adds switches when relevant
  packages/coordinator/src/routes/create-hash.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

updates logging tests to include both SHA1 and SHA256
  packages/coordinator/tests/logging/expectations.ts
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3207 Made parsing of additional instructions not sensitive to whitespace between tags.
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

updates e2e tests to indicate hashingAlgorithm
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

AEA-2789 Return request schema
  packages/specification/Makefile
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/CommunicationRequest/CommunicationRequest.yaml
  packages/specification/schemas/components/ErrorCode.yaml
  packages/specification/schemas/components/HealthcareService/HealthcareService.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/components/OperationOutcome/OperationOutcome.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/Organization/Organization.yaml
  packages/specification/schemas/components/Organization/ReleaseOrganization.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/Practitioner/CancelRequestPractitioner.yaml
  packages/specification/schemas/components/Practitioner/CancelResponsePractitioner.yaml
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/components/Practitioner/ReleaseResponsePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/ReturnPractitionerRole.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
  packages/specification/schemas/components/_extensions/DMResponsiblePractitioner.yaml
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/_extensions/SpineSupportingInfoPrescription.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/components/_fragments/type.yaml
  packages/specification/schemas/requests/dispensing/Return.yaml
Due: oas-build-checks

Reduced duplication in tests
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

linting change
  packages/coordinator/tests/logging/expectations.ts
Due: lint-coordinator, build-coordinator

renames getAlgorithmIdentifier for readability
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

extracted digestHashingAlgorithm for readability
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

simplifies getting hashing algorithm from signatureRoot
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, build-coordinator

adds not SHA1/SHA256 case to default to SHA1
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
Due: lint-coordinator, build-coordinator

AEA-3207 Made parsing of additional instructions not sensitive to whitespace between tags
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

moves default case to end of switch
  packages/coordinator/src/services/translation/common/hashingAlgorithm.ts
Due: lint-coordinator, build-coordinator

Amend the sha256 prescription example
  packages/coordinator/tests/resources/signed-prescriptions/SignatureAlgorithmSha256.xml
Due: none

Add the sha256Signature variable to the test resources
  packages/coordinator/tests/resources/test-resources.ts
Due: lint-coordinator, build-coordinator

adds default value to expectedUseSHA256
  packages/coordinator/tests/logging/expectations.ts
Due: lint-coordinator, build-coordinator

adds default value for create-hash hashing algorithm
  packages/coordinator/src/routes/create-hash.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/dispense/verify-signature.ts
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

updates request parameters to use hashing algorithm
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
