Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Fixed broken tests
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

Updated snapshot
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

Reverting to see if fixing ecs issue in pipeline
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

Attempt to make call with similar method to SignalR + test
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/src/requests/helpers.ts
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Remove undefined jquery
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

fix checking for REQUIRE_ASID
  proxies/live/apiproxy/targets/apim.xml
Due: none

Return jwt in uploadsig
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server, build-epsat

new format for signing
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

use new format for signing
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

correct local body
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

construct local body correctly
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

correct format for payload
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Realised the start function and helpers refer to signing service
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/tests/pages/signPage.spec.tsx
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Reverted page changes
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

Removed typeguard from sign response as not needed
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

Temporary test comments
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

minor changes and reverts to get green pipeline
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

Test changes
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

still need to await renderpage dopey
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

Snapshot update
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

Removed redirect and test for redirect
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/tests/pages/signPage.spec.tsx
Due: lint-epsat-client, build-epsat

snapshot update
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
Due: none

Added $ jquery
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

jquery import
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

Jquery
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

hubconnection
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

Jquery install
  packages/tool/site/client/package.json
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

Missed packagejson
  package-lock.json
Due: none

tsconfig changes
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/tsconfig.json
Due: lint-epsat-client, build-epsat

Revert tsconfig
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/tsconfig.json
Due: lint-epsat-client, build-epsat

Removed exclude
  packages/tool/site/client/tsconfig.json
Due: lint-epsat-client, build-epsat

Last try for today 18:54
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/client/tsconfig.json
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client, build-epsat

Spent 2 extra hours last night, nothing, 10 minutes in the morning, Jquery sorted
  package-lock.json
  packages/tool/site/client/package.json
  packages/tool/site/client/src/requests/callCredentialManager.ts
Due: lint-epsat-client, build-epsat

Slight revert after seeing and understanding the signing service overview
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/client/src/requests/callCredentialManager.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Trigger pipelines
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

Understanding more, returning Signed JWT payload
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-server, build-epsat

Log
  packages/tool/site/client/src/pages/signPage.tsx
Due: lint-epsat-client, build-epsat

Stop second guessing
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-server, build-epsat

jwt log
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

JWT passing
  packages/tool/site/client/src/pages/signPage.tsx
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/mock-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat
