Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

added make install-python to bash script that calls the regressions tests step
  azure/templates/run_tests.yml
Due: none

put PR_NUMBER in {} instead of ()
  azure/templates/run_tests.yml
Due: none

AEA-3622 Fix GitHub actionlint errors and enable (#1939)
  .devcontainer/Dockerfile
  .github/workflows/continuous-integration.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .pre-commit-config.yaml
  .tool-versions
  Makefile
Due: none

adds print statements
  scripts/run_regression_tests.py
Due: none

lints
  scripts/run_regression_tests.py
Due: none

changes var name
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

changes pr number to pr label
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

switched regression tests run branch to AEA-3713 for testing purposes
  scripts/run_regression_tests.py
Due: none

use promise based xsd-schema-validator
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

return "ref" back to "main"
  scripts/run_regression_tests.py
Due: none

Changed "main" back to "run-me-for-failed-test" for testing that failures work as expected
  scripts/run_regression_tests.py
Due: none

Changed "run-me-for-failed-test" to "AEA-3713" for testing that passing in the environment name as a variable works
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

Removed step from post_dev_deploy.yml & post_int_deploy.yml now only runs from run_tests.yml if not deploying to "ref" or "prod"
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/run_tests.yml
Due: none

changed ref from "AEA-3713" to "main"
  scripts/run_regression_tests.py
Due: none

Updated README.md
  README.md
Due: none

fixed condition
  azure/templates/run_tests.yml
Due: none

restructured if to look like the working example of the one below it which hopefully fixes the error in azure devOps
  azure/templates/run_tests.yml
Due: none

AEA-3578 - CI Automated Tests (#1891)
  README.md
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

added new line to README.md DO NOT MERGE
  README.md
Due: none

remove route to ping so it should fail
  proxies/live/apiproxy/proxies/default.xml
Due: none

disable ping
  azure/azure-release-template.yml
Due: none

adds logic to check for existence of ods code of reimbursementAuthority
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Ods-Value-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

adds error code to eps api documentation
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

upgrade @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Due: none

edits error message
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, build-coordinator

adds unit test for uncovered line
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

Amend documentation references
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

edits error message
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

addresses review comments
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

removed linting comments
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator

AEA2962 - Provide a clear error message when the ODS code of the reimbursement authority is missing (#2028)
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Ods-Value-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

AEA-3783 Update FHIR API OAS spec to indicate "In production" status (#2027)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

fix calculate_version to look at whole message for commands
  scripts/calculate_version.py
Due: none

fix calculate_version to look at whole message for commands (#2032)
  scripts/calculate_version.py
Due: none

fix regex now we are not in beta
  azure/templates/pre_int_deploy.yml
Due: none

fix regex now we are not in beta (#2033)
  azure/templates/pre_int_deploy.yml
Due: none

adds error in diagnostics
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

update to latest xsd-schema-validator
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

AEA-3772 Update xsd schema validator (#1977)
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
Due: lint-coordinator, build-coordinator

adds extra checks
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Url-for-ReimbursementAuthority.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
Due: lint-coordinator, build-coordinator
