Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

removes example to check if pipeline fails
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-Multiple-Dosages-200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds example with response
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-Multiple-DosageInstructions-Send_200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

applies review comments
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-models, oas-build-checks, build-coordinator

applies review comments
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

added "product": "EPS-FHIR" to request to run regression tests workflow
  scripts/run_regression_tests.py
Due: none

AEA-3818 - FHIR API to return more descriptive error code when dosage sequence number missing (#2092)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-Multiple-DosageInstructions-Send_200_OK.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
  packages/specification/electronic-prescription-service-api.yaml
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

AEA-3873-Regression-Tests-failing-with-code-422 (#2106)
  scripts/run_regression_tests.py
Due: none

corrects grammar
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds fullstop
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

AEA-3883 - Typo in OAS ( "Encode prescription data so it's ready to sign - Prescribing" ) (#2110)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

refactored a util function
  packages/coordinator/der_data.der
  packages/coordinator/exportedDer.der
  packages/coordinator/package.json
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/tests/resources/certificates/newCrl.js
  packages/coordinator/tests/resources/certificates/oldCrl.js
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

fix response on prepare
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-Multiple-DosageInstructions-Send_200_OK.json
Due: oas-build-checks

temp deploy to sandbox
  azure/azure-pr-pipeline.yml
Due: none

fix file names
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Prepare-Response-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Response-Multiple-DosageInstructions-Send_200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

do not deploy pull requests to sandbox
  azure/azure-pr-pipeline.yml
Due: none

revert pr-pipeline
  azure/azure-pr-pipeline.yml
Due: none

AEA-3887 fix sandbox pact tests (#2123)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Response-Multiple-DosageInstructions-Send_200_OK.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

more work on refactoring, most functions now redone with new as a prefix
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

remove newman
  package-lock.json
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

remove newman to resolve security issue (#2129)
  package-lock.json
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

adds examples
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Process-Response-Send-200_OK.json
Due: oas-build-checks

Updated references for provenance guidance
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
Due: oas-build-checks

first pass
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

tests setAgentPersonTelecom
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

unit tests convertResponsibleParty
  packages/coordinator/src/services/translation/request/practitioner.ts
  packages/coordinator/tests/resources/message-fragments/messageHeader.ts
  packages/coordinator/tests/resources/message-fragments/organization.ts
  packages/coordinator/tests/resources/message-fragments/practitionerRole.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

removes null test
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

regenerates signatures
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/seperate-telecom/1-Convert-Response-Send-200_OK.xml
Due: none

resolves code issue
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
Due: lint-coordinator, build-coordinator

adds gmc number prefix
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
Due: oas-build-checks

typo
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Process-Response-Send-200_OK.json
Due: oas-build-checks

adds validation unit test
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
Due: lint-coordinator, build-coordinator

updates validator
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

corrects gmc number
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

updates spec
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

renames telecom sources
  packages/coordinator/src/services/translation/request/practitioner.ts
Due: lint-coordinator, build-coordinator

updates spec description
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Updated create and prepare examples used, added missing response examples
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Response-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adits error message
  packages/models/errors/validation-errors.ts
Due: lint-models, build-coordinator

Revert "adits error message"
  packages/models/errors/validation-errors.ts
Due: lint-models, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
