Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

Revert "BAU-12575 Add nhsd-identity-authentication-method header to force IOS auth in RSS"
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Revert "Revert "BAU-12575 Add nhsd-identity-authentication-method header to force IOS auth in RSS""
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

AEA-3643
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Revert "Revert "Revert "BAU-12575 Add nhsd-identity-authentication-method header to force IOS auth in RSS"""
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Revert "Revert "Revert "Revert "BAU-12575 Add nhsd-identity-authentication-method header to force IOS auth in RSS""""
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

BAU-12575 Temp force audience to https://int.api.service.nhs.uk/signing-service as adding PR number to request breaks RSS
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

AEA-3643 (#1652)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

BAU-12575 Temp force sub to 555040187102 to work around unsuitable SSM param in APIM space
  packages/tool/site/server/src/config.ts
Due: lint-epsat-server, build-epsat

AEA-2943-Release-Response-Example-Updates (#1643)
  examples/spec/dispensing/release/acute-primary-example-res.json
Due: oas-build-checks

Amend pagination code to fix the SonarCloud issue
  packages/tool/site/client/src/components/pagination.tsx
Due: lint-epsat-client, build-epsat

BAU-12575 Force re-deployment
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server, build-epsat

Remove the secondary care examples and reorder the items in the dropdown menu
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Remove unnecessary acute secondary care examples
  examples/spec/prescribing/prepare/acute-secondary-example-req.json
  examples/spec/prescribing/prepare/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-res.json
Due: oas-build-checks

Amend paths to example files for the endpoint
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/spec/prescribing/prepare/acute-primary-example-req.json
  examples/spec/prescribing/prepare/acute-primary-example-res.json
  examples/spec/prescribing/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prepare/eRD-primary-example-res.json
  examples/spec/prescribing/prepare/repeat-primary-example-req.json
  examples/spec/prescribing/prepare/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Restore acute secondary care examples
  examples/spec/prescribing/prepare/acute-secondary-example-req.json
  examples/spec/prescribing/prepare/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-res.json
Due: oas-build-checks

Restore acute secondary care examples
  examples/spec/prescribing/prepare/acute-primary-example-req.json
  examples/spec/prescribing/prepare/acute-primary-example-res.json
  examples/spec/prescribing/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prepare/eRD-primary-example-res.json
  examples/spec/prescribing/prepare/repeat-primary-example-req.json
  examples/spec/prescribing/prepare/repeat-primary-example-res.json
Due: oas-build-checks

Remove acute secondary care examples
  examples/spec/prescribing/prepare/acute-secondary-example-req.json
  examples/spec/prescribing/prepare/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order-update/acute-secondary-example-res.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-req.json
  examples/spec/prescribing/prescription-order/acute-secondary-example-res.json
Due: oas-build-checks

[AEA-3624] updated version of validator
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

Revert changes to the repeate-prescribing example to fix overall.successes.spec.ts
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
Due: oas-build-checks

Revert changes to the repeate-prescribing prepare response example
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Revert changes to the prepare examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Amend prescription-order example paths
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Add the prescription order response example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Response-Send-200_OK.json
Due: oas-build-checks

Add the other response examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Process-Response-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Response-Send-200_OK.json
Due: oas-build-checks

Remove unnecessary prepare examples
  examples/spec/prescribing/prepare/acute-primary-example-req.json
  examples/spec/prescribing/prepare/acute-primary-example-res.json
  examples/spec/prescribing/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prepare/eRD-primary-example-res.json
  examples/spec/prescribing/prepare/repeat-primary-example-req.json
  examples/spec/prescribing/prepare/repeat-primary-example-res.json
Due: oas-build-checks

automerge and approve dependabot
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

[AEA-3624] Updates version of validator (#1660)
  .devcontainer/Dockerfile
  azure/azure-build-pipeline.yml
Due: none

automerge and approve dependabot (#1662)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

squash dependabot PRs
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

squash dependabot PRs (#1663)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

Amend the primary-care acute nominated-pharmacy examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

use PAT for dependabot auto merge
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

use PAT for dependabot auto merge (#1665)
  .github/workflows/dependabot_auto_approve_and_merge.yml
Due: none

BAU-12575 Force re-deployment
  packages/tool/README.md
Due: none

adds first draft of message regarding spec differences
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Revert changes to the primary-care acute nominated-pharmacy examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Remove Process Response Send file
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Response-Send-200_OK.json
Due: oas-build-checks

Add Process Response Send example
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Response-Send-200_OK.json
Due: oas-build-checks
