Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

fix valid dates in bdd
  packages/bdd-tests/util/helper.ts
Due: none

correct date
  packages/bdd-tests/util/helper.ts
Due: none

AEA-3480 remove hard coded date in BDD tests (#1540)
  packages/bdd-tests/util/helper.ts
Due: none

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

change scaling threshold
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

fix scaling on prod as well
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: none

temporarily allowed ref deploy without internal dev
  azure/azure-release-pipeline.yml
Due: none

revert change
  azure/azure-release-pipeline.yml
Due: none

AEA-3436 Fixed DispenseNotificationMedicationRequest extensions.
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/ProvenanceAgent.yaml
Due: oas-build-checks

minor content improvements
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

AEA-3436 (#1539)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
  packages/specification/schemas/components/_extensions/DispensingMedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/NHSBSAPrescriptionType.yaml
  packages/specification/schemas/components/_extensions/PrescriptionEndorsement.yaml
  packages/specification/schemas/components/_extensions/ProvenanceAgent.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Switchup of converts in translation
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
Due: lint-coordinator, build-coordinator

Update electronic-prescription-service-api.yaml (#1543)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Updated to include responsiblepractitioner extension in cancel message
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Cancel-200_OK.xml
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Cancel-200_OK.json
Due: oas-build-checks

Added tests for cancellation spec with responsible party extension
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3204 Switched to new mock auth
  packages/tool/site/client/src/components/pageHeader.tsx
  packages/tool/site/client/src/pages/loginPage.tsx
  packages/tool/site/server/src/routes/auth/login.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Fixed tests
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/loginPage.spec.tsx
Due: lint-epsat-client, build-epsat

Fixed usage of new mock auth and selenium tests
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/locators.ts
  packages/tool/site/client/src/pages/loginPage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-client, lint-epsat-server, build-epsat

Fixed branch push
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Cancel-200_OK.xml
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Cancel-200_OK.json
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

AEA-2804-Mistranslation-Fixed-Branch-Issue (#1567)
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Convert-Response-Cancel-200_OK.xml
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Cancel-200_OK.json
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

One liner update
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Made epsat selenium tests run on the correct environment
  packages/tool/azure/azure-release-template.yml
Due: none

Fixed selenium tests for new mock auth
  package-lock.json
  packages/coordinator/package.json
  packages/tool/azure/azure-release-template.yml
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/locators.ts
Due: lint-coordinator, build-coordinator

AEA-3501-Onboarding-Docs-Change (#1575)
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

fix checking for REQUIRE_ASID (#1533)
  proxies/live/apiproxy/targets/apim.xml
Due: none

AEA-3505 Do not require review data to be in future.
  packages/coordinator/src/services/translation/request/prescription.ts
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
Due: lint-coordinator, build-coordinator

require asid in qa
  azure/azure-release-pipeline.yml
Due: none

AEA-3424 require asid in qa (#1583)
  azure/azure-release-pipeline.yml
Due: none

AEA-3204 Switched to new mock auth (#1562)
  package-lock.json
  packages/coordinator/package.json
  packages/tool/e2e-tests/helpers.ts
  packages/tool/e2e-tests/locators.ts
  packages/tool/site/client/src/components/pageHeader.tsx
  packages/tool/site/client/src/pages/loginPage.tsx
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/loginPage.spec.tsx
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/auth/login.ts
Due: lint-coordinator, lint-epsat-client, lint-epsat-server, build-coordinator, build-epsat

fix epsat login in tests
  packages/tool/e2e-tests/helpers.ts
Due: none

add pull request template
  .github/pull_request_template.md
Due: none

use correct user for login
  packages/tool/e2e-tests/helpers.ts
Due: none

AEA-3551 fix EPSAT E2E tests (#1585)
  .github/pull_request_template.md
  packages/tool/e2e-tests/helpers.ts
Due: none

AEA-3505 Do not require future review date. (#1581)
  packages/coordinator/src/services/translation/request/prescription.ts
  packages/coordinator/tests/services/translation/request/cancel/cancellation.spec.ts
  packages/coordinator/tests/services/translation/request/prescription.spec.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
