Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

The Great Find & Replace V - OAS spec.
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/ReleaseResponsePractitionerRole.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/_agent.yaml
Due: oas-build-checks

Re-ordered to align with provided diagram.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Added unused manual approval stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Changed internal-dev to internal_dev in the depends_on.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added to depends_ons of same stage, for the other proper stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added depends_on to one stage, for one of the manual approval stages.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Added another unused manual approval stage.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Empty depends_ons removed.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Fine. One at a time.
  azure/azure-pr-pipeline.yml
Due: none

Removed empty depends_on from the other manual step.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

ptl_manual_approval for sandbox and int.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Testing changes by adding to pr pipelines.
  azure/azure-pr-pipeline.yml
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Stripped down a bit.
  azure/azure-pr-pipeline.yml
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Underscore changed back to hyphen in environment name.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

All depends_ons as defined on the ticket.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Removed empty depends_on from a manual step.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

Manual approvals renamed.
  azure/azure-release-pipeline.yml
  packages/tool/azure/azure-release-pipeline.yml
Due: none

Rename internal-dev to internal_dev.
  packages/tool/azure/azure-pr-pipeline.yml
Due: none

lint
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Updated details section and trying different time matcher
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Removed optional date param from time matcher
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Linting
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

Whitespacing and moved op-outcome into a variable
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3016-Bug-Fix-Release-Rejections (#1472)
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: lint-coordinator, build-coordinator

AEA-2881 - Completed return prescription for acute AEA-3004 - Fixed Invalid signature issue
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/util/helper.ts
Due: none

Removed reference to simplifier Claim documentation as our schema will now superesede this
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Create DispenseClaim.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Added new identifiers and updated Claim specification
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Further elaboration of the Claim schema and standardisation of how we talk about FHIR extension arrays
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus-Claim.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Further elaboration
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus-Claim.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

More standardisation and elaboration
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/List/CreateList.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Added non-dispensing reason schema and new replacementOf extension for Claim
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatusReason.yaml
  packages/specification/schemas/components/_extensions/replacementOf-Claim.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Added the replacementOf extension
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

clarify required entities
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Add a fix for the invalid signature issue
  packages/bdd-tests/features/releaseprescription.feature
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  packages/bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  packages/bdd-tests/services/getJWT.ts
  packages/bdd-tests/src/configs/api.ts
  packages/bdd-tests/step_definitions/releaseprescription-steps.ts
  packages/bdd-tests/util/helper.ts
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
