Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

removes epsat server verify-signature references
  packages/tool/site/server/src/routes/dispense/verify.ts
  packages/tool/site/server/src/routes/index.ts
Due: lint-epsat-server, build-epsat

removes epsat client verify-signature references
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/homePage.tsx
  packages/tool/site/client/src/pages/verifyPage.tsx
Due: lint-epsat-client, build-epsat

adds spellchecker approved word
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

removes epsat e2e tests of verify prescription
  packages/tool/e2e-tests/dispense/verifyPrescription.spec.ts
  packages/tool/e2e-tests/locators.ts
Due: none

removes verify snapshots
  packages/tool/site/client/tests/pages/__snapshots__/homePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/verifyPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/verifyPage.spec.tsx
Due: lint-epsat-client, build-epsat

fixes typo
  packages/e2e-tests/resources/common.ts
Due: none

AEA-3273 Add handling of XML special characters for patient info.
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

removes verify endpoint from smoke tests
  packages/tool/e2e-tests/live.test.ts
Due: none

AEA-3273 Add handling of XML special characters for medication.
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3273 Adjust formatting.
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3273 Adjust test name.
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3273 Group test cases together.
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

removes Verify prescription action from EPSAT
  packages/tool/site/client/src/components/common/prescriptionActions.tsx
Due: lint-epsat-client, build-epsat

AEA-2788 (#1479)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/List/CreateList.yaml
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/DispenseNotificationPractitionerRole.yaml
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatus-Claim.yaml
  packages/specification/schemas/components/_extensions/EPSTaskBusinessStatusReason.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
  packages/specification/schemas/components/_extensions/replacementOf-Claim.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/components/_fragments/groupIdentifier.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

removes verify reference from prescriptionSummaryList
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
Due: lint-epsat-client, build-epsat

removes verify reference from releasePage
  packages/tool/site/client/src/pages/releasePage.tsx
Due: lint-epsat-client, build-epsat

AEA-2847- WIP
  packages/bdd-tests/README.md
  packages/bdd-tests/testData/epsPrepare.json
  packages/bdd-tests/testData/miscJSON.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

removes reference to verify from myPrescriptions
  packages/tool/site/client/src/components/my-prescriptions/myPrescriptions.tsx
Due: lint-epsat-client, build-epsat

updates snapshots
  packages/tool/site/client/tests/pages/__snapshots__/myPrescriptionsPage.spec.tsx.snap
Due: none

AEA-3273 Adjust key names in test.
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
Due: lint-coordinator, build-coordinator

AEA-3273 Apotec: XML characters in additional instructions are incorrectly parsed (#1499)
  packages/coordinator/src/services/translation/response/release/additional-instructions.ts
  packages/coordinator/tests/services/translation/response/release/additional-instructions.spec.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
Due: lint-coordinator, build-coordinator

removes reference to Tracker from e2e tests
  packages/e2e-tests/resources/common.ts
Due: none

Changes based on Matt peer review
  packages/specification/schemas/components/Organization/DispenseNotificationOrganization.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

Changed task-code to mandatory abort
  packages/specification/schemas/requests/dispensing/Withdraw.yaml
Due: oas-build-checks

adds conditional to ensure crl contains revoked certificates list
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

refactors for cognitive complexity
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
Due: lint-coordinator, build-coordinator

AEA-3315 Fixed schema validation for not dispensed DN
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  packages/coordinator/src/services/translation/request/dispense/dispense-notification.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

removes references to tracker in e2e tests
  packages/e2e-tests/specs/live/tracker.spec.ts
  packages/e2e-tests/specs/sandbox/tracker.spec.ts
Due: none

removes tracker endpoint from e2e tests
  packages/e2e-tests/broker/verify.ts
Due: none

Fixed dispense case to match ID from corresponding send
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

Fixed dispense case to match long ID from corresponding send
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
Due: oas-build-checks

Fixed ID casing
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Convert-Response-Dispense-200_OK.xml
Due: none

Removes tracker endpoint from epsat server
  packages/tool/site/server/src/routes/tracker/tracker.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
Due: lint-epsat-server, build-epsat

removes ability to cancel prescriptions from prescription summary view to avoid call to /tracker
  packages/tool/e2e-tests/prescribe/cancelPrescription.spec.ts
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
Due: lint-epsat-client, build-epsat

removes call to tracker from epsat client
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/trackerViewPrescription.tsx
Due: lint-epsat-client, build-epsat
