Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

OAS fixes for swagger-cli (#1443)
  packages/specification/package.json
Due: oas-build-checks

AEA-3142 Schema validation on all dispensing messages
  .devcontainer/Dockerfile
  .tool-versions
  Makefile
  README.md
  azure/azure-build-pipeline.yml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Convert-Response-Withdraw-200_OK.xml
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Claim-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Convert-Response-Claim-200_OK.xml
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/translation/request/withdraw/withdraw.ts
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/convert.validations.spec.ts
  packages/coordinator/tests/services/translation/schema/Claim.xsd
  packages/coordinator/tests/services/translation/schema/DispenseNotification.xsd
  packages/coordinator/tests/services/translation/schema/PatientRelease.xsd
  packages/coordinator/tests/services/translation/schema/Return.xsd
  packages/coordinator/tests/services/translation/schema/Withdraw.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCAI_MT040101UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/MCCI_MT010101UK12.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT024001UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121002UK30.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT121301UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT136001UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/PORX_MT142001UK31.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120201UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120301UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120401UK02.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120501UK03.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT120901UK01.xsd
  packages/coordinator/tests/services/translation/schema/mim/UKCT_MT121001UK01.xsd
  packages/coordinator/tests/services/translation/schema/w3/NarrativeBlock.xsd
  packages/coordinator/tests/services/translation/schema/w3/datatypes.xsd
  packages/coordinator/tests/services/translation/schema/w3/voc.xsd
  packages/coordinator/tests/services/translation/schema/w3/xhtmlNPfITPresentationText.xsd
  packages/models/examples/cases/convert-case.ts
  packages/models/examples/fetchers/index.ts
  packages/models/examples/fetchers/schema-files-fetcher.ts
Due: lint-models, lint-coordinator, oas-build-checks, build-coordinator

AEA-2848 Added feature to include multi-line items
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/medicationDispense.json
  bdd-tests/pacts/medicationRequest.json
  bdd-tests/services/getJWT.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added more scenarios
  bdd-tests/babel.config.js
  bdd-tests/babel.config.json
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/dispensenotification.feature
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest.config.js
  bdd-tests/jest.config.json
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_dispense.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/pacts/misc_json.ts
  bdd-tests/pacts/provenance.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/ap.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/tsconfig.json
  bdd-tests/util/Signature.txt
  bdd-tests/util/genId.ts
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

AEA-2848 Added feature to include multi-line items
  bdd-tests/.env.dev
  bdd-tests/features/dispensenotification.feature
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/certificate.pem.old.bare
  bdd-tests/pacts/misc_json.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/step_definitions/dispensenotification-steps.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
  bdd-tests/step_definitions/shared-steps.ts
  bdd-tests/testData/eps_dispense.json
  bdd-tests/testData/eps_prepare.json
  bdd-tests/testData/eps_process_prepare.json
  bdd-tests/testData/eps_release.json
  bdd-tests/testData/medicationDispense.json
  bdd-tests/testData/medicationRequest.json
  bdd-tests/testData/misc_json.ts
  bdd-tests/testData/provenance.json
  bdd-tests/util/helper.ts
  bdd-tests/util/templates.ts
Due: none

Added Automation Framework
  bdd-tests/.env.dev
  bdd-tests/.env.qa
  bdd-tests/.env.sandbox
  bdd-tests/.gitignore
  bdd-tests/README.md
  bdd-tests/babel.config.js
  bdd-tests/config/dev.js
  bdd-tests/config/test.js
  bdd-tests/features/releaseprescription.feature
  bdd-tests/jest
  bdd-tests/jest.config.js
  bdd-tests/keymaterial/README.md
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem
  bdd-tests/keymaterial/SELF_SIGNED_certificate.pem.bare
  bdd-tests/keymaterial/certificate.crt
  bdd-tests/keymaterial/certificate.pem
  bdd-tests/keymaterial/certificate.pem.bare
  bdd-tests/keymaterial/pubkey.pem
  bdd-tests/keymaterial/publicKey.pem
  bdd-tests/npm
  bdd-tests/npm@1.0.0
  bdd-tests/package-lock.json
  bdd-tests/package.json
  bdd-tests/pacts/eps_prepare.json
  bdd-tests/pacts/eps_process_prepare.json
  bdd-tests/pacts/eps_release.json
  bdd-tests/services/getJWT.ts
  bdd-tests/services/getaccessToken.ts
  bdd-tests/src/configs/api.ts
  bdd-tests/src/configs/spec.ts
  bdd-tests/step_definitions/releaseprescription-steps.ts
Due: none

avoid dos in regex
  scripts/identify_external_release_changes.py
Due: none

adds USE_SHA256_PREPARE environment variable
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

adds spellchecker approved word
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

updates createHash to use SHA1 and SHA256
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

updates prepare endpoint to use dynamic hashing algorithm
  packages/coordinator/src/routes/prescribe/prepare.ts
Due: lint-coordinator, build-coordinator

updates digest value to use dynamic hashing algorithm
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

adds spellchecker words
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

updates algorithm identifiers
  packages/coordinator/src/services/translation/request/index.ts
Due: lint-coordinator, build-coordinator

Add doseAndRate to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Remove doseAndRate from dosageInstruction
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add sequence to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

APM-4219 Use reportDirectory for coverage report
  azure/azure-build-pipeline.yml
Due: none

adds feature flag and updates payload tests
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/src/utils/feature-flags.ts
  packages/coordinator/tests/logging/expectations.ts
Due: lint-coordinator, build-coordinator

updates payload audit to pass endpoint path
  packages/coordinator/tests/logging/incomingPayloads.spec.ts
Due: lint-coordinator, build-coordinator

APM-4219 Add report to tmp
  azure/azure-build-pipeline.yml
Due: none

updates readme to include environment variable
  README.md
Due: none

package-lock updates
  package-lock.json
Due: none

APM-4219 Point at branch utils
  azure/azure-build-pipeline.yml
  azure/azure-pr-pipeline.yml
Due: none

Add patientInstruction to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Amend the text example in dosageInstruction
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Revert the text example in dosageInstruction
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add boundsDuration to the timing property in dosageInstruction and amend the text example
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add additionalInstruction to dosageInstruction and amend the text property example
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Reorder the dosageInstruction properties and correct typos
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add the site property to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Correct the typo
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add the method property to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add asNeededBoolean to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Amend the asNeededBoolean property
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Add maxDosePerAdministration to dosageInstruction in MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
