Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

pin ubuntu in github actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/pr-link.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
  .github/workflows/update_validator_version.yml
Due: none

Update MedicationRepeatInformation.yaml
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
Due: oas-build-checks

fix pact tests in main pipeline
  .github/workflows/release.yml
Due: none

Fix file name
  scripts/update_validator_version.sh
Due: none

Docs: [AEA-4409] - Update Review Date description in OAS (#3084)
  packages/specification/schemas/components/_extensions/MedicationRepeatInformation.yaml
Due: oas-build-checks

Fix: [AEA-0000] - fix pact tests in main pipeline (#3085)
  .github/workflows/release.yml
Due: none

Fix: [AEA-0000] - Use proper format for example field in reimbursement authority OAS (#3058)
  packages/specification/schemas/components/_extensions/ODSOrganisationRelationships.yaml
Due: oas-build-checks

fix sandbox pact tests
  packages/e2e-tests/broker/verify.ts
Due: none

Fixed usage of fhirpath to account for promises
  package-lock.json
  packages/coordinator/src/routes/debug/convert.ts
  packages/coordinator/src/routes/debug/dose-to-text.ts
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/logging.ts
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/services/verification/compare-prescriptions.spec.ts
  packages/models/common/fhir-path-reader.ts
  packages/models/common/prescription.ts
Due: lint-models, lint-coordinator, build-coordinator

Update Patient.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Fixed lookups of resource types in fhirpath
  package-lock.json
  packages/coordinator/package.json
  packages/models/common/fhir-path-builder/Bundle.ts
  packages/models/common/fhir-path-builder/Claim.ts
  packages/models/common/fhir-path-builder/MessageHeader.ts
  packages/models/common/fhir-path-builder/Task.ts
  packages/models/package.json
Due: lint-models, lint-coordinator, build-coordinator

add validate path in
  .github/scripts/deploy_api.sh
  packages/specification/combineSpec.mjs
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

set log level in validator image
  .github/workflows/run_package_code_and_api.yml
  SAMtemplates/load_balancer/main.yaml
Due: none

Docs: [AEA-4412] - Update content in patient details to match PDS (#3088)
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Fixed package imports
  package-lock.json
  packages/coordinator/package.json
  packages/models/package.json
Due: lint-models, lint-coordinator, build-coordinator

hard code log level in validator
  SAMtemplates/load_balancer/main.yaml
Due: none

pass headers to validator
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

forward specific headers
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

validator log level
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

run validator tests
  scripts/run_regression_tests.py
Due: none

fix validator version
  .github/workflows/run_package_code_and_api.yml
Due: none

add metadata route
  .github/scripts/deploy_api.sh
  packages/specification/combineSpec.mjs
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

use new test tag
  scripts/run_regression_tests.py
Due: none

no security on metadata
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

pass api name to backend
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

log body in unhandled spine response
  packages/coordinator/src/services/translation/response/index.ts
Due: lint-coordinator, build-coordinator

tests for logger
  packages/coordinator/tests/services/translation/response/index.spec.ts
Due: lint-coordinator, build-coordinator

log full response including statuscode
  packages/coordinator/src/services/translation/response/index.ts
  packages/coordinator/tests/services/translation/response/index.spec.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - Log unhandled spine response (#3100)
  packages/coordinator/src/services/translation/response/index.ts
  packages/coordinator/tests/services/translation/response/index.spec.ts
Due: lint-coordinator, build-coordinator

fix pact tests
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: none

fix var substitution
  .github/workflows/run_pact_tests.yml
Due: none

fix path
  .github/workflows/run_pact_tests.yml
Due: none

Fix: [AEA-0000] - fix proxygen pact tests (#3101)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: none

really fix it
  .github/workflows/run_pact_tests.yml
Due: none

Fix: [AEA-0000] - really fix pact tests (#3102)
  .github/workflows/run_pact_tests.yml
Due: none
