Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

add sha1 app ids
  .github/workflows/pull_request.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  scripts/run_regression_tests.py
Due: none

add more app ids in
  .github/workflows/release.yml
Due: none

quote SHA1_ENABLED_APPLICATION_IDS
  Makefile
Due: none

escape quotes
  Makefile
Due: none

do not pass sha1 test parma
  scripts/run_regression_tests.py
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

try quote
  .github/workflows/pull_request.yml
  Makefile
Due: none

different quote
  Makefile
Due: none

single $
  Makefile
Due: none

put it in the toml file
  Makefile
  samconfig_package_and_deploy.toml
Due: none

replace in toml file
  .github/scripts/release_code.sh
Due: none

debugging
  .github/scripts/release_code.sh
  samconfig_package_and_deploy.toml
Due: none

make it alphanumeric
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  samconfig_package_and_deploy.toml
Due: none

everything in toml
  .github/scripts/release_code.sh
  Makefile
  samconfig_package_and_deploy.toml
Due: none

fix names
  .github/scripts/release_code.sh
  samconfig_package_and_deploy.toml
Due: none

pass app id
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

pass app id
  .github/workflows/pull_request.yml
Due: none

disable shell check
  .github/scripts/release_code.sh
Due: none

Revert "Fix: [AEA-0000] - revert "Update: [AEA-4443] - Bump FHIR validator version (#3065)" (#3122)"
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: none

use latest validator
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

use latest tag for regression test
  scripts/run_regression_tests.py
Due: none

correct tag for tests
  scripts/run_regression_tests.py
Due: none

run validator tests
  scripts/run_regression_tests.py
Due: none

Fix: [AEA-5026] - add sha1 app ids to container (#3172)
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  samconfig_package_and_deploy.toml
  scripts/run_regression_tests.py
Due: oas-build-checks

run regression tests in qa
  .github/workflows/release.yml
Due: none

use latest test pack
  scripts/run_regression_tests.py
Due: none

fix name of security group
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Fix: [AEA-5029] - use latest version of validator (#3176)
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: oas-build-checks

different artifact name
  .github/workflows/run_pact_tests.yml
Due: none

Fix: [AEA-0000] - different artifact name for pact tests (#3178)
  .github/workflows/run_pact_tests.yml
Due: none

handle missing performer
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/tests/services/translation/response/spine-response-handler.spec.ts
Due: lint-coordinator, build-coordinator

Revert "Fix: [AEA-5029] - use latest version of validator (#3176)"
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: oas-build-checks

pick correct commits
  .github/workflows/release.yml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Fix: [AEA-5037] - handle no details in release response when no details are in the response (#3182)
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/coordinator/src/services/translation/response/spine-response-handler.ts
  packages/coordinator/tests/services/translation/response/spine-response-handler.spec.ts
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: lint-coordinator, build-coordinator

Fix: [AEA-5029] - use latest version of validator (#3176)
  .devcontainer/Dockerfile
  .github/workflows/run_package_code_and_api.yml
  azure/azure-build-pipeline.yml
  packages/bdd-tests/features/createPrescription.feature
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: none

wip on using cdk
  .gitignore
  .vscode/electronic-prescription-service-api.code-workspace
  Makefile
  cdk.context.json
  cdk.json
  package-lock.json
  package.json
  packages/cdk/.gitignore
  packages/cdk/bin/PrescribeDispenseApp.ts
  packages/cdk/jest.config.ts
  packages/cdk/jest.debug.confi.ts
  packages/cdk/nagsuppression.ts
  packages/cdk/package.json
  packages/cdk/resources/prescribe-dispense-stack.ts.ignore
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/cdk/test/prescribe-dispense.test.ts
  packages/cdk/tsconfig.json
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

deploy the cdk app
  .gitallowed
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  Makefile
  cdk.json
  packages/cdk/bin/PrescribeDispenseApp.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/nagsuppression.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/cdk/test/prescribe-dispense.test.ts
  packages/e2e-tests/services/update-prescriptions.ts
  scripts/run_cfn_guard.sh
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
