Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
        name: Check for merge conflict strings

      - id: end-of-file-fixer
        name: Fix missing newline at the end of files

      - id: check-shebang-scripts-are-executable
        name: Check shell scripts are executable
        types: [bash, shell]

      - id: check-yaml
        name: Check pipelines configuration
        files: ^(azure|packages\/tool\/azure)

  - repo: local
    hooks:
      - id: lint-models
        name: Lint models
        entry: npm
        args: ["run", "--prefix=packages/models", "lint"]
        language: system
        files: ^packages\/models
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-coordinator
        name: Lint coordinator
        entry: npm
        args: ["run", "--prefix=packages/coordinator", "lint"]
        language: system
        files: ^packages\/coordinator
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-client
        name: Lint EPSAT client
        entry: npm
        args: ["run", "--prefix=packages/tool/site/client", "lint"]
        language: system
        files: ^packages\/tool\/site\/client
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: lint-epsat-server
        name: Lint EPSAT server
        entry: npm
        args: ["run", "--prefix=packages/tool/site/server", "lint"]
        language: system
        files: ^packages\/tool\/site\/server
        types_or: [ts, tsx, javascript, jsx, json]
        pass_filenames: false

      - id: oas-build-checks
        name: Build OAS
        entry: make
        args: ["build-specification"]
        language: system
        files: ^(examples|packages\/specification)
        types_or: [json, yaml]

      - id: build-coordinator
        name: Build coordinator
        entry: make
        args: ["build-coordinator"]
        language: system
        files: ^packages\/(models|coordinator)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-epsat
        name: Build EPSAT
        entry: make
        args: ["build-epsat"]
        language: system
        files: ^packages\/tool\/site\/(client|server)
        types_or: [ts, tsx, javascript, jsx, json]

      - id: build-proxies
        name: Build Apigee proxies configuration
        entry: make
        args: ["build-proxies"]
        language: system
        files: ^proxies\/(live|sandbox)
        types_or: [xml]

fail_fast: true
default_stages: [commit]

better message on test failures
  scripts/run_regression_tests_github.py
Due: none

common function to calculate environment
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/src/services/communication/tracker/tracker-client.ts
  packages/coordinator/src/services/communication/tracker111/index.ts
  packages/coordinator/src/utils/feature-flags.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/services/communication/spine-client-factory.spec.ts
Due: lint-coordinator, build-coordinator

one script for test runs
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

fix script
  scripts/run_regression_tests.py
Due: none

another one
  scripts/run_regression_tests.py
Due: none

correct gh pages link
  scripts/run_regression_tests.py
Due: none

correct link
  scripts/run_regression_tests.py
Due: none

pass arg differently
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

fix lint
  scripts/run_regression_tests.py
Due: none

fix azure
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: none

remove unused script
  scripts/run_regression_tests_github.py
Due: none

use github url
  scripts/run_regression_tests.py
Due: none

Allowed new lines on the end of certificates in signatures.
  proxies/live/apiproxy/policies/AssignMessage.AddApplicationIdHeader.xml
Due: none

Added default application id header for sandbox
  packages/coordinator/src/services/serialisation/xml.ts
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

Reverted incorrect ts linting change
  packages/coordinator/src/services/serialisation/xml.ts
Due: lint-coordinator, build-coordinator

fix secrets
  .gitallowed
Due: none

update secrets
  .gitallowed
Due: none

known secrets
  .gitallowed
Due: none

Fixed prepare pact test generation for SHA-256
  packages/e2e-tests/specs/sandbox/prepare.successes.spec.ts
Due: none

Fixed prepare pact test generation on live for SHA-256
  packages/e2e-tests/specs/live/prepare.successes.spec.ts
Due: none

log some more stuff
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

pass the asid
  packages/coordinator/src/routes/dispense/claim.ts
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/routes/dispense/task.ts
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/src/services/communication/tracker/tracker-client.ts
  packages/coordinator/src/services/translation/response/spine-return-handler.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

fix polling url
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

dummy operation for task
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

increase timeout on test
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

correct polling url
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

pass in ca cert
  .gitallowed
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

script to combine spec
  package-lock.json
  packages/specification/combineSpec.mjs
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/specification/package.json
Due: oas-build-checks

export SUBCACC_CERT
  .github/scripts/release_code.sh
Due: none

correct var
  .github/workflows/run_release_code_and_api.yml
Due: none

get cert from secret
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

fix creating spec
  Makefile
  packages/specification/.gitignore
  packages/specification/Makefile
  packages/specification/combineSpec.mjs
Due: none

fix template
  SAMtemplates/load_balancer/main.yaml
Due: none

tidy things up
  .github/scripts/release_code.sh
  .github/workflows/run_package_code_and_api.yml
  Makefile
  packages/specification/package.json
Due: oas-build-checks

flag to enable running regression test
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
Due: none

do not poll first time
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

remove dummy paths before publishing spec
  .github/scripts/deploy_api.sh
Due: none
