Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

More progress on aligning ReleaseResponseMedicationRequest to Service Overview.
  packages/specification/schemas/components/MedicationRequest/ReleaseResponseMedicationRequest.yaml
  packages/specification/schemas/components/PractitionerRole/ReleaseResponsePractitionerRole.yaml
Due: oas-build-checks

Patient converted and added to schema.
  packages/specification/convert/patient.json
  packages/specification/convert/patient.yaml
  packages/specification/schemas/response/dispense/Release.yaml
Due: oas-build-checks

Practitioner resource added for ReleaseResponse and included in Release.
  packages/specification/convert/Practitioner.json
  packages/specification/convert/Practitioner.yaml
  packages/specification/schemas/components/Practitioner/ReleaseResponsePractitioner.yaml
  packages/specification/schemas/response/dispense/Release.yaml
Due: oas-build-checks

Added required fields to and under failedPrescriptions.
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
Due: oas-build-checks

Reinstate Ant's changes removed by rebase.
  packages/specification/package.json
Due: oas-build-checks

Unneeded example files removed.
  packages/specification/convert/MedicationRequest.json
  packages/specification/convert/MedicationRequest.yaml
  packages/specification/convert/MessageHeader.json
  packages/specification/convert/MessageHeader.yaml
  packages/specification/convert/Organization.json
  packages/specification/convert/Organization.yaml
  packages/specification/convert/Parameters.json
  packages/specification/convert/Parameters.yaml
  packages/specification/convert/Patient.json
  packages/specification/convert/Patient.yaml
  packages/specification/convert/Practitioner.json
  packages/specification/convert/Practitioner.yaml
  packages/specification/convert/PractitionerRole.json
  packages/specification/convert/PractitionerRole.yaml
  packages/specification/convert/Provenance.json
  packages/specification/convert/Provenance.yaml
  packages/specification/convert/example-a.yaml
  packages/specification/convert/example-b.yaml
  packages/specification/convert/passedPrescriptions.json
  packages/specification/convert/passedPrescriptions.yaml
  packages/specification/convert/proof.json
  packages/specification/convert/proof.yaml
Due: oas-build-checks

First adjustments to Release.yaml. May need to change direction to using oneOf.
  packages/specification/schemas/response/dispense/Release.yaml
Due: oas-build-checks

do we need to assign vars
  azure/azure-release-template.yml
Due: none

do not need to explicitly set variables
  azure/azure-release-template.yml
Due: none

get secret files
  azure/azure-release-template.yml
Due: none

get variables each step
  azure/azure-release-template.yml
Due: none

set full directory
  azure/azure-release-template.yml
Due: none

Removal of location resource from spec
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/Location/CreateLocation.yaml
Due: oas-build-checks

show secret files
  azure/azure-release-template.yml
Due: none

override to int
  azure/azure-release-template.yml
Due: none

set working directory
  azure/azure-release-template.yml
Due: none

Updated paths for spec
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

set apigee environment before calling get token
  azure/azure-release-template.yml
Due: none

fix working directory
  azure/azure-release-template.yml
Due: none

throw error if signing cert has expired
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

fix path for new keys
  azure/azure-release-template.yml
Due: none

Removed refes to primary/secondary care in org resource
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

fix paths
  azure/azure-release-template.yml
Due: none

fix path
  azure/azure-release-template.yml
Due: none

use new certs
  azure/azure-release-template.yml
Due: none

do not override to int to see if it works
  azure/azure-release-template.yml
Due: none

AEA-2802 Release endpoint response schema
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/CommunicationRequest/CommunicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/extensions/DispensingInformation.yaml
  packages/specification/schemas/components/MessageHeader/CreateRequestMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/components/OperationOutcome/OperationOutcome.yaml
  packages/specification/schemas/components/OperationOutcome/ReleaseResponseOperationOutcome.yaml
  packages/specification/schemas/components/OperationOutcome/extensions/SpineSupportingInfoPrescription.yaml
  packages/specification/schemas/components/Practitioner/ReleaseResponsePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/ReleaseResponsePractitionerRole.yaml
  packages/specification/schemas/components/Provenance/Provenance.yaml
  packages/specification/schemas/components/_fragments/codes.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
  packages/specification/schemas/responses/dispensing/Release.yaml
  packages/specification/schemas/responses/dispensing/failedPrescriptions.yaml
  packages/specification/schemas/responses/dispensing/passedPrescriptions.yaml
Due: oas-build-checks

show old cert
  azure/azure-release-template.yml
Due: none

output cert different format
  azure/azure-release-template.yml
Due: none

Comment out the Secondary Care - Acute (nominated) prescription to load
  packages/tool/site/client/src/pages/loadPage.tsx
Due: lint-epsat-client, build-epsat

show end of file
  azure/azure-release-template.yml
Due: none

Comment out the Secondary Care - Acute (nominated) test
  packages/tool/e2e-tests/dispense/verifyPrescription.spec.ts
Due: none

do not need to show cert anymore
  azure/azure-release-template.yml
Due: none

change practioner code for new cert
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Send-200_OK.json
  packages/tool/e2e-tests/messages/Non-ASCII Dosage Instructions.json
  packages/tool/e2e-tests/messages/Non-ASCII Note to dispenser.json
  packages/tool/e2e-tests/messages/Non-ASCII Patient additional Instructions.json
  packages/tool/e2e-tests/messages/XML tag Dosage Instructions.json
  packages/tool/e2e-tests/messages/XML tag Note to dispenser.json
  packages/tool/e2e-tests/messages/XML tag Patient additional Instructions.json
  packages/tool/site/client/src/services/test-packs/practitioners.ts
Due: lint-epsat-client, oas-build-checks, build-epsat

fix more examples
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Send-200_OK.json
  packages/e2e-tests/auth/src/oauth.ts
  packages/e2e-tests/auth/tests/oauth.spec.ts
  packages/e2e-tests/broker/verify.ts
  packages/tool/e2e-tests/messages/Non-ASCII Dosage Instructions.json
  packages/tool/e2e-tests/messages/Non-ASCII Note to dispenser.json
  packages/tool/e2e-tests/messages/Non-ASCII Patient additional Instructions.json
  packages/tool/e2e-tests/messages/XML tag Dosage Instructions.json
  packages/tool/e2e-tests/messages/XML tag Note to dispenser.json
  packages/tool/e2e-tests/messages/XML tag Patient additional Instructions.json
  packages/tool/site/client/src/services/test-packs/practitioners.ts
Due: lint-epsat-client, oas-build-checks, build-epsat

fixes spelling
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

added reference to operation outcome schema
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

adds words to spellcheck list
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
