Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

update .gitallowed
  .gitallowed
Due: none

Chore: [AEA-0000] - fix AWS session name in github actions (#2973)
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/sam_release_code.yml
Due: none

Updated tests to work with new SHA-256 parameter
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/separate-telecom/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Prepare-Response-200_OK.json
  packages/coordinator/src/routes/prescribe/prepare.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/debug/prepare.spec.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/e2e-tests/services/update-prescriptions.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

Add app id header to apigee proxy
  proxies/live/apiproxy/targets/apim.xml
Due: none

comment out releasing cf code
  .github/workflows/run_release_code_and_api.yml
Due: none

no need to output payload
  .github/scripts/deploy_api.sh
Due: none

add aws-login target
  Makefile
Due: none

enable source maps when running
  packages/coordinator/package.json
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

Fix: [AEA-4860] - enable source maps when running in docker (#2983)
  packages/coordinator/package.json
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-server, build-coordinator, build-epsat

fix mtls_spine_client check
  packages/coordinator/src/services/communication/spine-client.ts
Due: lint-coordinator, build-coordinator

fix target spine server
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: none

put status in mtls client
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

use new image tag for each push
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
Due: none

update error message
  .github/workflows/pull_request.yml
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

correct log groups
  SAMtemplates/load_balancer/main.yaml
Due: none

log http agent
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

fix ecs service
  SAMtemplates/load_balancer/main.yaml
Due: none

use correct agent
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

use common code
  packages/coordinator/src/routes/health/get-status.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/utils/status.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/sam_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: none

temp depoly mtls key
  .github/scripts/deploy_api.sh
Due: none

Fix: [AEA-0000] - update AWS docker deployment (#2987)
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/sam_release_code.yml
  Makefile
  SAMtemplates/load_balancer/main.yaml
  SAMtemplates/main_template.yaml
  packages/coordinator/src/routes/health/get-status.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/spine-client.ts
  packages/coordinator/src/utils/status.ts
Due: lint-coordinator, build-coordinator

do not create mtls secret on pr
  .github/scripts/deploy_api.sh
Due: none

uncomment release code step
  .github/workflows/run_release_code_and_api.yml
Due: none

use app leevl 3 everywhere
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

fix security
  .github/scripts/deploy_api.sh
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

enable prescribe/dispense in aws
  SAMtemplates/load_balancer/main.yaml
Due: none

add new scopes
  packages/coordinator/src/services/validation/scope-validator.ts
Due: lint-coordinator, build-coordinator

run regression tests
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
  azure/templates/run_tests.yml
  packages/coordinator/src/services/validation/scope-validator.ts
  scripts/run_regression_tests_azure.py
  scripts/run_regression_tests_github.py
Due: lint-coordinator, build-coordinator

output regression tests url
  .github/workflows/run_regression_tests.yml
  scripts/run_regression_tests_azure.py
  scripts/run_regression_tests_github.py
Due: none

hard code scope for now
  packages/coordinator/src/utils/headers.ts
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

fix lint
  scripts/run_regression_tests_azure.py
  scripts/run_regression_tests_github.py
Due: none

add dummy process-message endpoint
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

better error logging of errors
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

fix test
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

even better logging
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

better logging
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

all the vars
  SAMtemplates/load_balancer/main.yaml
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

no need to set base path
  SAMtemplates/load_balancer/main.yaml
Due: none

better logging
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
