Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, build-coordinator, build-epsat

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

build-epsat:
  name: Build EPSAT
  entry: make
  args:
  - build-epsat
  language: system

updates prescription creation to use new dosage instructions
  packages/coordinator/src/services/translation/request/line-item.ts
Due: lint-coordinator, build-coordinator

Reverted digest change
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Final digest reverts, praying
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
Due: oas-build-checks

digests to fix tests
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
Due: oas-build-checks

Trying new prepares one more time, revert if breaks again
  examples/primary-care/acute-and-repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/din/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/no-nominated-pharmacy/medical-prescriber/author/unknown/1-Prepare-Response-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/spurious-code/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/no-nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/multiple-drugs/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/medication-reference/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/multiple-medications/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/prescribing-and-professional-codes/controlled-drugs/additional-instructions/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/nurse/professional-code/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/paramedic/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/non-prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Prepare-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/5-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Prepare-Response-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Prepare-Response-200_OK.json
Due: oas-build-checks

Comment out the suspected validator
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

Remove the commented out code
  packages/coordinator/src/services/validation/bundle-validator.ts
Due: lint-coordinator, build-coordinator

Revert changes to the validators
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/models/errors/validation-errors.ts
Due: lint-models, lint-coordinator, build-coordinator

[AEA-2820] Dispense Notification Endpoint - Response Schema (#1418)
  .vscode/electronic-prescription-service-api.code-workspace
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Missed the org resource change like a fool
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Prepare-Request-200_OK.json
Due: oas-build-checks

removed file accidentally duplicated in merge
  packages/specification/schemas/MessageHeader/CreateRequestMessageHeader.yaml
Due: oas-build-checks

AEA-3119 - Description updates to prescribing endpoints (#1403)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MessageHeader/CancelRequestMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/CancelResponseMessageHeader.yaml
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/components/Patient/Patient.yaml
  packages/specification/schemas/components/Practitioner/CancelRequestPractitioner.yaml
  packages/specification/schemas/components/Practitioner/CancelResponsePractitioner.yaml
  packages/specification/schemas/components/Practitioner/CreatePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/CancelPractitionerRole.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
Due: oas-build-checks

Remove the prescriptionType checks
  packages/tool/site/client/src/services/test-packs/index.ts
  packages/tool/site/client/src/services/test-packs/placeResources.ts
Due: lint-epsat-client, build-epsat

Renamed swagger.yml to swagger.yaml
  packages/specification/package.json
  packages/specification/swagger.yaml
Due: oas-build-checks

Removed unnecessary/incorrect OperationOutcome schema.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Comparison.
  packages/specification/Makefile
  packages/specification/package.json
  packages/specification/speccy/electronic-prescription-service-api.json
  packages/specification/speccy/electronic-prescription-service-api.resolved.json
  packages/specification/speccy/electronic-prescription-service-api.resolved.yaml
  packages/specification/swagger/electronic-prescription-service-api.json
  packages/specification/swagger/electronic-prescription-service-api.resolved.json
  packages/specification/swagger/electronic-prescription-service-api.resolved.yaml
Due: oas-build-checks

First batch of linting issues sorted.
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Using swagger dereference flag.
  packages/specification/package.json
  packages/specification/swagger.yml
Due: oas-build-checks

Ready for review.
  package-lock.json
  packages/specification/Makefile
  packages/specification/package.json
  scripts/yaml2json.py
Due: oas-build-checks

Created json files to diff. Speccy copied from /dist. Swagger using default output.
  packages/specification/package.json
  packages/specification/speccy.json
  packages/specification/swagger.json
Due: oas-build-checks

Second batch of linting issues sorted.
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/speccy.yaml
Due: oas-build-checks

Outputting swagger resolve as json.
  packages/specification/Makefile
  packages/specification/package.json
  packages/specification/swagger/electronic-prescription-service-api.json
  packages/specification/swagger/electronic-prescription-service-api.resolved.json
Due: oas-build-checks

Old comparison files removed.
  packages/specification/speccy.json
  packages/specification/speccy.yaml
  packages/specification/swagger.json
  packages/specification/swagger.yaml
Due: oas-build-checks

Re-installed swagger-cli following rebase.
  package-lock.json
  packages/specification/package.json
Due: oas-build-checks

No longer dereferencing in swagger command.
  packages/specification/package.json
  packages/specification/swagger.yaml
Due: oas-build-checks

Package lock.
  package-lock.json
Due: none

To try via a PR.
  packages/specification/package.json
Due: oas-build-checks

Comparison files removed.
  packages/specification/speccy/electronic-prescription-service-api.json
  packages/specification/speccy/electronic-prescription-service-api.resolved.json
  packages/specification/speccy/electronic-prescription-service-api.resolved.yaml
  packages/specification/swagger/electronic-prescription-service-api.json
  packages/specification/swagger/electronic-prescription-service-api.resolved.json
  packages/specification/swagger/electronic-prescription-service-api.resolved.yaml
Due: oas-build-checks

Removed serve command and swagger editor bits.
  packages/specification/Makefile
  packages/specification/docker-compose.yml
  packages/specification/package.json
Due: oas-build-checks

Trying swagger-cli.
  package-lock.json
  packages/specification/package.json
  packages/specification/speccy.yaml
  packages/specification/swagger.yml
Due: oas-build-checks

Reverted sandbox release response
  examples/sandbox/Release-Response-200_OK.json
Due: oas-build-checks

Removed unused functions
  packages/coordinator/src/services/translation/request/organization.ts
  packages/coordinator/tests/services/translation/request/organization.spec.ts
Due: lint-coordinator, build-coordinator

updates dosage sequencing
  packages/coordinator/src/utils/dosage-instructions.ts
Due: lint-coordinator, build-coordinator

adds approved words to spellchecker
  .vscode/electronic-prescription-service-api.code-workspace
Due: none

update authored on date
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

use full path for certificates
  azure/azure-release-template.yml
Due: none

check if signing cert has expired
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

use AWS secrets for signing cert and secret
  azure/azure-release-pipeline.yml
  azure/azure-release-template.yml
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-epsat: any of: ^packages\/tool\/site\/(client|server) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
